<div class="wrapper">
    <app-header></app-header>
  
    <div class="page-wrapper">
      <div class="container-fluid">
  
  
  
        <div class="row">
          <div class="col-md-6">
            <h2 class="page-title"> {{sequencename}}<span class="fs-14" *ngIf="sequenceIndustryName != ''">({{sequenceIndustryName}})</span></h2>
          </div>
          <div class="col-md-6">
            <div class="f-right">
  
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="/sequences">Sequences</a>
                </li>
                <li class="breadcrumb-item">
                 sequence view
                </li>
              </ol>
  
            </div>
          </div>
        </div>
  
  
        <div class="body-content">
          <div class="page-header">
            <div class="row">
            
              <div class="col-12 text-right">
                <div class="page-header-links">
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="page-settings-area p-0 m-b-20">
            <div class="row">
              <div class="col-md-7 my-auto">
                <ul class="grid-settings d-flex">
                  <!-- <li class="pos-rel px-3 my-auto">
                    <label class="switch my-auto">
                      <input type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </li> -->
                  <li class="pos-rel px-3">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a [ngClass]="mainTab == 'overview' ? 'nav-item nav-link active': 'nav-item nav-link'" (click)="mainFilterTabsChanged('overview')" id="overview-tab" data-toggle="tab" href="#overview"
                          role="tab">Overview</a>                     
                        <a [ngClass]="mainTab == 'contacts' ? 'nav-item nav-link active': 'nav-item nav-link'" (click)="mainFilterTabsChanged('contacts')" id="prospects-tab" data-toggle="tab" href="#prospects"
                          role="tab">Contacts</a>
                      </div>
                    </nav>
                  </li>
                </ul>
              </div>
              <div class="col-md-5 text-right">
               
              </div>
            </div>
          </div>
  
          <div class="tab-content">
            <div [ngClass]="mainTab == 'overview' ? 'tab-pane fade show active': 'tab-pane fade'" id="overview" role="tabpanel" aria-labelledby="overview-tab">
              <div class="no-steps-container" style="display: none">
                <h4>No Steps added to this sequence yet...</h4>
                <button type="button" class="btn btn-theme-2" data-toggle="modal" data-target="#addSequenceStepPopUp">Add
                  Step</button>
              </div>
  
              <div class="sequence-steps sequenceSteps" *ngFor="let sequencestep of SequenceSteps">
                <div class="seq-step mb-4">
                  <div class="seq-step-type">
                    <div class="row">
                      <div class="col-5 d-flex my-auto">
                        <i class="fa fa-envelope mr-3"></i>
                        <h4 class="step-type fs-14"><span
                            class="step-number mr-1">{{sequencestep.Order}}.</span>
                            <span>{{sequencestep.TemplateName}}</span>
                            <span class="text-secondary"> ({{sequencestep.StepType}})</span>
                        </h4>
                      </div>
                      <div class="col-1" ngbPopover="Step Interval" triggers="mouseenter:mouseleave">
                        <span>{{sequencestep.Days}} d</span>
                        <!-- <span>{{sequencestep.Hours}} h,</span>
                        <span>{{sequencestep.Mins}} m</span> -->
                      </div>
                      <div class="col-6 text-right">
                        <span *ngIf="sequencestep.FirstScheduledDate != '0'" class="color-999">
                          <label>First Scheduled Date:</label>
                         <span class="font-weight-bold"> {{sequencestep.FirstScheduledDate}}</span>
                        </span>
                        <span *ngIf="sequencestep.UpcomingScheduledDate != '0' && sequencestep.FirstScheduledDate != '0'" class="lr-p10">|</span>
                          <span *ngIf="sequencestep.UpcomingScheduledDate != '0'" class="color-999">
                            <label>Upcoming Scheduled Date:</label>
                            <span class="font-weight-bold"> {{sequencestep.UpcomingScheduledDate}}</span>
                          </span>
                      </div>
                      <!-- <div class="col-2 text-right">
                     
                        <span class="color-999 mr-2">{{sequencestep.ElapsedDuration}}</span>
                        
                      </div> -->
                    </div>
                  </div>
                  <div class="seq-step-det">
                    <table class="table table-responsive-sm sequence-step-details mb-0">
                      <tr>
                        <td width="2%" class="pr-0">
                          <div *ngIf="sequencestep.Subscribers > 0" class="">                                                 
                            <i data-toggle="collapse" [attr.data-target]="'#info' + sequencestep.Order"
                            ngbPopover="Step overview" triggers="mouseenter:mouseleave" class="fas fa-chevron-circle-down text-primary fs-16 cursor-pointer"></i>
                            </div>
                        </td>
                        <td style="width:65%;">                         
                          <h4 class="seq-title pointer fs-14">{{sequencestep.Subject}}</h4>
                          <p class="color-999">{{sequencestep.Notes}}</p>
                         
                          <div id="{{'info'+sequencestep.Order}}" class="collapse">
                            <table>
                              <thead>
                                <th>Initiated Date</th>
                                <th>Scheduled Date</th>
                                <th>Initiated By</th>
                                <th>Contacts</th>
                                <th>Reached</th>
                                <th>Opened</th>
                                <th>Responses</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let singleInfo of sequencestep.ListOfStepsBreakUpData">
                                  <td>{{singleInfo.CreatedDate}}</td>
                                  <td>{{singleInfo.ImplementationDate}}</td>
                                  <td>{{singleInfo.Initiator}}</td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Subscribers}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Reached}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Opened}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Responses}}</h4>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                        </td>
                        <td style="width:35%;">
                          <ul class="d-sm-flex" style="list-style: none;margin-bottom: 0px;">
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Subscribers}}</h4>
                                <span *ngIf="sequencestep.Subscribers > 0; else noContacts" class="cursor-pointer" style="color: #619eda" (click)="stepContacts(sequencestep.StepId)">Contacts</span>
                              <ng-template #noContacts><span class="color-999">Contacts</span>
                              </ng-template>
                                
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Reached}}</h4>
                                <span class="color-999">Reached</span>
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                               
                                <h4 class="mb-0">{{sequencestep.Opened}}</h4>
                                <a *ngIf="sequencestep.Opened > 0; else noOpened" href="/sequence/step-contacts/{{sequenceIntId}}/{{sequencestep.StepId}}/op">
                                <span class="color-999">Opened</span>
                                </a>
                                <ng-template #noOpened><span class="color-999">Opened</span>
                                </ng-template>
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Responses}}</h4>
                                <a *ngIf="sequencestep.Responses > 0; else noResponse" href="/sequence/step-contacts/{{sequenceIntId}}/{{sequencestep.StepId}}/re">
                                <span class="color-999">Responses</span>
                                </a>
                                <ng-template #noResponse><span class="color-999">Responses</span>
                                </ng-template>
                              </div>
                            </li>
                          </ul>
                        </td>
                    
                      </tr>
                    </table>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
  
            </div>
            <div [ngClass]="mainTab == 'contacts' ? 'tab-pane fade show active': 'tab-pane fade'"  id="prospects" role="tabpanel" aria-labelledby="prospects-tab">
              <div>
                <div class="row mb-3">
                  <div class="col-sm-2">
                    <select class="form-control" *ngIf="stepsList?.length > 0" [(ngModel)]='stepSelect' (change)="StepChangedHandler($event.target.value)">
                      <option *ngFor="let step of stepsList" value="{{step.StepId}}">Step - {{step.Order}}                        
                      </option>                     
                    </select>
                  </div>
                  <div class="col-sm-8"></div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
                  </div>
                </div>
                <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"             
                [paginationPageSize]="paginationPageSize"
                [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"              
                [enableRangeSelection]="true" [pagination]="true" [rowData]="SequenceContacts"
                (gridReady)="onGridReady($event)"></ag-grid-angular>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  
  
  