<div class="wrapper">
  <app-adminheader></app-adminheader>

  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Team management</h2>
      </div>
      <div class="body-content">
        <div class="page-header">
          <div class="row">

            <div class="col-12 col-md-9 text-md-right">
              <div class="page-header-links">
                <ul class="d-flex1 float-right d-none">
                  <li>
                    <!-- <a class="header-btn" data-target="#createNewTemplateModal" data-toggle="modal">
                <i class="fa fa-plus mr-2"></i>Template
              </a> -->

                  </li>
                  <li>
                    <a class="header-btn no-border">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="page-settings-area min-vh-cust47">
          <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
              <!-- <ul class="grid-settings float-right d-flex">
          <li class="d-flex pos-rel px-3">
            <span class="my-auto">1-9 of 9</span>
            <span class="settings-btn">
              <i class="fa fa-redo color-999"></i>
            </span>
          </li>
          <li class="pos-rel px-3">
            <span class="settings-btn">Export</span>
          </li>
        </ul> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 mt-5" *ngIf="topEmployee != undefined;else noteams">
            <mui-org-chart [topEmployee]="topEmployee" (itemClick)="clickedTeam($event,template)"></mui-org-chart>
          </div>
          <ng-template #noteams>
            <div class="col-12 col-md-12 mt-5">
              <h5 class="text-center"> Teams are not available..!</h5>
            </div>
          </ng-template>
        </div>



        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{teamInfo.name}} - team</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Team Name</th>
                  <td>{{teamInfo.name}}</td>
                </tr>
                <tr>
                  <th>Team Admin</th>
                  <td>
                    <span>
                      {{teamInfo.teamOwner}}
                    </span>
                    <span class="badge mr-2 float-right cursor-pointer" popover="Update team admin"
                      triggers="mouseenter:mouseleave" (click)="openTeamAdminsList()">
                      <i class="fa fa-edit text-secondary"></i>
                    </span>
                  </td>
                </tr>
                <tr *ngIf="IsTeamAdminsListOpened">
                  <th>Select Team Admin</th>
                  <td>
                    <select class="form-control" (change)="onChangeTeamAdmin($event,teamInfo.Id)">
                      <option>--select --</option>
                      <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{teamInfo.ownerEmail}}</td>
                </tr>
                <!-- <tr>
                  <th>Team members </th>
                    <td><span>24</span>
                      <span class="badge badge-rounded badge-outline contact-info-badge ml-2" style="display: inline;;"
                        (click)="viewteammembers(viewteamMembersModal)" data-toggle="tooltip" title="View Team Members" data-placement="left">
                        <i class="fa fa-eye"></i>
                      </span>
                      </td>
                    </tr>           -->
              </tbody>
            </table>

            <div class="">
              <label><b>Team members</b><span> ({{teamInfo.teamMembers?.length}})</span></label>
              <span class="badge badge-rounded contact-info-badge float-right cursor-pointer" popover="Delete selected"
                triggers="mouseenter:mouseleave" *ngIf="btnDeleteTeamMembers" (click)="deleteTeamMembers()">
                <i class="fa fa-trash"></i>
              </span>
              <span class="badge badge-rounded contact-info-badge mr-2 float-right cursor-pointer"
                popover="Add members to team" triggers="mouseenter:mouseleave"
                (click)="addMembersToTeamModalPopUp(nonTeamMembersModal)">
                <i class="fa fa-user-plus"></i>
              </span>
            </div>

            <!-- <button class="btn btn-secondary" *ngIf="btnDeleteTeamMembers" (click)="deleteTeamMembers()">Delete Selected</button>             -->
            <!-- <button class="btn btn-info" (click)="addMembersToTeamModalPopUp(nonTeamMembersModal)">Add Members to team</button> -->

            <div *ngIf="teamInfo.teamMembers?.length > 0" class="membersContainer">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of teamInfo.teamMembers">
                    <td width="1%">
                      <label class="custom-checkbox">
                        <input type="checkbox" (change)="onChangeTeamMembers($event, member)">
                        <span class="checkmark">
                        </span>
                      </label>
                    </td>
                    <td>
                      {{member.FirstName}}</td>
                    <td>{{member.LastName}}</td>
                    <td>{{member.Email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!teamInfo.teamMembers?.length > 0">
              <h4>No data available..!</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="addteamBtnClick(addteamModal,teamInfo)">Add team</button>
            <button class="btn btn-danger" *ngIf="enableDelete"
              (click)="deleteteamBtnClick(confirmationTeamDeleteModal)">Delete team</button>
          </div>
        </ng-template>

        <ng-template #addteamModal>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Add team</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="pwd">Parent team:</label>
              <input type="text" disabled class="form-control" id="pwd" value="{{teamInfo.name}}">
            </div>
            <div class="form-group">
              <label for="pwd">Sub team:</label>
              <span *ngIf="IsSubTeamNotMentioned" class="float-right error">Enter sub team name</span>
              <input type="text" class="form-control" id="subteam" (keyup)="subteamtxt($event)">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="addTeam()">Add team</button>
            <button class="btn btn-danger" (click)="modalRef2.hide()">Cancel</button>
          </div>
        </ng-template>

        <ng-template #viewteamMembersModal>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Team Members</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef4.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="tableContainer" *ngIf="TeamMembers?.length > 0">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of TeamMembers">
                    <td width="1%">
                      <label class="custom-checkbox">
                        <input type="checkbox" (change)="onChangeTeamMembers($event, member)">
                        <span class="checkmark">
                        </span>
                      </label>
                    </td>
                    <td>
                      {{member.FirstName}}</td>
                    <td>{{member.LastName}}</td>
                    <td>{{member.Email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!TeamMembers?.length > 0">
              <h4>No data available..!</h4>
            </div>

          </div>
          <div class="modal-footer">

            <button class="btn btn-secondary" *ngIf="btnDeleteTeamMembers" (click)="deleteTeamMembers()">Delete
              Selected</button>
            <button class="btn btn-info" (click)="addMembersToTeamModalPopUp(nonTeamMembersModal)">Add Members to
              team</button>
            <button class="btn btn-danger" (click)="modalRef4.hide()">Close</button>
          </div>
        </ng-template>

        <ng-template #nonTeamMembersModal>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Members List</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="nonTeamMembersmodalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="tableContainer">
              <table class="table table-bordered" id="tblNonTeamMembers">
                <thead>
                  <tr>
                    <th></th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of NonTeamMembers">
                    <td width="1%">
                      <label class="custom-checkbox">
                        <input type="checkbox" (change)="onChangeCategory($event, member)">
                        <span class="checkmark">
                        </span>
                      </label>
                    </td>
                    <td>{{member.FirstName}}</td>
                    <td>{{member.LastName}}</td>
                    <td>{{member.Email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info float-left" *ngIf="enableAddMembers" (click)="addMembersToTeam()">Add
              Members</button>
            <button class="btn btn-danger" (click)="nonTeamMembersmodalRef.hide()">Close</button>
          </div>
        </ng-template>

        <!-- Delete Confirmation Modal -->
        <ng-template #confirmationTeamDeleteModal>
          <div class="modal-content">
            <div class="modal-body text-center">
              <div class="confirmation-content">
                <div class="icon confirm">
                  <i class="fa fa-exclamation fa-2x"></i>
                </div>
                <h4>Are you sure want to delete?</h4>
                <button type="button" class="btn btn-theme mr-1" data-toggle="modal" data-dismiss="modal"
                  (click)="deleteTeamConfirmation()">Yes</button>
                <button type="button" class="btn btn-grey" (click)="modalRef3.hide()">No</button>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- Delete Confirmation Modal ends here -->

      </div>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
