<div class="wrapper">
  <app-header></app-header>


  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="card top-account-info">
            <div class="title-info">
              <div class="row">
                <div class="col-md-10">
                  <div class="account-title">
                    <p> <span class="btn btn-default btn-sm" (click)="previousPage()"><i
                          class="fas fa-long-arrow-alt-left"></i>&nbsp;Opportunities</span>
                    </p>
                    <h6>{{opportunityInfo?.title}}</h6>
                  </div>
                </div>

                <!-- <div class="col-md-2">
                  <h4 class="details-title" style="padding-top:10px;">Stage</h4>
                  <p class="details-info">{{opportunityInfo?.stage}}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title" style="padding-top:10px;">Status</h4>
                  <p class="details-info">test1</p>
                </div> -->


                <div class="col-md-2">
                  <p style="padding-top:10px;"> <span data-toggle="modal"
                      class="btn btn-default btn-sm pull-right" (click)="ChangeNxtStpBtnClick(nextStepChangeModal,opportunityInfo?.id)">Change Next Step</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="details">
              <div class="row">
                <div class="col-md-2">
                  <h4 class="details-title">Account Name</h4>
                  <p class="details-info">
                    <span>{{opportunityInfo?.accountname}}</span>

                  </p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title">Website</h4>
                  <p class="details-info">
                    <span>{{opportunityInfo?.website}}</span>
                  </p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title">Last Action Date</h4>
                  <p class="details-info">{{opportunityInfo?.lastactivitydate}}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title">Last Action</h4>
                  <p class="details-info">{{opportunityInfo?.lastaction}}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title">Next Action date</h4>
                  <p class="details-info">{{opportunityInfo?.nextactivitydate}}</p>
                </div>
                <div class="col-md-2">
                  <h4 class="details-title">Next Action</h4>
                  <p class="details-info">{{opportunityInfo?.nextaction}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="body-content1">
        <div class="page-header">
          <div class="row">
          </div>
        </div>




        <div class="row">
          <div class="col-12 col-sm-3" style="padding-right:0px;">

            <div class="contact-information left-info">
              <div class="card">
              <div id="accordion">
                <div class="card1">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                      Details
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <label>Opportunity Name</label>
                          <p>{{opportunityInfo?.title}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Description</label>
                          <p>{{opportunityInfo?.description}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Stage</label>
                          <p>{{opportunityInfo?.stage}}</p>
                        </div>
                      </div>
                      </div>
                      </div>
                </div>
                <div class="card1">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                      Account Details
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <label>Account Name</label>
                          <p>{{opportunityInfo?.accountname}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Industry</label>
                          <p>{{opportunityInfo?.industry}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Revenue</label>
                          <p>{{opportunityInfo?.revenue}}</p>
                        </div>
    
                        <div class="col-md-12">
                          <label>Emp. Size</label>
                          <p>{{opportunityInfo?.empsize}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card1">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                      More Details
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <label>Created date</label>
                          <p>{{opportunityInfo?.createdon}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Last Action</label>
                          <p>{{opportunityInfo?.lastaction}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Last Action Date</label>
                          <p>{{opportunityInfo?.lastactivitydate}}</p>
                        </div>
    
                        <div class="col-md-12">
                          <label>Next Action</label>
                          <p>{{opportunityInfo?.nextaction}}</p>
                        </div>
                        <div class="col-md-12">
                          <label>Next Action Date</label>
                          <p>{{opportunityInfo?.nextactivitydate}}</p>
                        </div>
                      </div>                    </div>
                  </div>
                </div>
              </div>
              </div>
             
            </div>
          </div>
          <div class="col-12 col-sm-9">
            <div class="contact-details">
              <div class="card">
                <ul class="grid-settings d-flex">
                  <li class="pos-rel">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="contact-contacts" data-toggle="tab" href="#con-contacts"
                          role="tab" [ngClass]="{ 'active':activeTab ==='contacts'}">Contacts (0)</a>
                        <a class="nav-item nav-link" id="contact-notes" data-toggle="tab" href="#con-notes"
                          (click)="getNotes()" role="tab" [ngClass]="{ 'active':activeTab==='notes'}">Notes (0)</a>
                        <a class="nav-item nav-link #focusOnCalls" id="contact-calls" data-toggle="tab"
                          href="#con-calls" role="tab" (click)="getCalls()"
                          [ngClass]="{ 'active':activeTab==='calls'}">Calls (0)</a>
                        <a class="nav-item nav-link" id="contact-tasks" data-toggle="tab" href="#con-tasks" role="tab"
                          (click)="gettasks()" [ngClass]="{ 'active':activeTab==='tasks'}">Tasks (0)</a>
                        <a class="nav-item nav-link" id="contact-emails" data-toggle="tab" href="#con-emails" role="tab"
                          (click)="getEmails()" [ngClass]="{ 'active':activeTab==='emails'}">Emails (0)</a>
                        <a class="nav-item nav-link" id="contact-meetings" data-toggle="tab" href="#con-meetings"
                          role="tab" (click)="getMeetings()" [ngClass]="{ 'active':activeTab==='meetings'}">Meetings
                          (0)</a>
                      </div>
                    </nav>
                  </li>
                </ul>
                <div class="tab-content bg-variant-1">
                  <div class="tab-pane fade show active" id="con-contacts" role="tabpanel"
                    aria-labelledby="contact-contacts">
                    <div class="contact-notes">
                      <div class="header">
                        <div class="row">
                          <div class="col-sm-12">
                            <h5>Contacts</h5>
                          </div>
                        </div>
                      </div>
                      <div class="notes-list">
                        <!-- <table class="table table-responsive-sm table-wrap seq-pros-table">
                          <tbody>
                          <tr *ngFor="let singleContact of getContactsData">                         
                            <td>
                              <div class="d-flex">
                                <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip" data-html="true" title=""
                                  data-placement="left" data-original-title="Owned by">
                                {{utilities.getShortName(singleContact.contactname) | uppercase}}
                                </span>
                                <h4 class="my-auto ml-20">
                                  <a href="/contacts/viewcontact/{{singleContact.id}}">
                                    {{singleContact.contactname}}
                                  </a></h4>
                              </div>
                            </td>
                            <td>
                              <span class="ml-2">{{singleContact.email}}</span>
                            </td>
                           
                            <td>
                              <span class="ml-2">{{singleContact.stage}}</span>
                            </td>
                            <td>
                              <span class="ml-2">{{singleContact.LastContactType}}</span>
                            </td>                         
                            <td>
                              <span class="ml-2">{{singleContact.LastContactedDate}}</span>
                            </td> 
                            <td>
                              <span class="view-badge contact-badge" data-toggle="modal" (click)="sendEmailBtn(singleContact.email,singleContact.contactid)" title="Send an email" data-target="#sendManualEmailModal">
                                <i class="fa fa-envelope"></i>
                              </span>
                            </td>
                          </tr>
                          </tbody>
                        </table> -->
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="con-notes" role="tabpanel" aria-labelledby="contact-notes">
                    <div class="contact-notes">
                      <div class="header">
                        <h5>Notes</h5>
                      </div>
                      <div class="notes-list">
                        <!-- <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                          <li class="comment pos-rel" *ngFor="let note of notes">
                            <div class="notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                              <div class="notes-header">
                                <div class="row">
                                  <div class="col-12 col-sm-9">
                                    <p class="color-999"><span class="color-theme">{{note.AssigneeName}}</span>
                                      commented on this</p>
                                  </div>
                                  <div class="col-12 col-sm-3 text-sm-right">
                                    <span class="color-999">{{note.ElapsedDuration}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="notes-body">
                                <div class="row">
                                  <div class="col-12">
                                    <p class="text-justify">{{note.Description}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul> -->
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="con-calls" role="tabpanel" aria-labelledby="contact-calls">
                    <div class="contact-notes">
                      <div class="header">
                        <h5>Calls</h5>
                      </div>
                      <div class="">
                        <!-- <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                          <li class="comment pos-rel" *ngFor="let call of calls">
                            <div class="notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                              <div class="notes-header">
                                <div class="row">
                                  <div class="col-12 col-sm-8">
                                    <p class="color-999">{{call.Title}}</p>
                                  </div>
                                  <div class="col-12 col-sm-2">
                                    <p class="color-999">{{call.AssigneeName}}</p>
                                  </div>
                                  <div class="col-12 col-sm-2 text-sm-right">
                                    <span class="color-999">{{call.ElapsedDuration}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="notes-body">
                                <div class="row">
                                  <div class="col-12">
                                    <p class="text-justify">{{call.Description}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul> -->
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="con-tasks" role="tabpanel" aria-labelledby="contact-tasks">
                    <div class="contact-notes">
                      <div class="header">
                        <h5>Tasks</h5>
                      </div>
                      <div class="notes-list">
                        <!-- <table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
                          <tr *ngFor="let task of tasks">
                            <td>
                              <h6 class="fs-14">{{task.TaskTitle}}</h6>
                              <p class="d-inline-block ShowLessForDesc" popover="{{task.TaskDescription}}"
                                triggers="mouseenter:mouseleave">{{task.TaskDescription}}</p>
          
                            </td>
                              <td>
                              <span
                                [ngClass]="task.Priority == 'High' ? 'task-badge-high' : 'task-badge-normal'">
                                {{task.Priority}}
                              </span>
                            </td>
                            <td>
                              <span >{{task.TaskType}}</span>
                            </td>
                            <td>
  
                              <button *ngIf="task.TaskDescription == 'Manual Email' && task.TaskStatus !='completed'"
                                (click)="sendEmailBtnClick(contactTemplateModal,task.SequenceDetailId,'task')"
                                class="btn btn-sm btn-primary">Send Email</button>
                            </td>
                            <td>
                              <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip" popover="{{task.AssigneeName}}" triggers="mouseenter:mouseleave"
                                data-placement="left">
                                {{utilities.getShortName(task.AssigneeName) | uppercase}}
                              </span>
                            </td>
  
                            <td>
                              <span>{{task.DueDate * 1000 | date:'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                              <span
                                *ngIf="task.CompletedDate != 0">{{task.CompletedDate * 1000 | date:'yyyy-MM-dd'}}</span>
                              <span *ngIf="task.CompletedDate == 0">-</span>
                            </td>
                           
                          </tr>
                        </table> -->
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
                    <div class="contact-notes">
                      <div class="header">
                        <h5>Emails</h5>
                      </div>
                      <div class="notes-list">
                        <!-- <table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
                          <tr *ngFor="let email of emails" style="border-bottom: 1px solid #f3f3f3;">
                            <td>
                              <p class="d-inline-block fw-500" style="color: #333;">{{email.Subject}}-<span
                                class=" ">{{email.LabelType}}</span></p>
                            <p [innerHTML]="email.Body"></p>
                            </td>
                            <td width="10%">
                              <span data-toggle="tooltip" title="Created by"
                                data-placement="left">{{email.AssigneeName}}</span>
                            </td>
                            <td width="10%">
                              <span data-toggle="tooltip" title="Created by"
                                data-placement="left">{{email.ElapsedDuration}}</span>
                            </td>
                            <td width=5%>
                              <span *ngIf="email.IsRead == 1">Read</span>
                              <span *ngIf="email.IsRead == 0">UnRead</span>
                            </td>
                            <td width=5%>
                              <span *ngIf="email.IsReplied == 1">Replied</span>
                              <span *ngIf="email.IsReplied == 0">Not Replied</span>
                            </td>
                          </tr>
                        </table> -->
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="con-meetings" role="tabpanel" aria-labelledby="contact-meetings">
                    <div class="contact-notes">
                      <div class="header">
                        <h5>Meetings</h5>
                      </div>
                      <div class="notes-list">
                        <!-- <table class="table table-responsive-sm table-hover contacts-grid mb-0 meetings">
                            <tr *ngFor="let meeting of meetingList">
                            <td>
                              <p class="d-inline-block">{{meeting.Title}}</p>
                              <p class="mt-3">{{meeting.Description}}</p>
                              
                            </td>
                            <td>
                              <p class="d-inline-block">{{meeting.ContactName}}</p>
                            </td>
                            <td>
                              <p [ngClass]="meeting.Status != 'completed'?'alert-dark':'alert-success'" class="alert text-center">{{meeting.Status | titlecase}}</p>
                            </td>
                            <td>
                              <ng-container *ngIf="meeting.Status != 'completed'; else completedDateLbl">
                                <span>Meeting on {{meeting.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                                </ng-container>
                                <ng-template #completedDateLbl>
                                  <span>Completed on {{meeting.CompletedDate * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                                </ng-template>
                              
                            </td>
          
                            <td>
                              <ng-container *ngIf="meeting.Status != 'completed'; else completedLbl">
                                <button class="btn btn-sm btn-success"
                                (click)="markAsCompleted(meeting.MeetingId,mailResponsePopup)"
                                type="button">Mark
                                as
                                completed</button>
                                </ng-container>
                      
                                <ng-template #completedLbl>
                                <div style="background-color: #d4ffde!important;color: #0dc136;padding: 5px;min-width:85px;max-width: 85px;text-align:center;"><span>Completed</span></div>
                                </ng-template>
                            </td>
                          </tr>
                        </table> -->
                      </div>
                    </div>
                  </div>




                </div>
              </div>
            </div>
          </div>

        <!-- Change Step Modal -->
        <ng-template #nextStepChangeModal>
          <div class="modal-content">
            <div class="modal-body text-center">
              <div class="confirmation-content">
                <h4>Change Next Step</h4>               
                    <div class="form-group">
                      <div class="row">
                        <div class="col-12 mb-3">
                          <label>Next Action:</label>
                          <select class="form-control" id="nextActionSelector" [(ngModel)]='nxtActionSelect'>
                            <option value="Schedule meeting">Schedule meeting</option>
                            <option value="Send a proposal">Send a proposal</option>
                            <option value="SOW signoff">SOW Signoff</option>                           
                          </select>
                        </div>
                        <div class="col-12 mb-3">
                          <label>Next Activity Date:</label>
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                            [(bsValue)]="bsValue" value="{{ nxtActionDate | date:'dd/MM/yyyy' }}">
                        </div>
                       
                      </div>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-info" (click)="updateNextStepConfirmClick()">Update</button>
              <button class="btn btn-danger" (click)="nextStepmodalRef.hide()">Cancel</button>
            </div>
          </div>
        </ng-template>
        <!-- Change Step Modal ends here -->

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>