.page-title{font-size: 20px;text-transform: capitalize;}
.pull-right{float: right;}
.vop-drpodown .btn{color: #172b4d!important;background-color: #fff;font-weight: 500;border-color: #dfe1e6;outline: 0!important;
font-size: 14px;}

.vop-drpodown .btn:focus{box-shadow: none;}
.vop-drpodown .btn:hover{background-color: #e6e6e6;border-color: #adadad;}

.vop-drpodown .dropdown-menu{margin-top:0px!important;}
.vop-drpodown .dropdown-menu>li{padding: 5px 0px;}
.vop-drpodown .dropdown-menu>li>a{padding: 12px 15px;font-size: 14px!important;color:#17274d;text-decoration: none;cursor:pointer;}
.vop-drpodown .dropdown-menu>li:hover{background-color:#17274d;}
.vop-drpodown .dropdown-menu>li:hover a{ color: #fff;}

.detail-content {color: #576380;border-radius: 4px;box-shadow: inset 0 1px 0 0 rgba(122,134,154,.17), 0 1px 2px 0 rgba(122,134,154,.48);min-height: 40px;overflow: hidden;}

.vop_accordion .block{border-bottom: 1px solid #e4e7eb;padding:10px 20px;}
.vop_accordion .block .arrow-btn{box-shadow: none;padding: 0px;margin-right: 10px;}
.vop_accordion .block .arrow-btn .fa{ font-size: 18px; width:15px;font-weight: bold; position: relative;top: 0px; color:#000;margin-right: 10px;}
.vop_accordion .block  .ac-header h2 span{margin: 0; padding: 5px 0px; font-size: 14px; text-transform: capitalize; color: #3F51B5; font-weight: 600; text-decoration: none;}
.vop_accordion .block  .ac-header h2 .btn:hover,.vop_accordion .block  .ac-header h2 .btn:focus{text-decoration: none!important;}

.vop_accordion .block .block-info{padding-top:20px;} 
.vop_accordion .block .block-info label{color: #7a869a;font-weight: 500;font-size: 13px;line-height: 20px;}
.vop_accordion .block .block-info p{color:#17274d;font-size: 15px;}    



.tab-menus .nav-tabs .nav-link.active {
color: #0062cc;
background-color: transparent;
border-color: transparent transparent #f3f3f3;
border-bottom: 2px solid !important;
font-size: 16px;
font-weight: 500;
}
.tab-menus .nav-link {
border: 1px solid transparent;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem;
color: #898c94;
font-size: 16px;
font-weight: 500;
flex: none;
    margin-right: 30px;
}
.tab-menus .nav-link:hover{border:0px!important;border-bottom:0px solid #898c94!important;} 

.right-block-info{}
.right-block-info .wrapper{     padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
   }

 .right-block-info .wrapper .wrapper-title{margin-bottom: 10px;}
    .right-block-info .wrapper .wrapper-title h4{font-size: 16px;}

.right-block-info label{font-size: 14px;font-weight: 500;}
.right-block-info .form-control{border-color:#e4e7eb!important;box-shadow: none!important}
.right-block-info .footer-wrapper{background-color: #fff;padding: 10px; }
.right-block-info .footer-wrapper .submit-btn{background-color: #3f51b5;color:#fff;box-shadow: none}
.right-block-info .footer-wrapper .reset-btn{border: 1px solid #c8ced8;color: #212121;font-weight: 500;box-shadow: none}
.submit-btn{background-color: #3f51b5 !important;color:#fff!important;box-shadow: none}
.reset-btn{border: 1px solid #c8ced8!important;color: #212121!important;font-weight: 500;box-shadow: none;margin-right:10px;}

.mt-7{margin-top: 7px!important;}
.block-desc-area {
    width: 100%;
    /* background-color: #FFF6D9;
    border: 1px solid #FFF6D9; 
    border-radius: 5px;*/
    min-height:200px;
    resize: none;

}

.block-desc-area:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.view-tab-details .nav-tabs {border-bottom: 0px !important;margin-bottom: 20px;}
.view-tab-details .nav-tabs span label{font-size: 14px;line-height: 25px;}
.view-tab-details .nav-tabs .nav-item{background: none;border: none;    padding: 4px 10px;  color: #17274d;  flex: none;font-size: 14px;font-weight: 500;margin: 0px 10px;}

.view-tab-details .nav-tabs .nav-item.active {background: #403294;color: #fff;border-radius: 15px;}
.view-tab-details .nav-tabs .nav-item:hover{background: #fff;color: #403294;border-radius: 15px;}

.view-tab-details .wrapper{margin-bottom: 20px;background-color: #fff;border-radius: 5px;border: 1px solid #e4e7eb;}
.view-tab-details .wrapper-title{ border-bottom: 1px solid #e4e4e4;padding: 10px 0px; }
.view-tab-details .wrapper-title h4{font-size: 14px;}
.view-tab-details .wrapper-title h4 a{ color: #403294!important; }
.view-tab-details .wrapper-body{padding:10px 0px;font-size:14px;}


.vop-badge{
   display: inline-block;
width: 26px;
height: 26px;
line-height: 24px;
font-size: 12px;
text-align: center;
background-color: #403294;
border-radius: 50% !important;
color: #fff;
margin-right: 10px;
border-radius: 50%;
padding: 2px !important;
letter-spacing: 0 !important;
font-weight: 600 !important;
}
.vop-badge-createdby{color:#17274d;font-size: 12px;}
.vop-badge-time{color: #8e869a;font-size: 12px;}

.wb_icons{  display: inline-block;color: #576380;margin-right: 10px;width: 16px;text-align:center;} 

 .nav-fill .nav-item, .nav-fill>.nav-link {
    flex: none!important;
    text-align: center;
}


.modal{
 padding: 0 !important;
}
.modal-dialog {
  max-width: 60% !important;
  height: 100%;
  padding: 20px;
  margin: 0;
}

.modal-content  {
 
padding: 40px !important;

box-shadow: 0px 0px 1px 2px #f5f5f5!important;

    border-radius: 5px!important;
    border: 0px!important;

}

.modal-content label{color: #8d8d9e;font-weight: 500;text-transform: uppercase;}
/*-----------------------------------------------------------------------*/

.float-form {padding:0px 20px 10px;}
.float-form .schedule-activity {
   /* margin-right: 50px !important;
     margin-left: 50px !important; */
    padding-bottom: 40px !important;
    cursor: pointer;
}
.float-form .schedule-activity .file-input-container{font-size: 16px; color: #727287;}
.float-form .schedule-activity .file-input-container .icon-event{display: -webkit-inline-box; margin-right: 5px;}
.float-form .form-group.no-label {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    min-height: 40px;
    font-family: 'Lato', sans-serif!important;
}
.float-form.inset .form-group {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -25px;
    margin-right: -25px;
}
.float-form .form-group.no-label {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 35px;
}
 
.float-form .attachments {
    margin: 30px 0px 25px 0px !important;
    border: 2px dashed #e1e1e6;
    text-align: center;
    border-radius: 4px;
}

#note-block-section{padding:10px 20px;}