@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
  /* background-color: #eee; */
  font-size: 14px;
}

.inline-block {
  display: inline-block !important;
}

.w-10 {
  width: 10%;
}

.pr-10 {
  padding-right: 10px;
}

.float-right {
  text-align: right;
}

.pos-rel {
  position: relative;
}

.pull-right {
  float: right;
}

.btn:focus {
  box-shadow: none !important;
}

.cursor-none {
  cursor: unset !important;
}

/* Login and Registration Pages CSS */

.bg-attachment {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

.login-bg,
.register-bg {
  background-image: url(assets/Images/bg-1.jpg);
}

.login-bg .overlay,
.register-bg .overlay {
  opacity: 0.85;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page-heading h3 {
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 8px;
}

.login-page-heading h4 {
  font-size: 20px;
  letter-spacing: 8px;
}

.login-box,
.register-box {
  background: #fff;
  padding: 20px;
  width: 350px;
  margin: 20px auto;
}

.register-box {
  width: 600px !important;
}

.login-header,
.register-header {
  font-size: 13px;
  color: #2f2c2c;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.login-box .form-group label,
.register-box .form-group label {
  color: #2f2c2c;
}

.login-box input,
.register-box input {
  border-radius: 0px;
  background-color: transparent;
  font-size: 13px !important;
  height: 42px;
}

.login-box input:focus,
.register-box input:focus {
  box-shadow: none !important;
  border-color: #4f67b0;
  background-color: #e5ebff;
  color: #002186;
}

.form-control.is-invalid i {
  display: none;
}

.forgot-link {
  font-size: 12px;
  color: #4f67b0;
  text-decoration: none !important;
  transition: color 0.5s ease;
}

.forgot-link:hover {
  color: #f15b26;
}

.sign-up-content span {
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}

.has-icon i {
  /* position: absolute;
  bottom: 10px;
  right: 10px;*/
  color: #4f67b0;
  cursor: pointer;

  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  right: 10px;
  z-index: 2;
}

.form-control.is-invalid {
  background-image: none !important;
}

.btn-theme {
  background-color: #4f67b0;
  color: #fff !important;
}

.login-box .btn,
.register-box .btn {
  border-radius: 0px;
}

.login-box .btn:focus,
.register-box .btn:focus {
  box-shadow: none;
}

/* navbar */
.navbar {
  padding: 0px 10px !important;
  background-color: #566FC9;
}

.navbar-brand {
  width: 125px;
}

.top-ddmenu.dropdown-toggle::after {
  display: none;
}

.top-dropdown-menu {
  right: 0px !important;
  left: unset !important;
  padding-bottom: 0px;
  min-width: 180px;
  box-shadow: 1px 1px 1px 1px #cad6ff;
  border-radius: 0px;
}

.top-dropdown-menu a:hover {
  color: #566FC9;
}

.top-dropdown-menu a:focus {
  background-color: #fff !important;
}

.top-dropdown-menu .dropdown-item {
  padding: 5px 10px
}

.top-dropdown-menu .dropdown-item i {
  margin-right: 5px;
}

.top-dropdown-menu .dropdown-item:hover:last-child {
  color: #566fc9;
}

/* left sidebar menu */

.menu-title,
.fixed-sidebar-left .pull-right {
  display: none;
}

.fixed-sidebar-left {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 70px;
  margin-left: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.expand.fixed-sidebar-left {
  margin-left: 0px;
  width: 225px;
}

.expand.fixed-sidebar-left .menu-title {
  width: 100% !important;
  margin-top: 12px;
}

.expand.fixed-sidebar-left .menu-title {
  display: block;
}

.expand.fixed-sidebar-left .pull-right {
  display: block;
}

.expand.page-wrapper {
  margin-left: 225px;
}

span.toggle-left-nav-btn {
  color: #5c5c5c;
  position: relative;
  line-height: 59px;
  margin-right: 30px;
  margin-left: 15px;
}

span.toggle-left-nav-btn i {
  font-size: 18px;
  vertical-align: middle;
  color: #fff;
}

.side-nav {
  border: none;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0;
  margin: 0;
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
  background-color: #f7f7f9;
}

.side-nav li a {
  color: #212121;
  text-decoration: none;
  display: inline-flex;
  width: 100% !important;
  padding: 10px;
}

.side-nav li a:hover {
  background-color: #e0e7ff;
  color: #566fc9;
}

.side-nav li a:hover i {
  color: #566fc9;
}

.side-nav li a i {
  font-size: 24px;
  color: #777;
  padding: 10px;
}

.side-nav li a i:hover {
  color: #566fc9;
}

.side-nav li a.active {
  background-color: #e0e7ff;
  color: #566fc9;
}

.side-nav li:first-child a.active {
  border-right: 0px;
}

.side-nav li a.active i {
  color: #566fc9;
}

.side-nav li:hover a {
  color: #566FC9;
}

.side-nav li.active a {
  color: #f174bf;

}

.side-nav li ul li a {
  color: #212121 !important;
}

.side-nav li ul li a i {
  font-size: 18px !important;
  padding-top: 0px;
}

.side-nav li ul li:hover a,
.side-nav li ul li a:hover {
  color: #566FC9 !important;
}

/* page wrapper */

.page-wrapper {
  margin-left: 67px;
  padding: 70px 15px 15px 15px;
  background: #eee;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}

.body-content {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);
  min-height: calc(100vh - 150px);
  margin-bottom: 30px
}

.page-header {
  margin-bottom: 10px;
}

.page-title {
  /* color: #566fc9 !important; */
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.add-btn-icon,
.add-btn-icon:hover {
  background-color: #566fc9;
  border: 1px solid #566fc9;
}

.add-btn {
  background-color: #566fc9d9;
  min-width: 80px;
  text-align: left;
  border: 1px solid #566fc9;
}

.add-btn:hover {
  background-color: #566fc9;
  border: 1px solid #566fc9;
}

.badge-rounded {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 50% !important;
  color: #989898;
  border-radius: 50%;
  padding: 2px !important;
  letter-spacing: 0 !important;
}

.owner-badge {
  background-color: #eee !important;
  color: #444 !important;
  font-weight: 600 !important;
}

.owner-badge:hover {
  background-color: #ffb42b !important;
  color: #000 !important;
  cursor: default;
}


.table-wrap thead {
  background-color: #eee;
  color: #000;
}

.table-wrap thead th {
  font-weight: 500;
  border-bottom: 0px;
}

.table-wrap tbody tr:hover {
  background-color: #f5f5f5;
}

.table-wrap tbody tr:hover .owner-badge {
  background-color: #ffb42b !important;
}

.table-wrap tbody td {
  padding: 0.5rem 0.75rem;
}

.table-wrap h4 {
  font-size: 14px;
  margin-bottom: 0px;
}

.table-wrap h4 a {
  color: #0a39e2;
}

.filters-settings {
  display: flex;

}

.filters-settings a {
  color: #000;
  position: relative;
  padding: 0 20px;
}

.filters-settings a:first-child {
  padding-left: 0px;
}

.filters-settings a:after {
  content: '';
  width: 1px;
  height: 10px;
  background: #000;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
}

.filters-settings a:last-child:after {
  display: none;
}

.filters-settings a.active {
  color: #566fc9;
  font-weight: 600;
}

.filters-settings .nav-tabs {
  border-bottom: 0px !important;

}

.pagination {
  margin-bottom: 0px;
}

.pagination-overflow {
  max-width: 85%;
  overflow: auto;
  margin-top: 10px;
}

.pagination .page-item {
  margin: 0px 5px !important;
}

.page-item .page-link {
  height: 35px;
  width: 35px;
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  height: 35px;
  width: 35px;
  padding: 0.5rem;
  border-radius: 50%;
  text-align: center;
}

.page-item:first-child .page-link span,
.page-item:last-child .page-link span {

  font-size: 30px;
  line-height: 13px;

}


.page-item .page-link {
  color: #566fc9;
}

.page-item.active .page-link {

  background-color: #566fc9 !important;
  border-color: #566fc9 !important;
}

.page-item .page-link:focus {
  box-shadow: none !important;
}

.modal-content {
  box-shadow: 2px 0px 6px 2px #a3acd8;
  padding: 10px;
}

.modal-header {
  border-bottom: 0px;
  padding: 6px 16px;
}

.modal-title {
  font-weight: 400;
  color: #4f67b0;
  font-size: 22px;
}

.modal-body label {
  font-weight: 500;
}

.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  box-shadow: none;
}

.modal-footer {
  border-top: 0px;
}

.bs-datepicker-container {
  padding: 0px;
}

.btn-grey {
  background-color: #69655d !important;
  color: #fff !important;
}

.btn-grey:hover {
  background-color: #69655d !important;
  color: #fff !important;
}


/* opportunities page css*/
.stage-badge {
  display: inline-flex;
  text-transform: capitalize;
}

.stage-badge:before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
}

.stage-badge.open {
  color: #fd7f25;
}

.stage-badge.open:before {
  background-color: #fd7f25;
}

.stage-badge.cool {
  color: #9e00ef;
}

.stage-badge.cool:before {
  background-color: #9e00ef;
}

.stage-badge.idle {
  color: #939c05;
}

.stage-badge.idle:before {
  background-color: #939c05;
}

.stage-badge.happy {
  color: #0085ca;
}

.stage-badge.happy:before {
  background-color: #0085ca;
}

.stage-badge.busy {
  color: #479604;
}

.stage-badge.busy:before {
  background-color: #479604;
}

.stage-badge.overload {
  color: #ce2029;
}

.stage-badge.overload:before {
  background-color: #ce2029;
}

.opp-tabs {
  padding-left: 0px;
  margin-bottom: 0px;
}

.opp-tabs li {
  display: inline-block;

  border: 1px solid #ced4da;
  cursor: pointer;
}

.opp-tabs li div {
  display: flex;
  padding: 10px 20px;
}

.opp-tabs li div h4 {
  padding-right: 25px;
  font-size: 14px;
  margin-bottom: 0px;
}

.opp-tabs li div span {
  line-height: 14px;
}

.opp-tabs li div h4.class1 {
  color: #fd7f25;
}

.opp-tabs li div h4.class2 {
  color: #939c05;
}

.opp-tabs li div h4.class3 {
  color: #9e00ef;
}

.opp-tabs li div h4.class4 {
  color: #0085ca;
}

.opp-tabs li div h4.class5 {
  color: #ce2029;
}

.opp-tabs li div h4.class6 {
  color: #479604;
}

/* tasks page */
.task-ddmenu {
  background-color: #ccc;
  color: #000 !important;
}

.ddmenu .dropdown-menu {
  padding: 0px !important;
  margin-top: 0px !important;
}

.ddmenu .dropdown-item {
  padding: 0.5rem 1rem !important;
  border-bottom: 1px dotted #aaa;
}

.ddmenu .dropdown-item:hover {
  background-color: #566fc9;
  color: #fff;
}

.bgc-default {
  background-color: #fff !important;
  color: #000 !important;
}

.bgc-primary {
  border: 1px solid #566fc9 !important;
  color: #566fc9 !important;
  font-weight: 600;
  background-color: #bdcbff;
}

.bgc-info {
  border: 1px solid #ea65a2 !important;
  color: #ea65a2 !important;
  font-weight: 600;
  background-color: #ffcae2;
}

.bgc-danger {
  border: 1px solid #f15b26 !important;
  color: #f15b26 !important;
  font-weight: 600;
  background-color: #ffbda5;
}

.bgc-success {
  border: 1px solid #3cb878 !important;
  color: #008a43 !important;
  font-weight: 600;
  background-color: #8deaba;
}

.bgc-warning {
  border: 1px solid #fcb03b !important;
  color: #d27f00 !important;
  font-weight: 600;
  background-color: #fff0d9;
}

.tasks-table thead {
  background-color: #eee
}

.tasks-table thead,
.tasks-table tbody {
  border: 1px solid #eee;
}

.tasks-table thead th {
  color: #444;
}

.tasks-table .c-name a {
  font-weight: 600;
  text-decoration: none;
}

.tasks-table .tbtn {
  min-width: 65px;
  display: inline-block;
  text-align: center;
  padding: 2px;
  text-transform: capitalize;
}

.tasks-tooltip {
  background-color: #fff;
  color: #000;
}

.fa-phone {
  transform: rotate(90deg);
}

.ShowLess {
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ShowLessForDesc {
  display: inline-block;
  width: 320px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.tooltip-inner {
  background-color: #ffb42b !important;
  color: #000;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #ffb42b !important;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #ffb42b !important;
}


.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #ffb42b !important;
}


.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #ffb42b !important;
}

/*Ag-grid styles */
.ag-theme-balham {
  font-size: 14px;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: 100%;

}

.ag-body-viewport.ag-layout-normal {
  min-height: 200px;
}

.ag-theme-balham .ag-pinned-right-header,
.ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {

  border-left: 0px !important;
}

.ag-row {
  padding: 10px 0px !important;
}

.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #eee !important;
}

.ag-theme-balham .ag-row {
  border-color: #dee2e6 !important;
}

.ag-column-hover {
  background-color: none;
}

.ag-theme-balham .ag-header {
  background-color: #eee !important;
  font-size: 14px;
  font-weight: 500;
  color: #000 !important;
  border-bottom: 0px !important;

}

.ag-theme-balham .ag-header-cell::after,
.ag-theme-balham .ag-header-group-cell::after {
  display: none;
}



.ag-theme-balham .ag-ltr .ag-cell:first-child {
  font-weight: 600;

  text-transform: capitalize;
}

.ag-theme-balham .ag-ltr .ag-cell:first-child a {
  color: #0a39e2 !important;
}

.ag-theme-balham .ag-paging-panel {
  color: #000;
  border-top: 0px !important;
}

.ag-theme-balham .ag-paging-page-summary-panel .ag-paging-button.ag-disabled .ag-icon {
  color: #888;
  opacity: 1;
}

/* contact page*/
.cinfo-badge1 {
  color: #ffb42b !important;
  background-color: #fff !important;
  border: 1px solid #ffb42b;
  cursor: pointer;
  padding: 0px !important;

}

.cinfo-badge1:hover {
  background-color: #ffb42b !important;
  color: #fff !important;
}

.cinfo-badge2 {
  color: #ef4646 !important;
  background-color: #fff !important;
  border: 1px solid #e27171;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge2:hover {
  background-color: #ef4646 !important;
  color: #fff !important;
}

.cinfo-badge3 {
  color: #0593bd !important;
  background-color: #fff !important;
  border: 1px solid #62c5e2;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge3:hover {
  background-color: #0593bd !important;
  color: #fff !important;
}

.cinfo-badge4 {
  color: #cc48c7 !important;
  background-color: #fff !important;
  border: 1px solid #ec8ae9;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge4:hover {
  background-color: #cc48c7 !important;
  color: #fff !important;
}

.ag-theme-balham .ag-column-drop-horizontal.ag-column-drop {
  border: none !important;
}

.ag-theme-balham .ag-column-drop-horizontal {
  background-color: #eeeeee !important;
}

/* dashbaord page */
.count-tabs {
  padding: 0 15px;
  border-bottom: 1px solid #eee;
  overflow-x: auto;
  margin-bottom: 10px !important;
  list-style: none;

}

.count-tabs li {
  border: 1px solid #eee;
  min-width: 100px;
  background-color: #f9f9f9;
}

.count-tabs .count {
  padding: 10px;
  /*  border-right: 1px dashed #ccc;*/

  word-break: break-word;
  margin: 2px 0;
  cursor: pointer;
  position: relative;
}

.count-tabs li:last-child .count {
  border-right: 0;
}

.count-tabs .count h4 {
  font-size: 14px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/**********
  iPad 3
  **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
