<!-- a class='btn btn-outline-info btn-sm active' (click)="viewRow()" role='button'>View</a>&nbsp;&nbsp;&nbsp;
<a class='btn btn-outline-success btn-sm active' (click)="editRow()" role='button'>Update</a -->
    <!--
        (click)="UpdateTemplateBtn(TemplateEditModal,template.TemplateId)"
        (click)="deleteTemplateBtn(confirmationTemplateDeleteModal,template.TemplateId)
    -->

<div class="seq-options d-inline mr-3"
(click)="UpdateTemplateBtn(TemplateEditModal)">
<i class="fa fa-edit cursor-pointer" data-toggle="tooltip" title="Update template" data-placement="left"></i>
</div>
<div class="seq-options d-inline"
(click)="deleteTemplateBtn(confirmationTemplateDeleteModal)">
<i class="fa fa-trash-alt cursor-pointer" data-toggle="tooltip" title="Delete template"
  data-placement="left"></i>
</div>
        <!-- Delete Confirmation Modal -->
        <ng-template #confirmationTemplateDeleteModal>
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="confirmation-content">
                  <div class="icon confirm">
                    <i class="fa fa-exclamation fa-2x"></i>
                  </div>
                  <h4>Are you sure want to delete?</h4>
                  <button type="button" class="btn theme-btn mr-1" data-toggle="modal" data-dismiss="modal"
                    (click)="deleteTemplateYes()">Yes</button>
                  <button type="button" class="btn btn-grey" (click)="deleteTemplatemodalRef.hide()">No</button>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- Delete Confirmation Modal ends here -->
  
            <!-- Response Info popupu -->
            <ng-template #responseInfoModal>
              <div class="modal-body">
                <div [innerHTML]="responseInfo"></div>
              </div>
            </ng-template>
          <!--Edit Template Modal-->   
          <ng-template #TemplateEditModal>
            <form [formGroup]="templateEditForm" (ngSubmit)="UpdateTemplate()">
              <div class="modal-header">
                <h4 class="modal-title">Update Template</h4>
                <button type="button" class="close" (click)="updateTemplatemodalRef.hide()">&times;</button>
              </div>
              <div class="modal-body">
                <div class="create-template1">
                  <div class="form-group">
  
                    <input type="text" class="form-control" formControlName="TemplateName"
                      value="{{singleTemplateData[0].TemplateName}}" placeholder="Template Name"
                      [ngClass]="{ 'is-invalid': submitted && f1.TemplateName.errors }" autocomplete="off"
                      id="templateName">
                    <div *ngIf="submitted && f1.TemplateName.errors" class="invalid-feedback">
                      <div *ngIf="f1.TemplateName.errors.required">Template Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="Subject"
                      value="{{singleTemplateData[0].Subject}}" placeholder="Template Subject"
                      [ngClass]="{ 'is-invalid': submitted && f1.Subject.errors }" id="subject">
                    <div *ngIf="submitted && f1.Subject.errors" class="invalid-feedback">
                      <div *ngIf="f1.Subject.errors.required">Subject is required</div>
                    </div>
                  </div>
                  <!-- <form action="save" method="post"> -->
                  <textarea formControlName="HtmlTemplateBody" [froalaEditor]="options" id="body"
                    class="pos-rel form-control" [ngClass]="{ 'is-invalid': submitted && f1.HtmlTemplateBody.errors }">{{singleTemplateData[0].HtmlTemplateBody}}</textarea>
                    <div *ngIf="submitted && f1.HtmlTemplateBody.errors" class="invalid-feedback">
                      <div *ngIf="f1.HtmlTemplateBody.errors.required">Content is required</div>
                    </div>
  
                </div>
  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn theme-btn btn-check" type="submit"><span>Update
                    Template</span></button>
  
                <button type="button" class="btn btn-grey" (click)="updateTemplatemodalRef.hide()">Cancel</button>
              </div>
            </form>
          </ng-template>  
          <!--Edit Template Modal end here-->