<nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top">

  <span id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left"><i class="fa fa-bars"
      id="sbmenu"></i></span>
  <a class="navbar-brand" href="{{logoClickedUrl}}">
    <img src="assets/Images/logo.png" alt="Outwork AI" class="w-100">
  </a>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="auth.getEmailConfig() === 'false'">
        <a *ngIf="auth.isLoggedIn()" class="nav-link dropdown-toggle top-ddmenu" routerLink="/user/profile">
          <i ngbPopover="Mail configuration required" triggers="mouseenter:mouseleave" class="fas fa-envelope text-white" style="font-size: 20px;margin-top: 11px;"></i>
            <span class="dots"></span>
        <!-- <i ngbPopover="Mail configuration required" triggers="mouseenter:mouseleave" class="fas fa-exclamation-circle text-warning cursor-pointer" style="font-size: 34px;margin-top: 11px;">       
        </i>-->
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="auth.isLoggedIn()">
        <a class="nav-link dropdown-toggle top-ddmenu" routerLinkActive="active" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-plus-circle custom-circle"></i>
        </a>
        <div class="dropdown-menu top-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/task/addtask"><i
              class="fas fa-tasks"></i> Task</a>
              <a class="dropdown-item" routerLink="/contacts/addcontact"><i
                class="far fa-address-book"></i> Contact</a>
                <a class="dropdown-item" routerLink="/accounts/addaccount"><i
                  class="fab fa-buffer"></i> Account</a>
        </div>
      </li>
      <li class="nav-item dropdown">
      
        <a class="nav-link dropdown-toggle top-ddmenu" routerLinkActive="active" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="profile-circle">
          <span class="profile-title" id="profile-title">
            {{utilities.getShortName(userInfo?.name) | uppercase}}
          </span>
        </div>
          <!-- <img src="assets/Images/user3.png"> -->
        </a>
        
        <div class="dropdown-menu top-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div *ngIf="auth.isLoggedIn()" class="text-center">
            <h6 class="mb-0">{{userInfo.name | titlecase}}</h6>
            <span class="custom-role">{{userInfo.role}}</span>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *ngIf="auth.getRole() == 'admin'" routerLink="/admin/sequence"><i
              class="fas fa-cog"></i> Settings</a>
          <a class="dropdown-item" *ngIf="auth.isLoggedIn()" routerLink="/user/profile"><i
              class="far fa-user"></i> User Profile</a>
          <a class="dropdown-item cursor-pointer" (click)="auth.logout()"><i class="fas fa-power-off"></i> Logout</a>

        </div>
      </li>
    </ul>
  </div>
</nav>


<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left" id="sidebar">
  <ul class="nav navbar-nav side-nav nicescroll-bar">

    <li *ngFor="let menu of MainMenuInfo">
      <a *ngIf="auth.isLoggedIn() && !menu.IsAdmin" [routerLink]="menu.RouterLink" routerLinkActive="active">
        <i class="{{menu.Classes}}"></i><span class="menu-title">{{menu.Name}}</span></a>
    </li>
  </ul>
</div>
<!-- /Left Sidebar Menu -->
