<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div>
        <h2 class="page-title">Contacts</h2>
      </div>
      <div class="body-content">

        <div class="page-header">




          <div class="row">
            <div class="col-md-9">

              <div class="filters-settings">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek')">
                    <a class="nav-link active" id="by-engagged-tab" data-toggle="tab" href="#by-engagged" role="tab"
                      aria-controls="by-engagged" aria-selected="true">By Engaged</a>
                  </li>
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek-created')">
                    <a class="nav-link" id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                      aria-controls="by-created" aria-selected="false">By Created</a>
                  </li>
                  <li class="nav-item" (click)="mainFilterTabsChanged('all')">
                    <a class="nav-link" id="by-stage-tab" data-toggle="tab" href="#by-stage" role="tab"
                      aria-controls="by-stage" aria-selected="false">By Stage</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 text-md-right">
              <div class="page-header-links">
                <a data-toggle="modal" data-target="#createContactModal">
                  <div class="btn-group">
                    <button type="button" class="btn   add-btn-icon">+</button>
                    <button type="button" class="btn   add-btn">Contact</button>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>



        <div class="row mb-3">
          <div class="col-sm-10">

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="by-engagged" role="tabpanel" aria-labelledby="by-engagged-tab">
                <!-- <ul class="opp-tabs">
                  <li class="my-auto" (click)="engagedFilter('all')">
                    <div>
                      <h4>
                        <a class="active" id="engagged-all-tab" data-toggle="tab" href="#engagged-all" role="tab"
                          aria-controls="engagged-all" aria-selected="true"
                         >All</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="engagedFilter('not-engagged')">
                    <div>
                      <h4>
                        <a class="" id="not-engagged-tab" data-toggle="tab" href="#not-engagged" role="tab"
                          aria-controls="not-engagged" aria-selected="false"
                          >Not
                          Engagged</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="engagedFilter('engagged-three-months')">
                    <div>
                      <h4>
                        <a class="" id="engagged-three-months-tab" data-toggle="tab" href="#engagged-three-months"
                          role="tab" aria-controls="engagged-three-months" aria-selected="false"
                          >Contacted > 3 Months</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="engagedFilter('engagged-this-month')">
                    <div>
                      <h4>
                        <a class="" id="engagged-this-months-tab" data-toggle="tab" href="#engagged-this-months"
                          role="tab" aria-controls="engagged-three-months" aria-selected="false"
                          >Contacted This Month</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="engagedFilter('engagged-last-month')">
                    <div>
                      <h4>
                        <a class="" id="engagged-last-months-tab" data-toggle="tab" href="#engagged-last-months"
                          role="tab" aria-controls="engagged-three-months" aria-selected="false"
                          >Contacted Last Month</a>
                      </h4>
                    </div>
                  </li>
                </ul> -->
                <div class="btn-group">
                  <select class="form-control" [(ngModel)]='engSelect' (change)="EngagedChangedHandler($event.target.value)">
                    <option value="today">Today</option>
                    <option value="thisweek">This Week</option>
                    <option value="lastweek">Last Week </option>
                    <option value="thismonth">This Month </option>
                    <option value="lastmonth">Last Month </option>
                    <option value="last3months"> > 3 Months</option>
                    <option value="notengaged">Not Engaged</option>
                    <option value="all">All</option>
                  </select>
                </div>
                <!-- <div class="filters-settings">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item nav-item-custom" (click)="engagedFilter('all')">
                      <a class="nav-link active" id="by-engagged-tab" data-toggle="tab" role="tab"
                        aria-controls="by-engagged" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="engagedFilter('not-engagged')">
                      <a class="nav-link" id="by-created-tab" data-toggle="tab" role="tab"
                        aria-controls="by-created" aria-selected="false">Not
                        Engagged</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="engagedFilter('engagged-three-months')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">Contacted > 3 Months</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="engagedFilter('engagged-this-month')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">Contacted This Month</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="engagedFilter('engagged-last-month')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">Contacted Last Month</a>
                    </li>
                  </ul>
                </div> -->
              </div>


              <div class="tab-pane fade" id="by-created" role="tabpanel" aria-labelledby="by-created-tab">
                <!-- <ul class="opp-tabs">
                  <li class="my-auto" (click)="createdFilter('all')">
                    <div>
                      <h4>
                        <a class="active" id="nav-all-tab" data-toggle="tab" href="#nav-home" role="tab"
                          aria-controls="nav-home" aria-selected="true" >All</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="createdFilter('today')">
                    <div>
                      <h4>
                        <a class="" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
                          aria-controls="nav-profile" aria-selected="false">Today</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="createdFilter('thisweek')">
                    <div>
                      <h4>
                        <a class="" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
                          aria-controls="nav-contact" aria-selected="false">This
                          Week</a>
                      </h4>
                    </div>
                  </li>
                  <li class="my-auto" (click)="createdFilter('thismonth')">
                    <div>
                      <h4>
                        <a class="" id="nav-thismonth-tab" data-toggle="tab" href="#nav-about" role="tab"
                          aria-controls="nav-about" aria-selected="false">This
                          Month</a>
                      </h4>
                    </div>
                  </li>
                </ul> -->
                <!-- <div class="filters-settings">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item nav-item-custom" (click)="createdFilter('all')">
                      <a class="nav-link active" id="by-engagged-tab" data-toggle="tab" role="tab"
                        aria-controls="by-engagged" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('today')">
                      <a class="nav-link" id="by-created-tab" data-toggle="tab" role="tab"
                        aria-controls="by-created" aria-selected="false">Today
                        </a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('thisweek')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">This
                        Week</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('thismonth')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">This
                        Month</a>
                    </li>
                 
                  </ul>
                </div> -->
                <div class="btn-group">
                  <select class="form-control" [(ngModel)]='crdSelect' (change)="CreatedChangedHandler($event.target.value)">
                    <option value="today" >Today</option>
                    <option value="thisweek">This Week </option>                   
                    <option value="thismonth">This Month </option>                   
                    <option value="all">All</option>
                  </select>
                </div>
              </div>

              <div class="tab-pane fade" id="by-stage" role="tabpanel" aria-labelledby="by-stage-tab">
                <!-- <ul class="opp-tabs">
                  <li class="my-auto" *ngFor="let stage of stageInfo">
                    <div class="count text-center" (click)="applystagefilter(stage.stage)">
                      <h4 class="name">{{stage.stage | titlecase }}</h4> <span class="">{{stage.stagecount}}</span>
                    </div>
                  </li>
                </ul> -->
                <!-- <div class="filters-settings">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item nav-item-custom" *ngFor="let stage of stageInfo" (click)="applystagefilter(stage.stage)">
                    <a class="nav-link active1" id="by-engagged-tab" data-toggle="tab" role="tab"
                      aria-controls="by-engagged" aria-selected="true">{{stage.stage | titlecase }}
                      <span style="padding-left: 10px;" class="">({{stage.stagecount}})</span>
                    </a>
                  </li>                  
                </ul>
                </div> -->
                <div class="btn-group">
                  <select class="form-control" [(ngModel)]='stgSelect'  (change)="StageChangedHandler($event.target.value)">
                    <option *ngFor="let stage of stageInfo" value="{{stage.stage}}">{{stage.stage | titlecase }}
                      <span style="padding-left: 10px;" class="">({{stage.stagecount}})</span>
                    </option>
                
                  </select>
                </div>
              </div>
            </div>


          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />

          </div>
        </div>
       
      <!-- <span ngbPopover="You see, I show up on hover!" triggers="mouseenter" popoverTitle="Pop title">
        khaleel
        </span> -->
        <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
          [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents"
          [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
          [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
          [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData"
          (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)"></ag-grid-angular>

   <!-- Initiate Sequence Count Info popupu -->
   <ng-template #responseInfoModal>                   
    <div class="modal-body">     
      <div [innerHTML] = "responseInfo"></div>     
    </div>   
  </ng-template>

        <!-- Create new Contact Modal -->
        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="contactForm" (ngSubmit)="addContact(responseInfoModal)">
                <div class="modal-header">
                  <h4 class="modal-title">Create Contact</h4>
                  <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">First Name:</label>
                        <input type="text" class="form-control" formControlName="firstname" appTitleCase
                          [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                          <div *ngIf="f.firstname.errors.required">Enter first name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" formControlName="lastname" appTitleCase
                          [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                          <div *ngIf="f.lastname.errors.required">Enter last name</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Email:</label>
                        <input type="email" class="form-control" formControlName="email"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Contact No:</label>
                        <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                          class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                          <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                            <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Designation:</label>
                        <select class="form-control" formControlName="designationid"
                        [ngClass]="{ 'is-invalid': submitted && f.designationid.errors }"
                        (change)="selectDesignationChangeHandler($event.target.value)">                         
                        <option *ngFor="let desig of designationsList" [value]="desig.id">
                           {{desig.labeltitle | titlecase}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.designationid.errors" class="invalid-feedback">
                        <div *ngIf="f.designationid.errors.required">select industry</div>
                      </div>
                                         
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Personal LinkedIn Url:</label>
                        <input type="text"
                          class="form-control" formControlName="personallinkedinurl">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Owner:</label>
                        <select class="form-control" formControlName="assignedtointid"
                          [ngClass]="{ 'is-invalid': submitted && f.assignedtointid.errors }">
                          <ng-container *ngIf="IsMember; else userList">
                            <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                          </ng-container>
                          <ng-template #userList>
                            <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                            </option>
                          </ng-template>
                        </select>
                        <div *ngIf="submitted && f.assignedtointid.errors" class="invalid-feedback">
                          <div *ngIf="f.assignedtointid.errors.required">select owner</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Prospect Stage:</label>
                        <select class="form-control" formControlName="stage"
                          [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                          (change)="selectStageChangeHandler($event.target.value)">
                          <option value="not started">Not Started</option>
                          <option value="cold">Cold</option>
                          <option value="replied">Replied</option>
                          <option value="unresponsive">Unresponsive</option>
                          <option value="do not contact">Do Not Contact</option>
                          <option value="bad contact info">Bad Contact Info</option>
                          <option value="interested">Interested</option>
                          <option value="not interested">Not Interested</option>
                        </select>
                        <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                          <div *ngIf="f.stage.errors.required">select stage</div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Designation Category:</label>
                        <select class="form-control" formControlName="designation_category"                        
                        (change)="sctDesCatChangeHandler($event.target.value)">                         
                        <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                           {{desigCat.labeltitle | titlecase}}
                        </option>
                      </select>                     
                                         
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Account:</label>
                        <div class="form-check d-inline float-right">
                          <input class="form-check-input" type="checkbox" (change)="checkValue($event)" value=""
                            id="newaccountCheck">
                          <label class="form-check-label" for="newaccountCheck">
                            New account
                          </label>
                        </div>
                        <input *ngIf="IsChecked; else existingAccounts" class="form-control" type="text"
                          autocomplete="off" placeholder="Enter account name" id="accountName" (keyup)="onAccountKeyup($event.target.value)"
                          formControlName="accountname" [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }">
                          <div *ngIf="accountnameerror" class="text-danger">Enter account name</div>
                        <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                          <div *ngIf="f.accountname.errors.required">Enter account name</div>
                        </div>
                        <ng-template #existingAccounts>
                          <select class="form-control" formControlName="accountintid" (change)="accountChangeHandler($event.target.value)"
                            [ngClass]="{ 'is-invalid': submitted && f.accountintid.errors }">
                            <option *ngFor="let singleAccount of Accounts" [value]="singleAccount.Id">
                              {{singleAccount.AccountName}}</option>
                          </select>
                          <div *ngIf="accountintiderror" class="text-danger">select account name</div>
                          <div *ngIf="submitted && f.accountintid.errors" class="invalid-feedback">
                            <div *ngIf="f.accountintid.errors.required">select account name</div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                  <button type="submit" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                  <a class="btn btn-grey" (click)="onReset()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Create new Contact Modal ends here -->

        <!-- Assign Sequence Modal -->
        <div class="modal fade" id="assignSequenceModal" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Assign Sequence to Contact</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Select a sequence:</label>
                      <select class="form-control" [(ngModel)]="selectedOption">
                        <option [ngValue]="0">--Select--</option>
                        <option *ngFor="let sequence of Sequences" [value]="sequence.SequenceIdInt">
                          {{sequence.SequenceName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-theme btn-check" (click)="assignsequence()"><span>Assign Sequence</span></a>
                <a class="btn btn-grey" data-dismiss="modal">Cancel</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Assign Sequence Modal ends here -->
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="confirmation-content">
                  <div class="icon confirm">
                    <i class="fa fa-exclamation fa-2x"></i>
                  </div>
                  <h4>Are you sure want to delete?</h4>
                  <a class="in-modal button mr-1" data-toggle="modal" data-target="#successAlertModal"
                    data-dismiss="modal">Yes</a>
                  <a class="in-modal button btn-grey" data-dismiss="modal">No</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Confirmation Modal ends here -->

        <!-- Success Alert Modal -->
        <div class="modal fade" id="successAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="confirmation-content success">
                  <div class="icon confirm">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <h4>Deleted Successfully!!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Success Alert Modal ends here -->

      </div>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
