<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
      <div class="container-fluid">
          <div class="col-sm-12">
              <div id="createAccountModal">
                  <div class="row">
                      <div class="col-md-6">
                          <h2 class="page-title">Accounts</h2>
                      </div>            
                      <div class="col-md-6">
                          <div class="f-right">
                
                            <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item">
                                <a href="/accounts">Accounts</a>
                              </li>
                              <li class="breadcrumb-item">
                                Create Account
                              </li>
                            </ol>
                          </div>
                      </div>
                  </div>

                  <div class="modal-content">
                      <div class="row">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-8">
                              <form [formGroup]="accountForm" (ngSubmit)="addAccount(infoModal)">
                                  <div class="modal-header">
                                      <h4 class="modal-title">Create Account</h4>
                                  </div>
                              <div class="modal-body">
                                  <ng-template #infoModal>    
                                      <div class="modal-body card">
                                      <div class="card-body">
                                      <div class="card-text" [innerHTML] = "accountResponseInfo"></div>
                                      </div>
                                      <div class="modal-footer">
                                          <button *ngIf = "newaccountIntId > 0" class="btn btn-info" (click)="addContactsProceed()">YES</button>
                                          <button *ngIf = "newaccountIntId > 0" class="btn btn-danger" (click)="loadAccounts()">NO</button>
                                          <button *ngIf = "newaccountIntId == 0" class="btn btn-danger" (click)="loadAccounts()">Cancel</button>
                                      </div>
                                      </div>
                                  </ng-template>

                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group required">
                                              <label class="control-label">Account Name:</label>
                                              <input type="text" class="form-control" formControlName="accountname" appTitleCase
                                              [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }">
                                              <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                                                  <div *ngIf="f.accountname.errors.required">Enter account name</div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group required">
                                              <label class="control-label">Website:</label>
                                              <input type="text" class="form-control" placeholder="www.outwork.ai"
                                                  formControlName="website"[ngClass]="{ 'is-invalid': submitted && f.website.errors }">
                                              <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                                                  <div *ngIf="f.website.errors.required">website is required</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group required">
                                              <label class="control-label">Industry:</label>
                                              <ng-select [items]="IndustriesList" class="txtSearch" bindLabel="name" placeholder="Type for industry"
                                              [(ngModel)]="selIndustryInfo" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': submitted && f.industryid.errors }"
                                              (search)="industryChangeHandler($event,'')" (change)="selectIndustry()">
                                              </ng-select>
                                              <div *ngIf="industryintiderror" class="text-danger" style="font-size:80% !important">select industry</div>                  
                                          </div>
                                      </div>
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>Sub Industry:</label>
                                          <input type="text" class="form-control" formControlName="subindustry">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>Revenue:</label>
                                          <input type="number" placeholder="$o,ooo" min = "0"
                                          class="form-control" formControlName="revenue">
                                          </div>
                                      </div>
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>No. of Employees:</label>                        
                                          <input type="number" min = "0"
                                          class="form-control" formControlName="noofemployees">
                                          </div>
                                      </div>
                                     
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>Company LinkedIn URL:</label>
                                          <input type="url" class="form-control" formControlName="companylinkedinurl">
                                          </div>
                                      </div>

                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                              <label>Account Source:</label>
                                              <select class="form-control" formControlName="accountsource"                        
                                                  (change)="selectSourceChangeHandler($event.target.value)">
                                                  <option value="">Select account sourcec</option>
                                                  <option value="website">Website</option>
                                                  <option value="linkedin">LinkedIn</option>
                                                  <option value="advertisement">Advertisement</option>
                                                  <option value="customer event">Customer Event</option>
                                                  <option value="employee referral">Employee Referral</option>
                                                  <option value="partner">Partner</option>
                                                  <option value="purchased list">Purchased List</option>
                                                  <option value="tradeshow">Tradeshow</option>
                                                  <option value="webinar">Webinar</option>
                                                  <option value="job sites">Job Sites</option>
                                                  <option value="salesforce communities">Salesforce Communities</option>
                                                  <option value="google adwords">Google Adwords</option>
                                                  <option value="other">Other</option>
                                              </select>
                                          <!-- <div *ngIf="submitted && f.accountsource.errors" class="invalid-feedback">
                                              <div *ngIf="f.accountsource.errors.required">select account source</div>
                                          </div> -->
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>Account Type:</label>
                                          <select class="form-control" formControlName="accounttype"                        
                                              (change)="selectTypeChangeHandler($event.target.value)">
                                              <option value="">Select account type</option>
                                              <option value="partner">Partner</option>
                                              <option value="customer">Customer</option>                      
                                          </select>               
                                          </div>
                                      </div>
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group required">
                                          <label class="control-label">Stage:</label>
                                          <select class="form-control" formControlName="stage"
                                              [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                                              (change)="selectStageChangeHandler($event.target.value)">
                                              <option value="not started">Not Started</option>
                                              <option value="cold">Cold</option>
                                              <option value="replied">Replied</option>
                                              <option value="unresponsive">Unresponsive</option>
                                              <option value="do not contact">Do Not Contact</option>
                                              <option value="bad contact info">Bad Contact Info</option>
                                              <option value="interested">Interested</option>
                                              <option value="not interested">Not Interested</option>
                                          </select>
                                          <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                                              <div *ngIf="f.stage.errors.required">select stage</div>
                                          </div>
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <div class="row">
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group required">
                                          <label class="control-label">Owner:</label>
                                          <select class="form-control" formControlName="AssignedToIntId"
                                              [ngClass]="{ 'is-invalid': submitted && f.AssignedToIntId.errors }">
                                              <option value="">Select user</option>
                                              <ng-container *ngIf="IsMember; else userList">
                                              <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                                              </ng-container>
                                              <ng-template #userList>
                                              <option *ngFor="let user of usersData" [value]="user.IntUserId">
                                                  {{user.NickName}}
                                              </option>
                                              </ng-template>
                                          </select>
                                          <div *ngIf="submitted && f.AssignedToIntId.errors" class="invalid-feedback">
                                              <div *ngIf="f.AssignedToIntId.errors.required">select owner</div>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-12 col-sm-6">
                                          <div class="form-group">
                                          <label>Contact No:</label>
                                          <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                                              class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                                              <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                                              <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                             
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <label>Company Address:</label>
                                          <textarea rows="2" class="form-control" formControlName="companyaddress"></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                                  <button type="submit" [disabled]="loading" class="btn theme-btn btn-check">
                                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                  <span>Add Account</span></button>
                                  <button class="btn btn-grey" (click)="onReset()" >Cancel</button>
                              </div>
                           </form>
                      </div>
                      <div class="col-sm-2"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>