h6{font-weight: 400 !important;}
.db_info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.db_info ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.db_info ul li {
  display: list-item;
  font-size: 14px;
  margin-top: 0.6em;
}

.db_info ul li .f_right {
  float: right;
  background-color: #ededed;
    padding: 1px 10px;
    min-width: 17%;
    text-align: center;
    height: 23px;
}
/* .dash-link{
  color:#212529;
} */
.dash-link:hover{
  color: #ffa001;
  text-decoration: none;
  cursor: pointer;
}


.dashboard-summery-one .item-icon {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
.bg-light-green {
  background-color: #d1f3e0;
}
.bg-light-plum {
  background-color: #f7d9f3;
}
.bg-light-orange {
  background-color: #fff2d8;
}
.bg-light-skyblue {
  background-color: #cfedff;
}
.text-green {
  color: #3cb878;
}
.text-plum {
  color: #b767ff;
}
.text-orange {
  color: #ffa001;
}
.text-skyblue {
  color: #57c1ff;
}
.dashboard-summery-one .item-icon i {
  margin-left: 0;
  font-size: 18px;
}
.dashboard-summery-one {
  display: inline-flex;
}
.dashboard-summery-one h6{
line-height: 40px;
margin-left: 10px;
font-weight: 400;
}

.tasks-block{min-height: 170px;max-height: 170px;overflow-y: auto;}
.pl-5{padding-left:5px !important;}
.pr-5{padding-right:5px !important;}
.ph-5{padding-left:5px;padding-right:5px;}

/* ------------------------------------------- 

h6{font-weight: 400 !important;}
.db_info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.db_info ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.db_info ul li {
  display: list-item;
  font-size: 14px;
  margin-top: 0.6em;
}

.db_info ul li .f_right {
  float: right;
  background-color: #ededed;
    padding: 1px 10px;
    min-width: 17%;
    text-align: center;
    height: 23px;
}
.dash-link{
  color:#212529;
}
.dash-link:hover{
  color: #ffa001;
  text-decoration: none;
  cursor: pointer;
}


.dashboard-summery-one .item-icon {
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
.bg-light-green {
  background-color: #d1f3e0;
}
.bg-light-plum {
  background-color: #f7d9f3;
}
.bg-light-orange {
  background-color: #fff2d8;
}
.bg-light-skyblue {
  background-color: #cfedff;
}
.text-green {
  color: #3cb878;
}
.text-plum {
  color: #b767ff;
}
.text-orange {
  color: #ffa001;
}
.text-skyblue {
  color: #57c1ff;
}
.dashboard-summery-one .item-icon i {
  margin-left: 0;
  font-size: 18px;
}
.dashboard-summery-one {
  display: inline-flex;
}
.dashboard-summery-one h6{
line-height: 40px;
margin-left: 10px;
font-weight: 400;
}

.tasks-block{min-height: 170px;max-height: 170px;overflow-y: auto;}
.pl-5{padding-left:5px !important;}
.pr-5{padding-right:5px !important;}
.ph-5{padding-left:5px;padding-right:5px;}
/* ------------------------------------------- */