<div class="wrapper">
    <app-adminheader></app-adminheader>
    <div class="page-wrapper">
      <div class="container-fluid">
        <div>
          <h2 class="page-title">Templates</h2>
        </div>
        <div class="body-content">
  
          <div class="page-header">
            <div class="row">
              <div class="col-md-9">
  
                <div class="filters-settings">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a [ngClass]="mainTab == 'duedate' ? 'nav-link active': 'nav-link'" id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                          aria-controls="by-created" aria-selected="false">By Created Date</a>
                      </li>                    
                     
                    </ul>
                  </div>
              </div>
              <div class="col-md-3 text-md-right">
                <div class="page-header-links">
                    <a data-toggle="modal" data-target="#createNewTemplateModal">
                        <div class="btn-group">
                          <button type="button" class="btn  add-btn-icon">+</button>
                          <button type="button" class="btn  add-btn">Template</button>
                        </div>
                      </a>             
                </div>
              </div>
            </div>
          </div>
  
          <div class="row1">
            <div class="tab-content bg-variant-1">
              <div class="tab-pane fade show active" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
                <div class="row mb-3">
                  <div class="col-sm-7">
                    <div [ngClass]="mainTab == 'createddate' ? 'tab-pane fade show  active': 'tab-pane fade '">
                     
                      <div class="btn-group">
                        <select class="form-control" [(ngModel)]='periodType' (change)="EngagedChangedHandler($event.target.value)">
                            <option value="today">Today  &nbsp; {{todayDate}}</option>
                            <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                            <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                            <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option>
                            <option value="all">All</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
  
  
  
                  <div class="col-sm-1">
                    <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
                      <option value="10" selected="">10</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="200">200</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Search"
                      (keyup)="onFilterTextBoxChanged($event)" />
                  </div>
                </div>
                <div class="row">
                <div class="col-md-12 tasks-page" id="caontactswithgrid">
                  <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham"
                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" header-checkbox-selection.bind="true"
                    header-checkbox-selection-filtered-only.bind="true" checkbox-selection.bind="true"
                    [paginationPageSize]="paginationPageSize" (rowClicked)="onRowClicked($event)"
                    [cacheBlockSize]="cacheBlockSize" [gridOptions]="gridOptions" [suppressRowClickSelection]="true"
                    [groupSelectsChildren]="true" [debug]="true" [enableSorting]="true" [enableRangeSelection]="true"
                    [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
                </div>
              </div>
             
            </div>
  
            
          </div>
        </div>
      </div>
    </div>

    <!-- Create Template Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="createNewTemplateModal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <form [formGroup]="templateForm" (ngSubmit)="AddTemplate(responseInfoModal)">
          <div class="modal-header">
            <h4 class="modal-title">Create Template</h4>
            <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="create-template1">
              <div class="form-group">

                <input type="text" class="form-control" formControlName="TemplateName"
                  id="TemplateName" placeholder="Template Name"
                  [ngClass]="{ 'is-invalid': submitted && f.TemplateName.errors }" autocomplete="off">
                <div *ngIf="submitted && f.TemplateName.errors" class="invalid-feedback">
                  <div *ngIf="f.TemplateName.errors.required">Template Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="Subject"
                  placeholder="Template Subject" [ngClass]="{ 'is-invalid': submitted && f.Subject.errors }">
                <div *ngIf="submitted && f.Subject.errors" class="invalid-feedback">
                  <div *ngIf="f.Subject.errors.required">Subject is required</div>
                </div>
              </div>
              <div>
              <!-- <form action="save" method="post"> -->
              <textarea formControlName="HtmlTemplateBody" [froalaEditor]="options" id="froalaEditorContainer"
                class="pos-rel form-control" [ngClass]="{ 'is-invalid': submitted && f.HtmlTemplateBody.errors }"></textarea>             
              <div *ngIf="submitted && f.HtmlTemplateBody.errors" class="invalid-feedback">
                <div *ngIf="f.HtmlTemplateBody.errors.required">Content is required</div>
              </div>
            </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn theme-btn btn-check" type="submit"><span>Save
                Template</span></button>
            <button type="button" class="btn btn-grey" (click)="onReset()" data-dismiss="modal" #closeAddTemplateModal>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Create Template modal end here-->

  <!--Edit Template Modal-->   
  <div class="modal fade" role="dialog" tabindex="-1" id="updateTemplateModal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
    <form [formGroup]="templateEditForm" (ngSubmit)="UpdateTemplate()">
      <div class="modal-header">
        <h4 class="modal-title">Update Template</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onResetUpdateModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="create-template1">
          <div class="form-group">

            <input type="text" class="form-control" formControlName="TemplateName"
              placeholder="Template Name"
              [ngClass]="{ 'is-invalid': submitted && f1.TemplateName.errors }" autocomplete="off"
              id="templateUpdateName">
            <div *ngIf="submitted && f1.TemplateName.errors" class="invalid-feedback">
              <div *ngIf="f1.TemplateName.errors.required">Template Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="Subject"
               placeholder="Template Subject"
              [ngClass]="{ 'is-invalid': submitted && f1.Subject.errors }" id="subject">
            <div *ngIf="submitted && f1.Subject.errors" class="invalid-feedback">
              <div *ngIf="f1.Subject.errors.required">Subject is required</div>
            </div>
          </div>
          <!-- <form action="save" method="post"> -->
          <textarea formControlName="HtmlTemplateBody" [froalaEditor]="options" id="updatebody"
            class="pos-rel form-control" [ngClass]="{ 'is-invalid': submitted && f1.HtmlTemplateBody.errors }"></textarea>
            <div *ngIf="submitted && f1.HtmlTemplateBody.errors" class="invalid-feedback">
              <div *ngIf="f1.HtmlTemplateBody.errors.required">Content is required</div>
            </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn theme-btn btn-check" type="submit"><span>Update
            Template</span></button>

        <button type="button" class="btn btn-grey" (click)="onResetUpdateModal()" data-dismiss="modal" #closeEditTemplateModal>Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
  <!--Edit Template Modal end here-->

   <!-- Delete Confirmation Modal -->
 <div class="modal fade" id="confirmationTemplateDeleteModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="confirmation-content">
            <div class="icon confirm">
              <i class="fa fa-exclamation fa-2x text-danger"></i>
            </div>
            <h4>Are you sure want to delete?</h4>
            <a class="in-modal btn btn-sm btn-success mr-1" data-toggle="modal"
              data-dismiss="modal" (click)="deleteTemplateYes(responseInfoModal)">Yes</a>
            <a class="in-modal btn btn-sm btn-grey" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Confirmation Modal ends here -->

   <!-- Response Info popupu -->
   <ng-template #responseInfoModal>
    <div class="modal-body">
      <div [innerHTML]="responseInfo"></div>
    </div>
  </ng-template>
  
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  
  
  