<div class="wrapper">
    <app-adminheader></app-adminheader>
  
    <div class="page-wrapper">
        <div class="container-fluid">
  
            <div>
            <h2 class="page-title">Sequence Report</h2>
            </div>
        </div>

        <div class="body-content">
            <div class="page-header">
                <div class="btn-group row mb-3">
                    <select class="form-control" [(ngModel)]='reportPeriodSelect'  (change)="PeriodChangedHandler($event.target.value)">
                      <option value="today">Today  &nbsp; {{todayDate}}</option>
                      <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                      <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                      <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option> 
                      <option value="all"> All </option>                     
                    </select>
                  </div>
              <div class="row">               
                <ag-grid-angular #myGrid style="width: 100%;" class="ag-theme-balham" 
                 [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs" 
                 [rowData]="sequenceList" (gridReady)="onGridReady($event)"  (cellClicked)="onCellClicked($event)"        
                [animateRows]="true"></ag-grid-angular>
            </div>
        </div>
        
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>  
    