<div class="d-flex text-center">

  <!-- <span class="badge badge-rounded badge-outline contact-info-badge check mr-2" data-toggle="tooltip"
        title="Click To Disable" data-placement="left"  (click)="enableUser()">
        <div> *ngIf="disableIcon" </div>>
        <i class="fa fa-user-check" ></i>
    </span>  -->
  <!-- <button type="button" [className]="disableIcon?'badge badge-rounded badge-outline cinfo-badge  contact-info-badge mr-2':
    'badge badge-rounded badge-outline contact-info-badge check mr-2'"
    [title]="disableIcon?'Click To Enable':'Click To Disable'" data-placement="left" [disabled]="disableActionField"
    (click)="myClickHandler()">
    <i [class]="disableIcon?'fa fa-user-times':'fa fa-user-check'"></i>
  </button> -->

  <!-- <div *ngIf="disableIcon" title="Click To Enable" (click)="enableUser()"  
    class="badge badge-rounded badge-outline contact-info-badge mr-2" ></div>  -->


  <!-- <span class="badge badge-rounded badge-outline contact-info-badge check" data-toggle="tooltip"
         title="Disable" data-placement="left"  (click)="disableUser()">
        <i class="fa fa-user-times" ></i>
    </span>  -->

  <button
    [className]="isDeleted?'badge badge-rounded cinfo-badge  contact-info-badge':'badge badge-rounded badge-outline contact-info-badge check'"
    data-toggle="tooltip" [title]="isDeleted?'Deleted':'Delete'" data-placement="left" [disabled]="isDeleted"
    (click)="deleteUser()">
    <i class="fa fa-trash"></i>
  </button>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="confirmation-content">
          <div class="icon confirm">
            <i class="fa fa-exclamation fa-2x"></i>
          </div>
          <h4>Are you sure want to delete?</h4>
          <button type="button" class="btn btn-theme mr-1" data-toggle="modal" data-target="#successAlertModal"
            data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-grey" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Alert Modal -->
<div class="modal fade" id="successAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="confirmation-content success">
          <div class="icon confirm">
            <i class="fa fa-check fa-2x"></i>
          </div>
          <h4>Deleted Successfully!!</h4>
        </div>
      </div>
    </div>
  </div>
</div>
