.badge-rounded-email {
  color: #ffb42b !important;
  background-color: #ffecc9 !important;
  border: 1px solid #ffb42b;
}

.badge-rounded-call {
  color: #00cec9 !important;
  background-color: #cffffe !important;
  border: 1px solid #00cec9;
}

.badge-rounded-default {
  color: #777 !important;
  background-color: #dadada !important;
  border: 1px solid #777;
}

.w-5p {
  width: 5px !important;
}

.l-color {
  color: #999;
}

.success-color {
  color: #23bb63;
}

.create-template .form-group {
  border-bottom: 1px solid #ccc;
  margin: 0 !important;
}

nav {
  margin-bottom: 15px;
}

.nav-tabs .nav-link {
  border: 1px solid #eee;
}
