.ag-header-cell {
    text-overflow: 'clip !important';
    overflow: 'visible !important';
    white-space: 'pre-wrap !important';
  }

  .ag-header-cell-label .ag-header-cell-text  {
    color: #054576 !important;
    font-size: 14px !important;
    text-overflow: 'clip !important';
    overflow: 'visible !important';
    white-space: 'normal !important';
}

.ag-body-viewport.ag-layout-normal{
  min-height: 500 px !important;
}