<app-headerwithoutmenu></app-headerwithoutmenu>
<div class="container text-center" style="margin-top: 120px;">
  <img src="./assets/Images/access-denied-img.png" style="width: 20%;"/>
  <h3>You don't have permission to access this page..!</h3>
  <a class="" *ngIf="auth.isLoggedIn()" routerLink="/dashboard">More options</a>
  <a class="" *ngIf="!auth.isLoggedIn()" routerLink="/login">Click here to Login</a>
</div>