.contact-page{font-family: 'Poppins', sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
   
    }


.page-title-box {
    padding-bottom: 24px;
  }
    .page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0;
  }
  
  .breadcrumb-item>a {
    color: #495057;
  }
  .page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px!important;
  }
  .font-size-14 {
    font-size: 14px!important;
  }	
  .card{border:0px !important;}
  
  .table .thead-light th {
    color: #495057;
    background-color: #f8f9fa;
    border-color: #eff2f7;
  }
  .table th {
    font-weight: 600;
  }
  .badge-soft-primary[href]:focus, .badge-soft-primary[href]:hover {
    color: #556ee6;
    text-decoration: none;
    background-color: rgba(85,110,230,.4);
  }
  .badge-soft-primary {
    color: #556ee6;
    background-color: rgba(85,110,230,.18);
    font-weight: 500;
  }
  .font-size-11 {
    font-size: 11px!important;
  }
  
  .table-hover tbody tr:hover {
    color: #495057;
    background-color: #f8f9fa;
  }
  .avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #556ee6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .rounded-circle {
    border-radius: 50%!important;
  }
  .avatar-xs {
    height: 2rem;
    width: 2rem;
  }
  
  .pagination-rounded .page-link {
    border-radius: 30px!important;
    margin: 0 3px;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    line-height: 32px;
  }
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #74788d;
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
  }
  

  /*Ag-grid styles */
.contact-page .ag-theme-balham {
    font-size: 13px;
  }
  
  .contact-page .ag-theme-balham .ag-root {
    border: 1px solid #f3f3f3 !important;
  }
  
  .contact-page .ag-root-wrapper-body.ag-layout-normal {
    height: 100%;
  
  }
  
  .contact-page .ag-body-viewport.ag-layout-normal {
    min-height: 200px;
    overflow-y: hidden !important;
    color: #676B79;
    /* border-left: 1px solid #eee; */
  }
  
  .contact-page .ag-theme-balham .ag-pinned-right-header {
    padding-left: 20px !important;
  }
  .ag-theme-balham .ag-pinned-right-header,
  .ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-first-right-pinned:not(.ag-cell-range-left),
  .ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-first-right-pinned:not(.ag-cell-range-left),
  .ag-theme-balham .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
  
    border-left: 0px !important;
  }
  
  .contact-page .ag-row {
    padding: 10px 0px !important;
  }
  
  .contact-page .ag-row-hover {
    background-color: #fff !important;
  }
  
  .contact-page .ag-theme-balham .ag-row {
    /* border-color: #eee !important; */
    border-color: transparent !important;
  }
  
  .contact-page .ag-column-hover {
    background-color: none;
  }
  

  
  .ag-theme-balham .ag-header-cell::after,
  .ag-theme-balham .ag-header-group-cell::after {
    display: none;
  }
  
  .contact-page .ag-theme-balham .ag-row-odd {
    background-color: #fafafe !important
  }
  
   
  .contact-page .ag-theme-balham .ag-ltr .ag-cell:first-child {
    font-weight: 400;
  
    text-transform: capitalize;
  }
  
  /* .ag-theme-balham .ag-ltr .ag-cell:first-child a {
    color: #0a39e2 !important;
  } */
  .contact-page .ag-cell-focus {
    border: 0px !important;
  }
  
  .contact-page .ag-theme-balham .ag-paging-panel {
    color: #000;
    border-top: 0px !important;
  }
  
  .contact-page .ag-theme-balham .ag-paging-page-summary-panel .ag-paging-button.ag-disabled .ag-icon {
    color: #888;
    opacity: 1;
  }
  
  .contact-page .ag-theme-balham .ag-status-bar,
  .ag-theme-balham .ag-side-bar {
    border: 1px solid #eee !important;
  }
  
  .contact-page .ag-theme-balham .ag-overlay-loading-center{border:0px !important;}