<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid contact-page">
      <!-- <div>
        <h2 class="page-title">Contacts</h2>
      </div> -->

           <!-- start page title -->
           <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Contacts</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active">Contacts</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

      <div class="body-content">

        <div class="page-header">
          <div class="row">
            <div class="col-md-9">

              <div class="filters-settings">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek-created','created')">
                    <a [ngClass]="mainTab == 'created' ? 'nav-link active': 'nav-link'"  id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                      aria-controls="by-created" aria-selected="false">By Created</a>
                  </li>
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek','engaged')">
                    <a [ngClass]="mainTab == 'engaged' ? 'nav-link active': 'nav-link'"  id="by-engagged-tab" data-toggle="tab" href="#by-engagged" role="tab"
                      aria-controls="by-engagged" aria-selected="true">By Engaged</a>
                  </li>

                  <li class="nav-item" (click)="mainFilterTabsChanged('notengaged','notengaged')">
                    <a [ngClass]="mainTab == 'notengaged' ? 'nav-link active': 'nav-link'"  id="by-not-engagged-tab" data-toggle="tab" href="#by-not-engagged" role="tab"
                      aria-controls="by-not-engagged" aria-selected="false">Not Engaged</a>
                  </li>

                  
                  <!-- <li class="nav-item" (click)="mainFilterTabsChanged('all')">
                    <a class="nav-link" id="by-stage-tab" data-toggle="tab" href="#by-stage" role="tab"
                      aria-controls="by-stage" aria-selected="false">By Stage</a>
                  </li> -->
                </ul>
              </div>
            </div>

            <div class="col-md-3 text-md-right">
              <div class="page-header-links">
                <a data-toggle="modal" data-target="#createContactModal">
                  <div class="btn-group">
                    <button type="button" class="btn add-btn-icon">+</button>
                    <button type="button" class="btn add-btn">Contact</button>
                  </div>
                </a>
                <!-- <a *ngIf="userInfo.companyIntId==21" class="ml-2" href="/contacts/addnewcontact">
                  <div class="btn-group">
                    <button type="button" class="btn add-btn-icon">+</button>
                    <button type="button" class="btn add-btn">Add Contact</button>
                  </div>
                </a>                -->
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-9">

            <div class="tab-content" id="myTabContent">
              <div [ngClass]="mainTab == 'engaged' ? 'tab-pane fade show  active': 'tab-pane fade '" id="by-engagged" role="tabpanel" aria-labelledby="by-engagged-tab">
               <div class="btn-group">
                  <select class="form-control" [(ngModel)]='engSelect' (change)="EngagedChangedHandler($event.target.value)">
                    <option value="today">Today  &nbsp; {{todayDate}}</option>
                    <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                    <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                    <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option> 
                    <option value="lastmonth">Last Month </option>
                    <option value="last3months"> > 3 Months</option>
                    <!-- <option value="notengaged">Not Engaged</option> -->
                    <option value="all">All</option>
                  </select>
                </div>
              
              </div>


              <div [ngClass]="mainTab == 'created' ? 'tab-pane fade show  active': 'tab-pane fade '" id="by-created" role="tabpanel" aria-labelledby="by-created-tab">
           <div class="btn-group">
                  <select class="form-control" [(ngModel)]='crdSelect' (change)="CreatedChangedHandler($event.target.value)">
                    <option value="today">Today  &nbsp; {{todayDate}}</option>
                    <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                    <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                    <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option>                   
                    <option value="all">All</option>
                  </select>
                </div>
              </div>

              <!-- <div class="tab-pane fade" id="by-stage" role="tabpanel" aria-labelledby="by-stage-tab">
               
                <div class="btn-group">
                  <select class="form-control"  (change)="StageChangedHandler($event.target.value)">
                     <option *ngFor="let stage of stageInfo" value="{{stage.stage}}">{{stage.stage | titlecase }}
                      <span style="padding-left: 10px;" class="">({{stage.stagecount}})</span>
                    </option> 
                
                  </select>
                </div>
              </div> -->
            </div>
          </div>

          <!-- <div class="col-sm-2">
            <span>
                <input type='checkbox' class='ag-selection-checkbox' id="contactsgridSelectAll" (click)='toggleSelectAll()' style="word-wrap:break-word;vertical-align:middle;">
             </span>
            <label>&nbsp;&nbsp;Select All</label>
        </div>

          <div class="col-sm-3">
            <button data-toggle="modal" [disabled]="IsUpdateAssigneeEnabled"  (click)="updateBulkAssignees()" data-target="#updateAssigneeModal" class="btn btn-info">Update Bulk Assignees</button>
          </div> -->
          <div class="col-sm-1">           
            <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
              <option value="10" selected="">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
          </div>
          <div class="col-sm-2">           
            <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
         </div>
        </div>
  <div class="row">
      <div class="col-md-12" id="caontactswithgrid">           
        <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
         [defaultColDef]="defaultColDef"  (paginationChanged)="onPaginationChanged($event)"
         header-checkbox-selection.bind="true" header-checkbox-selection-filtered-only.bind="true"
         checkbox-selection.bind="true" (paginationChanged)="onPaginationChanged($event)"
        [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" (cellClicked)="onCellClicked($event)"
        [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
        [enableSorting] = "false" [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData"
        (rowSelected)="onRowSelected($event)" (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)"></ag-grid-angular>
      </div>
      </div>
 <!-- Response Info popupu -->
 <ng-template #responseInfoModal>                   
  <div class="modal-body">     
    <div [innerHTML] = "responseInfo"></div>     
  </div>     
</ng-template>


       <!-- Create new Contact Modal -->
       <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="contactForm" (ngSubmit)="addContact(responseInfoModal)">
              <div class="modal-header">
                <h4 class="modal-title">Create Contact</h4>
                <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">First Name:</label>
                      <input type="text" class="form-control" formControlName="firstname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                      <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div *ngIf="f.firstname.errors.required">Enter first name</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Last Name:</label>
                      <input type="text" class="form-control" formControlName="lastname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Enter last name</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Email:</label>
                      <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" on-focusout="focusOutEmailTxt($event,responseInfoModal,0)">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Contact No:</label>
                      <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                        class="form-control" formControlName="mobilenumber" 
                        [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                        <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                          <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation:</label>
                      <div class="form-check d-inline float-right" style="font-size:11px;">
                        <input class="form-check-input" type="checkbox" (change)="checkDesignValue($event)" value="">
                        <label class="form-check-label" for="newaccountCheck">
                          New designation
                        </label>
                      </div>
                      <input *ngIf="IsNewDesignChecked; else existingDesignations" class="form-control" type="text"
                      autocomplete="off" placeholder="Enter designation" on-focusout="focusOutDesignTxt($event,responseInfoModal)"
                      formControlName="designation">
                      <ng-template #existingDesignations>
                      <ng-select dropdownPosition="top" class="txtSearch" [items]="designationsList" bindLabel="name" placeholder="Type for designation"
                      [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                      (search)="desigSelectHandler($event, 'search')"  (clear)="resetdesigs()" (change)="selectDesignation()"></ng-select>
                      </ng-template> 
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Personal LinkedIn Url:</label>
                      <input type="text"
                        class="form-control" formControlName="personallinkedinurl">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Owner:</label>
                      <select class="form-control" formControlName="assignedtointid"
                        [ngClass]="{ 'is-invalid': submitted && f.assignedtointid.errors }">
                        <option value="">Select owner</option>
                        <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                        </ng-container>
                        <ng-template #userList>
                          <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                          </option>
                        </ng-template>
                      </select>
                      <div *ngIf="submitted && f.assignedtointid.errors" class="invalid-feedback">
                        <div *ngIf="f.assignedtointid.errors.required">select owner</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Stage:</label>
                      <select class="form-control" formControlName="stage"
                        [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                        (change)="selectStageChangeHandler($event.target.value)">
                        <option value="not started">Not Started</option>
                        <option value="cold">Cold</option>
                        <option value="replied">Replied</option>
                        <option value="unresponsive">Unresponsive</option>
                        <option value="do not contact">Do Not Contact</option>
                        <option value="bad contact info">Bad Contact Info</option>
                        <option value="interested">Interested</option>
                        <option value="not interested">Not Interested</option>
                      </select>
                      <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                        <div *ngIf="f.stage.errors.required">select stage</div>
                      </div>
                    </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation Category:</label>
                      <select class="form-control" formControlName="designation_category"                        
                      (change)="sctDesCatChangeHandler($event.target.value)">       
                      <option value="">Select designation category</option>                  
                      <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                         {{desigCat.labeltitle | titlecase}}
                      </option>
                    </select>                     
                                       
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Account:</label>
                      <div class="form-check d-inline float-right">
                        <input class="form-check-input" type="checkbox" (change)="checkValue($event,'')" value=""
                          id="newaccountCheck">
                        <label class="form-check-label" for="newaccountCheck">
                          New account
                        </label>
                      </div>
                      <input *ngIf="IsChecked; else existingAccounts" class="form-control" type="text"
                        autocomplete="off" placeholder="Enter account name" id="accountName" on-focusout="focusOutAccountTxt($event,responseInfoModal)"
                        formControlName="accountname" [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }">
                        <div *ngIf="accountnameerror" class="text-danger">Enter account name</div>
                      <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                        <div *ngIf="f.accountname.errors.required">Enter account name</div>
                      </div>
                      <ng-template #existingAccounts>
                        <ng-select dropdownPosition="top" class="txtSearch" [items]="accountsList" bindLabel="name" placeholder="Type for account"
                        [(ngModel)]="selAccountInfo" [ngModelOptions]="{standalone: true}"
                         (search)="accountChangeHandler($event)"  (clear)="resetaccounts()" (change)="selectAccount()">
                        </ng-select>
                       
                        <div *ngIf="accountintiderror" class="text-danger" style="font-size:80% !important">select account name</div>
                        <div *ngIf="submitted && f.accountintid.errors" class="invalid-feedback">
                          <div *ngIf="f.accountintid.errors.required" style="font-size:80% !important">select account name</div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Campaign Type:</label>
                      <select class="form-control" formControlName="campaigntype"                        
                      (change)="compTypeChangeHandler($event.target.value)">       
                      <option value="">Select campaign type</option>                  
                      <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                         {{camptype.labeltitle | titlecase}}
                      </option>
                    </select>        
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" [disabled]="loading" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                <a class="btn btn-grey" (click)="onReset()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Create new Contact Modal ends here -->


       <!-- Update Contact Modal -->
       <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="updateContactModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="updatecontactForm" (ngSubmit)="updateContact(responseInfoModal)">
              <div class="modal-header">
                <h4 class="modal-title">Update Contact</h4>
                <button type="button" class="close" (click)="OnUpdateReset()" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">First Name:</label>
                      <input type="text" class="form-control" formControlName="firstname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && uf.firstname.errors }">
                      <div *ngIf="submitted && uf.firstname.errors" class="invalid-feedback">
                        <div *ngIf="uf.firstname.errors.required">Enter first name</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Last Name:</label>
                      <input type="text" class="form-control" formControlName="lastname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && uf.lastname.errors }">
                      <div *ngIf="submitted && uf.lastname.errors" class="invalid-feedback">
                        <div *ngIf="uf.lastname.errors.required">Enter last name</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Email:</label>
                      <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && uf.email.errors }" on-focusout="focusOutEmailTxt($event,responseInfoModal,updateRecodeId)">
                      <div *ngIf="submitted && uf.email.errors" class="invalid-feedback">
                        <div *ngIf="uf.email.errors.required">Email is required</div>
                        <div *ngIf="uf.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Contact No:</label>
                      <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                        class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && uf.mobilenumber.errors }">
                        <div *ngIf="submitted && uf.mobilenumber.errors" class="invalid-feedback">                         
                          <div *ngIf="uf.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation:</label>
                      <div class="form-check d-inline float-right" style="font-size:11px;">
                        <input class="form-check-input" type="checkbox" (change)="checkDesignValue($event)" value="">
                        <label class="form-check-label" for="newaccountCheck">
                          New designation
                        </label>
                      </div>
                      <input *ngIf="IsNewDesignChecked; else existingDesignations" class="form-control" type="text"
                      autocomplete="off" placeholder="Enter designation" on-focusout="focusOutDesignTxt($event,responseInfoModal)"
                      formControlName="designation">
                      <ng-template #existingDesignations>
                      <ng-select dropdownPosition="top" class="txtSearch" [items]="designationsList" bindLabel="name" placeholder="Type for designation"
                      [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                      (search)="desigSelectHandler($event)"  (clear)="resetdesigs()" (change)="selectDesignation()"></ng-select>
                      </ng-template> 
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Personal LinkedIn Url:</label>
                      <input type="text"
                        class="form-control" formControlName="personallinkedinurl">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Owner:</label>
                      <select class="form-control" formControlName="assignedtointid"
                        [ngClass]="{ 'is-invalid': submitted && uf.assignedtointid.errors }">
                        <option value="">Select owner</option>
                        <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                        </ng-container>
                        <ng-template #userList>
                          <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                          </option>
                        </ng-template>
                      </select>
                      <div *ngIf="submitted && uf.assignedtointid.errors" class="invalid-feedback">
                        <div *ngIf="uf.assignedtointid.errors.required">select owner</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Stage:</label>
                      <select class="form-control" formControlName="stage"
                        [ngClass]="{ 'is-invalid': submitted && uf.stage.errors }"
                        (change)="selectStageChangeHandler($event.target.value)">
                        <option value="not started">Not Started</option>
                        <option value="cold">Cold</option>
                        <option value="replied">Replied</option>
                        <option value="unresponsive">Unresponsive</option>
                        <option value="do not contact">Do Not Contact</option>
                        <option value="bad contact info">Bad Contact Info</option>
                        <option value="interested">Interested</option>
                        <option value="not interested">Not Interested</option>
                      </select>
                      <div *ngIf="submitted && uf.stage.errors" class="invalid-feedback">
                        <div *ngIf="uf.stage.errors.required">select stage</div>
                      </div>
                    </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation Category:</label>
                      <select class="form-control" formControlName="designation_category"                        
                      (change)="sctDesCatChangeHandler($event.target.value)">       
                      <option value="">Select designation category</option>                  
                      <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                         {{desigCat.labeltitle | titlecase}}
                      </option>
                    </select>                     
                                       
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Account:</label>
                      <div class="form-check d-inline float-right">
                        <input class="form-check-input" type="checkbox" (change)="checkValue($event, 'update')" value=""
                          id="newaccountCheck">
                        <label class="form-check-label" for="newaccountCheck">
                          New account
                        </label>
                      </div>
                      <!-- (keyup)="onAccountKeyup($event.target.value)" -->
                      <input *ngIf="IsChecked; else existingAccounts" class="form-control" type="text"
                        autocomplete="off" placeholder="Enter account name" id="accountName"
                        formControlName="accountname" [ngClass]="{ 'is-invalid': submitted && uf.accountname.errors }" on-focusout="focusOutAccountTxt($event,responseInfoModal)">
                        <div *ngIf="accountnameerror" class="text-danger">Enter account name</div>
                      <div *ngIf="submitted && uf.accountname.errors" class="invalid-feedback">
                        <div *ngIf="uf.accountname.errors.required">Enter account name</div>
                      </div>
                      <ng-template #existingAccounts>
                        <ng-select dropdownPosition="top" class="txtSearch" [items]="accountsList" bindLabel="name" placeholder="Type for account"
                        [(ngModel)]="selAccountInfo" [ngModelOptions]="{standalone: true}"
                         (search)="accountChangeHandler($event,'search')"  (clear)="resetaccounts()" (change)="selectAccount()">
                        </ng-select>
                        <!-- <select class="form-control" formControlName="accountintid" (change)="accountChangeHandler($event.target.value)"
                          [ngClass]="{ 'is-invalid': submitted && f.accountintid.errors }">
                          <option *ngFor="let singleAccount of Accounts" [value]="singleAccount.Id">
                            {{singleAccount.AccountName}}</option>
                        </select> -->
                        <div *ngIf="accountintiderror" class="text-danger" style="font-size:80% !important">select account name</div>
                        <div *ngIf="submitted && uf.accountintid.errors" class="invalid-feedback">
                          <div *ngIf="uf.accountintid.errors.required" style="font-size:80% !important">select account name</div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Campaign Type:</label>
                      <select class="form-control" formControlName="campaigntype"                        
                      (change)="compTypeChangeHandler($event.target.value)">       
                      <option value="">Select campaign type</option>                  
                      <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                         {{camptype.labeltitle | titlecase}}
                      </option>
                    </select>        
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" [disabled]="!updatecontactForm.dirty || loading" class="btn theme-btn btn-check"><span>Update Contact</span></button>
                <a class="btn btn-grey" (click)="OnUpdateReset()" data-dismiss="modal" #closeUpdateContactModal>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Update Contact Modal ends here -->

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="confirmationContactDeleteModal" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="confirmation-content">
                  <div class="icon confirm">
                    <i class="fa fa-exclamation fa-2x text-danger"></i>
                  </div>
                  <h4>Are you sure want to delete?</h4>
                  <a class="in-modal btn btn-sm btn-success mr-1" data-toggle="modal"
                    data-dismiss="modal" (click)="deleteContactYes(successAlertModal)">Yes</a>
                  <a class="in-modal btn btn-sm btn-grey" data-dismiss="modal">No</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Confirmation Modal ends here -->
        
        <!-- Success Alert Modal -->
        <ng-template #successAlertModal>                   
          <div class="modal-body">     
            <div [innerHTML] = "deleteresponseInfo"></div>     
          </div>     
        </ng-template>
        <!-- Success Alert Modal ends here -->

        <!-- Update Assignee Modal -->
        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="updateAssigneeModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <!-- <form [formGroup]="contactForm" (ngSubmit)="updateAssignee()"> -->
                <div class="modal-header">
                  <h4 class="modal-title">Update Assignee</h4>
                  <button type="button" class="close" (click)="setDefaultOwner()" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Owner:</label>
                        <select class="form-control" [(ngModel)]="defaultOwnerValue" (change)="AssigneeChangeHandler($event.target.value)">
                          <option value="">select owner</option>
                          <ng-container *ngIf="IsMember; else userList">
                            <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                          </ng-container>
                          <ng-template #userList>
                            <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                            </option>
                          </ng-template>
                        </select>
                        <div *ngIf="!IsErrorOccurred" class="error-message mt-2">
                          {{errorMessage}}
                        </div>
                      </div>
                    </div>                
                  </div>    
                </div>
                <div class="modal-footer">
                  <button [disabled]="!IsErrorOccurred" (click)="updateAssignee()" class="btn theme-btn btn-check"><span>Update</span></button>
                  <a class="btn btn-grey" data-dismiss="modal" (click)="setDefaultOwner()" #closeUpdateAssigneeModal>Cancel</a>
                </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
        <!-- Create new Contact Modal ends here -->
</div>
</div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>