<div class="wrapper">
    <app-header></app-header>

    <div class="page-wrapper">
        <div class="container-fluid">

            <div>
                <h2 class="page-title">Sequence Initiate</h2>
            </div>

            <div class="body-content">
              
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label>Industry:</label>
                            <select class="form-control"
                            (change)="IndustryTypeChangedHandler($event.target.value)">
                                <ng-container *ngIf="IndustriesList && IndustriesList.length > 0; else noIndItems">
                                    <option [value]="">select industry</option>
                                    <option *ngFor="let industry of IndustriesList" [value]="industry.id">
                                       {{industry.labeltitle | titlecase}}
                                    </option>
                                   
                                </ng-container>
                                <ng-template #noIndItems>
                                    <option [value]="">No item</option>
                                </ng-template>
                            </select>
                          
                        </div>
                    </div>   
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label>Designation:</label>
                            <ng-select [items]="items" bindLabel="name" placeholder="Select item" appendTo="body" multiple="true"
                                [(ngModel)]="selected" (change)="getValues()">
                            </ng-select>
                        </div>
                        </div>
                </div>
                <button [disabled]="disabled" (click)="searchSequence()" class="btn theme-btn btn-check"><span>Search</span></button>
         
                <div class="row" [hidden]="IsSequenceContainerHidden">
                    <div class="col-sm-12">
                       
                        <div class="sequenceContainer mt-3">
                        <div class="row" *ngIf="SequencesList && SequencesList.length > 0; else noseq">
                           <div class="col-sm-5">
                            <h6>Sequences List</h6>
                            <div *ngFor="let singleSeq of SequencesList">
                        <input type="radio" name="gender" (change)="onItemChange(singleSeq.SequenceIdInt)" value="{{singleSeq.SequenceIdInt}}">
                        <label>{{singleSeq.SequenceName | titlecase}}</label>
                            </div>
                           
                           </div>
                           <div class="col-sm-3">
                            <div class="form-group">                                
                                <select class="form-control"  [(ngModel)]='fetchType'               
                                (change)="fetchTypeChangeHandler($event.target.value)"> 
                                <option value="account">
                                   Account wise
                                </option>
                                <option value="contact">
                                    Contact wise
                                 </option>
                              </select>        
                              </div>
                              <div *ngIf="IsContactRelatedItems" class="form-group">
                                <label>Campaign Type:</label>
                                <select class="form-control"                    
                                (change)="compTypeChangeHandler($event.target.value)">       
                                <option value="">Select campaign type</option>                  
                                <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                                   {{camptype.labeltitle | titlecase}}
                                </option>
                              </select>        
                              </div>
                           </div>
                           <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="IsChecked" (change)="checkValue($event)" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Do you require a single thread mails
                                </label>
                              </div>
                           </div>                         
                        
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" [disabled]="disabledFetchContacts" (click)="fetchContacts(initiateInfoModal)">Fetch Contacts</button>
                        </div>
                        <ng-template #noseq>
                            <span>No data available..!</span>
                        </ng-template>
                        </div>

                    </div>
                </div>

                <!-- Initiate Sequence Count Info popupu -->
                <ng-template #initiateInfoModal>                   
                    <div class="modal-body card">
                      <div class="card-body">
                       <h6 class="card-text" [innerHTML] = "initiateCountInfo"></h6>
                       
                      </div>

                      <div class="modal-footer">
                          
                         <div class="float-left" *ngIf="isTimerStart"><span class="custom-circle">{{timerCount}}</span></div>
                         
                          <button class="btn btn-warning" *ngIf="isTimerStart"  (click)="stopInitiating()">Stop</button>
                        <button class="btn btn-danger" (click)="cancelInitiateSequence()">Cancel</button>
                        <button class="btn btn-info" *ngIf="isInitiatedBtnVisible" [disabled]="initiateBtnDisabled" (click)="initiateSequence()">Initiate</button>
                      </div>
                    </div>
                   
                  </ng-template>

                <!-- (cellValueChanged)="onCellValueChanged($event)" -->
                <div class="row mt-3" [hidden]="IsContactsListHidden">
                    <div class="col-sm-8">
                        <h4>The following contacts are never engaged <span *ngIf="contactsCount > 0">({{contactsCount}})</span></h4>
                    </div>
                    <div class="col-sm-2 text-right">
                        <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
                    </div>    
                   <div class="col-sm-2 text-right">
                    <button class="btn btn-success" *ngIf="contactsCount > 0" [disabled]="IsProceedBtnEnabled" (click)="initiateSequenceBtn(initiateInfoModal)">Proceed</button>
                   </div>
                    <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
                    [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef" (cellClicked)="onCellClicked($event)"
                    [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
                    [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
                    [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
                    [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData" (rowSelected)="onRowSelected($event)"
                    (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
                </div>
                
           
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>