.sequenceContainer{
    border:1px solid #ccc;
    padding: 12px 10px;
}
.custom-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    background-color:#bbb;
    padding: 10px 12px;
}