<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Opportunities</h2>
      </div>

      <div class="body-content">
        <div class="page-header">
          <div class="row">
            <div class="col-6 text-md-left">
             
            </div>
            <div class="col-6 text-md-right">
              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createOpportunityModal">
                  <div class="btn-group">
                    <button type="button" class="btn  add-btn-icon">+</button>
                    <button type="button" class="btn  add-btn">Opportunity</button>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-7">
            <div class="btn-group">
              <select class="form-control" [(ngModel)]='periodType'
                (change)="CreatedChangedHandler($event.target.value)">
                <option value="today">Today &nbsp; {{todayDate}}</option>
                <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                <option value="lastweek">Last Week &nbsp; {{lastWeekfromto}}</option>
                <option value="thismonth">This Month &nbsp; {{thisMonthfromto}}</option>
                <option value="all">All</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2"></div>



          <div class="col-sm-1">
            <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
              <option value="10" selected="">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <!-- <option value="200">200</option> -->
            </select>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Search"
              (keyup)="onFilterTextBoxChanged($event)" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 tasks-page" id="caontactswithgrid">
            <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef" header-checkbox-selection.bind="true"
              header-checkbox-selection-filtered-only.bind="true" checkbox-selection.bind="true"
              (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
              [cacheBlockSize]="cacheBlockSize" [gridOptions]="gridOptions" [suppressRowClickSelection]="true"
              [groupSelectsChildren]="true" [debug]="true" [enableSorting]="false" [enableRangeSelection]="true"
              [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular>
          </div>
        </div>
        <!-- <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham"
                    [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
                    [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
                    [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true"
                    [debug]="true" [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" (cellClicked)="onCellClicked($event)"
                    [pivotPanelShow]="pivotPanelShow" [enableRangeSelection]="true" [pagination]="true"
                    [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular> -->

        <!-- Response Info popupu -->
        <ng-template #responseInfoModal>
          <div class="modal-body">
            <div [innerHTML]="responseInfo"></div>
          </div>
        </ng-template>

        <!-- Create new Opportunity Modal -->
        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createOpportunityModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="opportunityForm" (ngSubmit)="addOpportunity()">
                <div class="modal-header">
                  <h4 class="modal-title">Create Opportunity</h4>
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>  -->

                  <button type="button" class="close" (click)="onReset()" data-dismiss="modal"><img
                      src="assets/Images/cancel.png" /></button>
                </div>
                <div class="modal-body">
                  <div class="form-group required">
                    <label class="control-label">Account Name:</label>
                    <ng-select dropdownPosition="bottom" class="txtSearch" [items]="accountsList" bindLabel="name"
                      placeholder="Type for account" [(ngModel)]="selAccountInfo" [ngModelOptions]="{standalone: true}"
                      (search)="accountChangeHandler($event,'search')" (clear)="resetAccount()"
                      (change)="selectAccount()">
                    </ng-select>
                    <div *ngIf="contactnamerequired" class="text-danger fs-80">select account name</div>

                  </div>
                  <div class="form-group required">
                    <div class="row">
                      <div class="col-12">
                        <label class="control-label">Opportunity Name:</label>
                        <input type="text" class="form-control" formControlName="Title"
                          [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
                        <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                          <div *ngIf="f.Title.errors.required">Enter opportunity name</div>
                        </div>
                      </div>
                      <!-- <div class="col-12 col-sm-6">
                          <label>Value:</label>
                          <input type="text" class="form-control" (keypress)="phoneKeyPressHandler($event)"
                            formControlName="Value" [ngClass]="{ 'is-invalid': submitted && f.Value.errors }">						
                            <div *ngIf="submitted && f.Value.errors" class="invalid-feedback">
                              <div *ngIf="f.Value.errors.required">Enter Value</div>
                            </div>
                        </div> -->
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label class="control-label">Stage:</label>
                        <select class="form-control" formControlName="Stage"
                          [ngClass]="{ 'is-invalid': submitted && f.Stage.errors }">
                          <option value="no stage">No Stage</option>
                          <option value="prospect">Prospect</option>
                          <option value="contacted">Contacted</option>
                          <option value="proposal made">Proposal Made</option>
                          <option value="lead">Lead</option>
                          <option value="closed won">Closed Won</option>
                          <option value="closed lost">Closed Lost</option>
                        </select>

                        <div *ngIf="submitted && f.Stage.errors" class="invalid-feedback">
                          <div *ngIf="f.Stage.errors.required">Select stage</div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label class="control-label">Owner:</label>
                        <select class="form-control" formControlName="AssignedToId"
                          [ngClass]="{ 'is-invalid': submitted && f.AssignedToId.errors }">
                          <ng-container *ngIf="IsMember; else superiorRole">
                            <option [value]="userInfo.UserId">{{userInfo.Name}}</option>
                          </ng-container>
                          <ng-template #superiorRole>
                            <option *ngFor="let singleUser of Users" [value]="singleUser.UserId">{{singleUser.NickName}}
                            </option>
                          </ng-template>
                        </select>
                        <div *ngIf="submitted && f.AssignedToId.errors" class="invalid-feedback">
                          <div *ngIf="f.AssignedToId.errors.required">Select owner</div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label class="control-label">Last Activity Date:</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                          [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }" formControlName="LastActivityDate"
                          [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}" [ngClass]="{ 'is-invalid': submitted && f.LastActivityDate.errors }">
                          <div *ngIf="submitted && f.LastActivityDate.errors" class="invalid-feedback">
                            <div *ngIf="f.LastActivityDate.errors.required">Select last activity date</div>
                          </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Last Action:</label>
                        <select class="form-control" formControlName="LastAction">
                          <option value="Meeting held">Meeting held</option>
                          <option value="Proposal sent">Proposal sent</option>
                          <option value="Technical meeting">Technical meeting</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label class="control-label">Next Activity Date:</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                          [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue'}" formControlName="NextActivityDate"
                          [(bsValue)]="bsValue1" value="{{ bsValue1 | date:'dd/MM/yyyy'}}" [ngClass]="{ 'is-invalid': submitted && f.NextActivityDate.errors}">
                          <div *ngIf="submitted && f.NextActivityDate.errors" class="invalid-feedback">
                            <div *ngIf="f.NextActivityDate.errors.required">Select next activity date</div>
                          </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Next Action:</label>
                        <select class="form-control" formControlName="NextAction">
                          <option value="Schedule meeting">Schedule meeting</option>
                          <option value="Send a proposal">Send a proposal</option>
                          <option value="SOW signoff">SOW Signoff</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="form-group">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <label>Status:</label>
                          <select type="text" class="form-control" formControlName="Status" [ngClass]="{ 'is-invalid': submitted && f.Status.errors }">
                            <option value="Won">Won</option>
                            <option value="Lost">Lost</option>
                          </select>						
                          <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                            <div *ngIf="f.Status.errors.required">Select status</div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <label>Target Date:</label>
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                            [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
                        </div>
                      </div>  
                    </div> -->
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn theme-btn btn-check"><span>Add Opportunity</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="onReset()"
                    #closeAddOpportunityModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Create new Opportunity Modal Ends -->

      </div>
    </div>
  </div>
</div>




<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>