<div class="login_sidenav">
  <div class="logo_wrapper">
    <img src="assets/Images/logo.png" class="logo_img">
  </div>
</div>
<div class="login_main">
  <div class="col-md-12 col-sm-12">

    <div class="forgotpassword-form">
      <p>Forgot Password</p>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" *ngIf="!success">
        <div class="form-group">
          <label>Email Address</label> <input type="text" class="form-control" formControlName="loginId" id="loginId"
            autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" placeholder="">
          <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
            <div *ngIf="f.loginId.errors.required">Email Address is required</div>
          </div>
        </div>
        <div class="inline-block pr-10  m-b-20" style="color: #8a8a8a;margin-bottom: 10px;font-size: 12px;">We'll send
          you an email to reset your password.</div>

        <div class="row">
          <div class="col-md-6"> <a [routerLink]="['/login']" class="back-link m-t-10">Back to Login</a></div>
          <div class="col-md-6">
            <div class="text-right">
              <div class="form-group">
                <button [disabled]="loading" class="btn theme-btn">Send</button>
              </div>
            </div>
          </div>
        </div>

      </form>

      <div *ngIf="success">
        <div>
          <p class="text-success">Password reset link has been sent successfully..!</p>
          <span>Please check your email for further instructions.</span>
          <div class="text-center m-t-15">
            <a [routerLink]="['/login']" class="btn btn-sm theme-btn">Back to Login</a>
          </div>
        </div>


      </div>
      <div *ngIf="validation" class="text-center">
        <p class="text-danger"> Your email address is not registered with us. </p>

      </div>


    </div>



  </div>
</div>
