<app-header></app-header>
<!-- <button type="submit" class="btn btn-theme btn-check" id="googleres"><span>Email Click</span></button> -->

<a
    href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://sales.outwork.in/oauth-email&response_type=code&client_id=724400070494-a8t7vdojq9iis8efugmr5t3ga3ejmo9h.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/gmail.readonly&approval_prompt=force&access_type=offline">Connect
    With Gmail</a>
