<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
      <div class="container-fluid">
        <div>
          <h2 class="page-title">Task</h2>
        </div>
        <div class="body-content">
  
          <div class="page-header">
            <div class="row">
              <div class="col-md-9">
  
                <div class="filters-settings">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" (click)="mainFilterTabsChanged('thisweek-created','duedate')">
                        <a [ngClass]="mainTab == 'duedate' ? 'nav-link active': 'nav-link'" id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                          aria-controls="by-created" aria-selected="false">By Due Date</a>
                      </li>                     
                      <li class="nav-item" (click)="mainFilterTabsChanged('overdue','overdue')">
                        <a  [ngClass]="mainTab == 'overdue' ? 'nav-link active': 'nav-link'"  id="by-not-engagged-tab" data-toggle="tab" href="#by-not-engagged" role="tab"
                          aria-controls="by-not-engagged" aria-selected="true">Over Due</a>
                      </li>
  
                   
                    </ul>
                  </div>
              </div>
              <div class="col-md-3 text-md-right">
                <div class="page-header-links">
                    <a data-toggle="modal" data-target="#createTaskModal">
                        <div class="btn-group">
                          <button type="button" class="btn  add-btn-icon">+</button>
                          <button type="button" class="btn  add-btn">Task</button>
                        </div>
                      </a>             
                </div>
              </div>
            </div>
          </div>
  
          <div class="row1">
            <div class="tab-content bg-variant-1">
              <div class="tab-pane fade show active" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
                <div class="row mb-3">
                  <div class="col-sm-7">
                    <div [ngClass]="mainTab == 'duedate' ? 'tab-pane fade show  active': 'tab-pane fade '">
                     
                      <div class="btn-group">
                        <select class="form-control" [(ngModel)]='periodType' (change)="EngagedChangedHandler($event.target.value)">
                            <option value="today">Today  &nbsp; {{todayDate}}</option>
                            <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                            <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                            <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option>
                            <option value="all">All</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
  
  
  
                  <div class="col-sm-1">
                    <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
                      <option value="10" selected="">10</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="200">200</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Search"
                      (keyup)="onFilterTextBoxChanged($event)" />
                  </div>
                </div>
                <div class="row">
                <div class="col-md-12 tasks-page" id="caontactswithgrid">
                  <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham"
                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" header-checkbox-selection.bind="true"
                    header-checkbox-selection-filtered-only.bind="true" checkbox-selection.bind="true"
                    (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
                    [cacheBlockSize]="cacheBlockSize" [gridOptions]="gridOptions" [suppressRowClickSelection]="true"
                    [groupSelectsChildren]="true" [debug]="true" [enableSorting]="false" [enableRangeSelection]="true"
                    [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
                </div>
              </div>
             
            </div>
  
            
          </div>
        </div>
      </div>
    </div>

    <!-- Create new Task Modal -->
    <app-addtask></app-addtask>
  
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  
  
  