<div class="wrapper">
  <app-header></app-header>


  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">View Account</h2>
        </div>
        <div class="col-md-6">
          <div class="f-right">

            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/accounts">Accounts</a>
              </li>
              <li class="breadcrumb-item ShowLess" popover="{{activityresponse?.AccountInfo?.AccountName | titlecase}}"
              triggers="mouseenter:mouseleave">
                {{activityresponse?.AccountInfo?.AccountName | titlecase}}
              </li>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li><span (click)="previousPage()" style="content: \2190; cursor: pointer !important">&#8592; Back </span></li>
            </ol>
          </div>
        </div>
      </div> -->



      <div class="row">
        <div class="col-md-12">
            
            <div class="card top-account-info">
              <div class="title-info">
                <div class="row">
                     <div class="col-md-4">
                        <!-- <div class="d-flex">
                     <div class="badge badge-wrap">
                        <span>
                          {{utilities.getShortName(activityresponse?.AccountInfo?.AccountName) | uppercase}}
                        </span>
                      </div> </div>-->
                     
                      <div class="account-title">
                        <!-- <h4>Account&nbsp;&nbsp;<span  (click)="previousPage()"><i class="fas fa-long-arrow-alt-left"></i></span></h4>-->
                        <p> <span class="btn btn-default btn-sm" (click)="previousPage()"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Accounts</span>
                        </p>
                        <h6>{{activityresponse?.AccountInfo?.AccountName | titlecase}}</h6>
                     </div>
                    
                     </div>

                     <div class="col-md-2">
                      <h4 class="details-title" style="padding-top:10px;">Account Type</h4>
                      <p class="details-info">{{activityresponse?.AccountInfo?.AccountType?activityresponse?.AccountInfo?.AccountType:'NA'}}</p>
                      </div>
                     <div class="col-md-2">
                      <h4 class="details-title" style="padding-top:10px;">Stage</h4>
                      <p class="details-info">{{activityresponse?.AccountInfo?.Stage?activityresponse?.AccountInfo?.Stage:'NA'}}</p>
                      </div>
                      <!--div class="col-md-2">
                        <h4 class="details-title" style="padding-top:10px;">Status</h4>
                        <p class="details-info">{{activityresponse?.AccountInfo?.AccountStatus?activityresponse?.AccountInfo?.AccountStatus:'NA'}}</p>
                      </div -->
                  
                     
                    <div class="col-md-2">
                        <p  style="padding-top:10px;"> <span data-toggle="modal" data-target="#createContactModal" class="btn btn-default btn-sm pull-right">Add Contact</span>
                        </p>
                    </div>
                </div>
            </div>
              <div class="details">
                 
                   
                   <!--   <li class="text-center">
                    <h4 class="details-title">Linkedin Prifile Url</h4>
                      <p class="details-info">
                        <a class="text-break ShowLessForDesc" *ngIf ="activityresponse?.AccountInfo?.companylinkedinurl != ''; else nolinkedin" href="{{utilities.checkUrl(activityresponse?.AccountInfo?.companylinkedinurl)}}" target="_blank">
                          <span style="color: #619eda !important;">{{activityresponse?.AccountInfo?.companylinkedinurl?activityresponse?.AccountInfo?.companylinkedinurl :'NA'}}</span>
                          </a>	
                        <ng-template #nolinkedin>
                          <span style="color: #619eda !important;">NA</span>
                        </ng-template>				
                      </p>
                    
                  </li>

                 <li class="text-center">
                    <h4 class="details-title">Website</h4>
                      <p class="details-info">
                        <a class="text-break ShowLessForDesc" *ngIf ="activityresponse?.AccountInfo?.website != ''; else nowebsite" href="{{utilities.checkUrl(activityresponse?.AccountInfo?.website)}}" target="_blank">
                          <span style="color: #619eda !important;">{{activityresponse?.AccountInfo?.website?activityresponse?.AccountInfo?.website:'NA'}}</span>
                        </a>	
                        <ng-template #nowebsite>
                          <span style="color: #619eda !important;">NA</span>
                        </ng-template>				
                      </p>
                    
                  </li> -->
               <div class="row">
                  <div class="col-md-2">
                    <h4 class="details-title">Linkedin</h4>
                    <p class="details-info">
                      <a placement="right" ngbTooltip="{{ activityresponse?.AccountInfo?.companylinkedinurl }}" class="text-break" *ngIf ="activityresponse?.AccountInfo?.companylinkedinurl != ''; else nolinkedin" href="{{utilities.checkUrl(activityresponse?.AccountInfo?.companylinkedinurl)}}" target="_blank">
                        <span style="color: #619eda !important;">{{activityresponse?.AccountInfo?.companylinkedinurl | slice:0:15}} {{activityresponse?.AccountInfo?.companylinkedinurl.length > 15 ? '...' : ''}}</span>&nbsp;<i class="fas fa-external-link-alt" style="font-size: 12px;"></i>
                      </a>
                      <ng-template #nolinkedin>
                        <span>NA</span>
                      </ng-template>			
                    </p>
                  </div>
                  <div class="col-md-2">
                    <h4 class="details-title">Website</h4>
                    <p class="details-info">
                      <a class="text-break" placement="right" ngbTooltip="{{ activityresponse?.AccountInfo?.website }}"  *ngIf ="activityresponse?.AccountInfo?.website != 'NA'; else nowebsite" href="{{utilities.checkUrl(activityresponse?.AccountInfo?.website)}}" target="_blank">
                        <span style="color: #619eda !important;"> {{activityresponse?.AccountInfo?.website?activityresponse?.AccountInfo?.website:'NA'}}</span>&nbsp;<i class="fas fa-external-link-alt" style="font-size: 12px;"></i>	
                      </a>	
                      <ng-template #nowebsite>
                        <span>NA</span>
                      </ng-template>						
                    </p>
                  </div>
                  <div class="col-md-2">
                    <h4 class="details-title">Industry</h4>
                        <p class="details-info">{{activityresponse?.AccountInfo?.industry?activityresponse?.AccountInfo?.industry:'NA'}}</p>
                  </div>
                  <div class="col-md-2">
                    <h4 class="details-title">Revenue ($)</h4>
                        <p class="details-info">{{activityresponse?.AccountInfo?.revenue?activityresponse?.AccountInfo?.revenue:'NA'}}</p>
                  </div>
                  <div class="col-md-2">
                    <h4 class="details-title">Employees</h4>
                    <p class="details-info">{{activityresponse?.AccountInfo?.noofemployees?activityresponse?.AccountInfo?.noofemployees:'NA'}}</p>
                  </div>
                  <div class="col-md-2">
                    <h4 class="details-title">Account owner</h4>
                    <p class="details-info">{{activityresponse?.AccountInfo?.AssigneeName?activityresponse?.AccountInfo?.AssigneeName:'NA'}}</p>
                  </div>
               </div>
              </div>
            </div>
        </div>
         
      </div>

      <div class="body-content1">
        <div class="page-header">
          <div class="row">

            <!-- <div class="col-6 text-right">
			<div class="page-header-links">
				<ul class="d-flex float-right">
					<li>
                        <a class="header-btn" data-toggle="modal" data-target="#createAccountModal">
                            <i class="fa fa-plus mr-2"></i>Account
                        </a>
                    </li>
					<li>
						<a class="header-btn no-border">
							<i class="fa fa-ellipsis-v"></i>
						</a>
					</li>
				</ul>
			</div>
		</div> -->
          </div>
        </div>


       

        <div class="row">
          <div class="col-12 col-sm-3" style="padding-right:0px;">
            
            <div class="contact-information left-info">
              <div class="card">
              <div class="contact-det">
        
                  
                 <h6>Account Info</h6>

                 <div class="row">
                
              
                <!--div class="col-md-12">
                    <h4>Contact No</h4>
                    <p>{{activityresponse?.AccountInfo?.mobilenumber?activityresponse?.AccountInfo?.mobilenumber:'NA'}}</p>
                </div>
               <div class="col-md-12">
                  <h4>Email</h4>
                  <p>{{activityresponse.AccountInfo.Email?activityresponse.AccountInfo.Email:'NA'}}</p>
              </div> -->
               
                
           
                  <div class="col-md-12">
                      <h4>Industry</h4>
                      <p>{{activityresponse?.AccountInfo?.industry?activityresponse?.AccountInfo?.industry:'NA'}}</p>
                  </div>
                  <div class="col-md-12">
                    <h4>Sub Industry</h4>
                    <p>{{activityresponse?.AccountInfo?.subindustry?activityresponse?.AccountInfo?.subindustry:'NA'}}</p>
                </div>
                  <div class="col-md-12">
                      <h4>Source</h4>
                      <p>{{activityresponse?.AccountInfo?.accountsource?activityresponse?.AccountInfo?.accountsource:'NA'}}</p>
                  </div>
              
                  <div class="col-md-12">
                      <h4>Status</h4>
                      <p>{{activityresponse?.AccountInfo?.AccountStatus?activityresponse?.AccountInfo?.AccountStatus:'NA'}}</p>
                  </div>
                  <div class="col-md-12">
                      <h4>Stage</h4>
                      <p>{{activityresponse?.AccountInfo?.Stage?activityresponse?.AccountInfo?.Stage:'NA'}}</p>
                  </div>
                  
                  <div class="col-md-12">
                    <h4>Account owner</h4>
                    <p>{{activityresponse?.AccountInfo?.AssigneeName | titlecase}}</p>
                </div>

                  <div class="col-md-12">
                      <h4>Revenue</h4>
                      <p>{{activityresponse?.AccountInfo?.revenue?activityresponse?.AccountInfo?.revenue:'NA'}}</p>
                  </div>
                  <div class="col-md-12">
                      <h4>Employees</h4>
                      <p>{{activityresponse?.AccountInfo?.noofemployees?activityresponse?.AccountInfo?.noofemployees:'NA'}}</p>
                  </div>
                  <!--div class="col-md-12">
                    <h4>Address</h4>
                    <p>{{activityresponse.AccountInfo.companyaddress?activityresponse.AccountInfo.companyaddress:'NA'}}</p>
                   
                </div -->
                <div class="col-md-12">
                    <h4>City</h4>
                    <p>{{activityresponse.AccountInfo.city?activityresponse.AccountInfo.city:'NA'}}</p>
                    
                </div>
            
                <div class="col-md-12">
                    <h4>State</h4>
                    <p>{{activityresponse.AccountInfo.state?activityresponse.AccountInfo.state:'NA'}}</p>
                </div>
                <div class="col-md-12">
                    <h4>Country</h4>
                    <p>{{activityresponse.AccountInfo.country?activityresponse.AccountInfo.country:'NA'}}</p>
                </div>
              
                
               
                <!-- <div class="col-md-6">
                  <h4>Account Type</h4>
                  <p>{{activityresponse?.AccountInfo?.AccountType?activityresponse?.AccountInfo?.AccountType:'NA'}}</p>
              </div> -->
            </div>
           

             

              </div>
            </div>
            </div>
          </div>
          <div class="col-12 col-sm-9">
            <div class="contact-details">
              <div class="card">
              <ul class="grid-settings d-flex">
                <li class="pos-rel">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="contact-contacts" data-toggle="tab" href="#con-contacts"
                       role="tab"
                      [ngClass]="{ 'active':activeTab ==='contacts'}">Contacts ({{activityresponse?.ContactList?.length}})</a>
                      <a class="nav-item nav-link" id="contact-notes" data-toggle="tab" href="#con-notes"
                        (click)="getNotes()" role="tab"
                        [ngClass]="{ 'active':activeTab==='notes'}">Notes ({{notescount}})</a>
                      <a class="nav-item nav-link #focusOnCalls" id="contact-calls" data-toggle="tab" href="#con-calls"
                        role="tab" (click)="getCalls()"
                        [ngClass]="{ 'active':activeTab==='calls'}">Calls ({{callscount}})</a>
                      <a class="nav-item nav-link" id="contact-tasks" data-toggle="tab" href="#con-tasks" role="tab"
                        (click)="gettasks()" [ngClass]="{ 'active':activeTab==='tasks'}">Tasks ({{taskscount}})</a>
                      <a class="nav-item nav-link" id="contact-emails" data-toggle="tab" href="#con-emails" role="tab"
                        (click)="getEmails()" [ngClass]="{ 'active':activeTab==='emails'}">Emails ({{emailscount}})</a>
                      <a class="nav-item nav-link" id="contact-meetings" data-toggle="tab" href="#con-meetings"
                        role="tab" (click)="getMeetings()"
                        [ngClass]="{ 'active':activeTab==='meetings'}">Meetings ({{meetingscount}})</a>
                    </div>
                  </nav>
                </li>
              </ul>
              <div class="tab-content bg-variant-1">
                <div class="tab-pane fade show active" id="con-contacts" role="tabpanel" aria-labelledby="contact-contacts">
                  <div class="contact-notes">
                    <div class="header">
                      <div class="row">
                        <div class="col-sm-12">
                          <h5>Contacts</h5>
                        </div>
                        <!-- <div class="col-sm-6">
                          <span data-toggle="modal" data-target="#createContactModal" class="btn btn-success btn-sm pull-right">Add Contact</span>
                        </div> -->
                      </div>
                    </div>
                    <div class="notes-list">
                      <table class="table table-responsive-sm table-wrap seq-pros-table">
                        <tbody>
                        <tr *ngFor="let singleContact of getContactsData">                         
                          <td>
                            <div class="d-flex">
                              <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip" data-html="true" title=""
                                data-placement="left" data-original-title="Owned by">
                              {{utilities.getShortName(singleContact.contactname) | uppercase}}
                              </span>
                              <h4 class="my-auto ml-20">
                                <a href="/contacts/viewcontact/{{singleContact.id}}">
                                  {{singleContact.contactname}}
                                </a></h4>
                            </div>
                          </td>
                          <td>
                            <span class="ml-2">{{singleContact.email}}</span>
                          </td>
                         
                          <td>
                            <span class="ml-2">{{singleContact.stage}}</span>
                          </td>
                          <td>
                            <span class="ml-2">{{singleContact.LastContactType}}</span>
                          </td>                         
                          <td>
                            <span class="ml-2">{{singleContact.LastContactedDate}}</span>
                          </td> 
                          <td>
                            <span class="view-badge contact-badge" data-toggle="modal" (click)="sendEmailBtn(singleContact.email,singleContact.contactid)" title="Send an email" data-target="#sendManualEmailModal">
                              <i class="fa fa-envelope"></i>
                            </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="con-notes" role="tabpanel" aria-labelledby="contact-notes">
                  <div class="contact-notes">
                    <div class="header">
                      <h5>Notes</h5>
                    </div>
                    <div class="notes-list">
                      <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                        <li class="comment pos-rel" *ngFor="let note of notes">
                          <div class="notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                            <div class="notes-header">
                              <div class="row">
                                <div class="col-12 col-sm-9">
                                  <p class="color-999"><span class="color-theme">{{note.AssigneeName}}</span>
                                    commented on this</p>
                                </div>
                                <div class="col-12 col-sm-3 text-sm-right">
                                  <span class="color-999">{{note.ElapsedDuration}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="notes-body">
                              <div class="row">
                                <div class="col-12">
                                  <p class="text-justify">{{note.Description}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="con-calls" role="tabpanel" aria-labelledby="contact-calls">
                  <div class="contact-notes">
                    <div class="header">
                      <h5>Calls</h5>
                    </div>
                    <div class="">
                      <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                        <li class="comment pos-rel" *ngFor="let call of calls">
                          <div class="notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                            <div class="notes-header">
                              <div class="row">
                                <div class="col-12 col-sm-8">
                                  <p class="color-999">{{call.Title}}</p>
                                </div>
                                <div class="col-12 col-sm-2">
                                  <p class="color-999">{{call.AssigneeName}}</p>
                                </div>
                                <div class="col-12 col-sm-2 text-sm-right">
                                  <span class="color-999">{{call.ElapsedDuration}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="notes-body">
                              <div class="row">
                                <div class="col-12">
                                  <p class="text-justify">{{call.Description}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="con-tasks" role="tabpanel" aria-labelledby="contact-tasks">
                  <div class="contact-notes">
                    <div class="header">
                      <h5>Tasks</h5>
                    </div>
                    <div class="notes-list">
                      <table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
                        <tr *ngFor="let task of tasks">
                          <td>
                            <h6 class="fs-14">{{task.TaskTitle}}</h6>
                            <p class="d-inline-block ShowLessForDesc" popover="{{task.TaskDescription}}"
                              triggers="mouseenter:mouseleave">{{task.TaskDescription}}</p>
        
                          </td>
                        	<td>
                            <span
                              [ngClass]="task.Priority == 'High' ? 'task-badge-high' : 'task-badge-normal'">
                              {{task.Priority}}
                            </span>
                          </td>
                          <td>
                            <span >{{task.TaskType}}</span>
                          </td>
                          <td>

                            <button *ngIf="task.TaskDescription == 'Manual Email' && task.TaskStatus !='completed'"
                              (click)="sendEmailBtnClick(contactTemplateModal,task.SequenceDetailId,'task')"
                              class="btn btn-sm btn-primary">Send Email</button>
                          </td>
                          <td>
                            <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip" popover="{{task.AssigneeName}}" triggers="mouseenter:mouseleave"
                              data-placement="left">
                              {{utilities.getShortName(task.AssigneeName) | uppercase}}
                            </span>
                          </td>

                          <td>
                            <span>{{task.DueDate * 1000 | date:'yyyy-MM-dd'}}</span>
                          </td>
                          <td>
                            <span
                              *ngIf="task.CompletedDate != 0">{{task.CompletedDate * 1000 | date:'yyyy-MM-dd'}}</span>
                            <span *ngIf="task.CompletedDate == 0">-</span>
                          </td>
                          <!-- <td class="text-right" width="3%">
                            <div class="d-flex">
                              <i class="fa fa-trash-alt pointer mr-3" data-toggle="modal"
                                data-target="#deleteConfirmationModal"></i>
                              <i class="fa fa-pencil-alt pointer" data-toggle="modal" data-target=""></i>
                            </div>
                          </td> -->
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
                  <div class="contact-notes">
                    <div class="header">
                      <h5>Emails</h5>
                    </div>
                    <div class="notes-list">
                      <table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
                        <tr *ngFor="let email of emails" style="border-bottom: 1px solid #f3f3f3;">
                          <td>
                            <p class="d-inline-block fw-500" style="color: #333;">{{email.Subject}}-<span
                              class=" ">{{email.LabelType}}</span></p>
                          <p [innerHTML]="email.Body"></p>
                          </td>
                          <td width="10%">
                            <span data-toggle="tooltip" title="Created by"
                              data-placement="left">{{email.AssigneeName}}</span>
                          </td>
                          <td width="10%">
                            <span data-toggle="tooltip" title="Created by"
                              data-placement="left">{{email.ElapsedDuration}}</span>
                          </td>
                          <td width=5%>
                            <span *ngIf="email.IsRead == 1">Read</span>
                            <span *ngIf="email.IsRead == 0">UnRead</span>
                          </td>
                          <td width=5%>
                            <span *ngIf="email.IsReplied == 1">Replied</span>
                            <span *ngIf="email.IsReplied == 0">Not Replied</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="con-meetings" role="tabpanel" aria-labelledby="contact-meetings">
                  <div class="contact-notes">
                    <div class="header">
                      <h5>Meetings</h5>
                    </div>
                    <div class="notes-list">
                      <table class="table table-responsive-sm table-hover contacts-grid mb-0 meetings">
                      	<tr *ngFor="let meeting of meetingList">
                          <td>
                            <p class="d-inline-block">{{meeting.Title}}</p>
                            <p class="mt-3">{{meeting.Description}}</p>
                            
                          </td>
                          <td>
                            <p class="d-inline-block">{{meeting.ContactName}}</p>
                          </td>
                          <td>
                            <p [ngClass]="meeting.Status != 'completed'?'alert-dark':'alert-success'" class="alert text-center">{{meeting.Status | titlecase}}</p>
                          </td>
                          <td>
                            <ng-container *ngIf="meeting.Status != 'completed'; else completedDateLbl">
                              <span>Meeting on {{meeting.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                              </ng-container>
                              <ng-template #completedDateLbl>
                                <span>Completed on {{meeting.CompletedDate * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                              </ng-template>
                            
                          </td>
        
                          <td>
                            <ng-container *ngIf="meeting.Status != 'completed'; else completedLbl">
                              <button class="btn btn-sm btn-success"
                              (click)="markAsCompleted(meeting.MeetingId,mailResponsePopup)"
                              type="button">Mark
                              as
                              completed</button>
                              </ng-container>
                    
                              <ng-template #completedLbl>
                              <div style="background-color: #d4ffde!important;color: #0dc136;padding: 5px;min-width:85px;max-width: 85px;text-align:center;"><span>Completed</span></div>
                              </ng-template>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Response Info popupu -->
                <ng-template #responseInfoModal>
                  <div class="modal-body">
                    <div [innerHTML]="responseInfo"></div>
                  </div>
                </ng-template>

                <!-- Create new Contact Modal -->
                <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
                  <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
                    <div class="modal-content">
                      <form [formGroup]="contactForm" (ngSubmit)="addContact(responseInfoModal)">
                        <div class="modal-header">
                          <h4 class="modal-title">Create Contact</h4>
                          <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              <div class="form-group required">
                                <label class="control-label">First Name:</label>
                                <input type="text" class="form-control" formControlName="firstname" appTitleCase
                                  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                  <div *ngIf="f.firstname.errors.required">Enter first name</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Last Name:</label>
                                <input type="text" class="form-control" formControlName="lastname" appTitleCase
                                  [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                  <div *ngIf="f.lastname.errors.required">Enter last name</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              <div class="form-group required">
                                <label class="control-label">Email:</label>
                                <input type="email" class="form-control" formControlName="email" on-focusout="focusOutEmailTxt($event,responseInfoModal)"
                                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Contact No:</label>
                                <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                                  class="form-control" formControlName="mobilenumber"
                                  [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                                <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                                  <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Designation:</label>
                                <div class="form-check d-inline float-right" style="font-size:11px;">
                                  <input class="form-check-input" type="checkbox" (change)="checkDesignValue($event)" value="">
                                  <label class="form-check-label" for="newaccountCheck">
                                    New designation
                                  </label>
                                </div>
                                <input *ngIf="IsNewDesignChecked; else existingDesignations" class="form-control" type="text"
                                autocomplete="off" placeholder="Enter designation" on-focusout="focusOutDesignTxt($event,responseInfoModal)"
                                formControlName="designation">
                                <ng-template #existingDesignations>
                                <ng-select dropdownPosition="top" [items]="designationsList" bindLabel="name" placeholder="Type for designation"
                                [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                                (search)="desigSelectHandler($event)"  (clear)="resetdesigs()" (change)="selectDesignation()"></ng-select>
                                </ng-template>                 
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Personal LinkedIn Url:</label>
                                <input type="text" class="form-control" formControlName="personallinkedinurl">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              <div class="form-group required">
                                <label class="control-label">Owner:</label>
                                <select class="form-control" formControlName="assignedtointid"
                                  [ngClass]="{ 'is-invalid': submitted && f.assignedtointid.errors }">
                                  <option value="">Select owner</option>
                                  <ng-container *ngIf="IsMember; else userList">
                                    <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                                  </ng-container>
                                  <ng-template #userList>
                                    <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                                    </option>
                                  </ng-template>
                                </select>
                                <div *ngIf="submitted && f.assignedtointid.errors" class="invalid-feedback">
                                  <div *ngIf="f.assignedtointid.errors.required">select owner</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group required">
                                <label class="control-label">Prospect Stage:</label>
                                <select class="form-control" formControlName="stage"
                                  [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                                  (change)="selectStageChangeHandler($event.target.value)">
                                  <option value="not started">Not Started</option>
                                  <option value="cold">Cold</option>
                                  <option value="replied">Replied</option>
                                  <option value="unresponsive">Unresponsive</option>
                                  <option value="do not contact">Do Not Contact</option>
                                  <option value="bad contact info">Bad Contact Info</option>
                                  <option value="interested">Interested</option>
                                  <option value="not interested">Not Interested</option>
                                </select>
                                <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                                  <div *ngIf="f.stage.errors.required">select stage</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Designation Category:</label>
                                <select class="form-control" formControlName="designation_category"                        
                                (change)="sctDesCatChangeHandler($event.target.value)">  
                                <option value="">Select designation category</option>                         
                                <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                                   {{desigCat.labeltitle | titlecase}}
                                </option>
                              </select>                     
                                                 
                              </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label>Campaign Type:</label>
                                <select class="form-control" formControlName="campaigntype"                        
                                (change)="compTypeChangeHandler($event.target.value)">       
                                <option value="">Select campaign type</option>                  
                                <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                                   {{camptype.labeltitle | titlecase}}
                                </option>
                              </select>        
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                          <button type="submit" [disabled]="loading" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                          <a class="btn btn-grey" (click)="onReset()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Create new Contact Modal ends here -->

                <!-- Manual email modal popup -->
                <div class="modal fade" id="sendManualEmailModal" role="dialog" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog modal-dialog-centered modal-scrollable">
                    <div class="modal-content">
                      <form [formGroup]="ManualEmailForm" (ngSubmit)="sendManualEmail(mailResponsePopup)">
                        <div class="modal-header">
                          <h4 class="modal-title">Send Email</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="create-template1">
                            <div class="form-group">
                              <ul class="mb-3 template-custom" style="list-style: none;padding-left:0px;">
                                <li>
                                  <span class="cursor-pointer" (click)="OpenExistingTemplates(TemplateListModal)">Templates</span>
                                </li>
                              </ul>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control txt-custom-format" placeholder="To email" id="tomail"
                                value="{{contactEmail}}" disabled>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control txt-custom-format" placeholder="Cc email" formControlName="CC"
                                id="ccmail">
                            </div>
                
                            <div class="form-group">
                              <input type="text" class="form-control txt-custom-format" placeholder="Subject" formControlName="Subject"
                                id="mailSubject" [ngClass]="{ 'is-invalid': submitted && ef.Subject.errors }">
                              <div *ngIf="submitted && ef.Subject.errors" class="invalid-feedback">
                              </div>
                            </div>
                            <textarea [froalaEditor]="emailOptions" id="froalaEditorContainer" formControlName="HtmlBody"
                              class="form-control pos-rel"></textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" [disabled]="loading" class="btn theme-btn btn-check" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Send Email</button>
                          <button type="button" class="btn btn-grey" data-dismiss="modal" #closeSendEmailModal>Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>                
                <!--End manual email popup-->

                <!-- mail info modal popup -->
                <ng-template #mailResponsePopup>
                  <div class="modal-content">
                    <div class="modal-body text-center">
                      <div *ngIf="responseInfo != ''">
                        <div [innerHTML] = "responseInfo"></div> 
                        <div class="footer mt-3">
                        <button type="button" class="btn btn-success mr-1"
                          (click)="completeConfirmation()">YES</button>
                        <button type="button" class="btn btn-danger mr-1"
                          (click)="mailResponseTemplate.hide()">NO</button>
                          </div>
                      </div>
                      <div *ngIf="responseInfo == ''" class="confirmation-content">
                        <div class="icon confirm">
                          <i class="fa fa-info fa-2x"></i>
                        </div>
                        <h4>{{ErrorMessageInfo}}</h4>
                        <p>Please contact your admin</p>
                        <button type="button" class="btn btn-theme mr-1 mt-5" (click)="mailResponseTemplate.hide()">OK</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <!-- end here -->

             <!-- selected template Modal -->
            <ng-template #TemplateListModal>
              <form>
                <div class="modal-header">
                  <h4 class="modal-title">Templates</h4>
                  <button type="button" class="close" (click)="ExistingTemplatesModal.hide()">&times;</button>
                </div>
                <div class="modal-body">
                  <div *ngIf="templates != undefined && templates.length > 0;else nodata">
                    <div class="page-settings-area m-b-20">
                      <div class="row">
                        <div class="col-12 col-sm-9 text-right">
                        </div>
                        <div class="col-12 col-sm-3 text-right">
                          <input type="search" name="" class="form-control" style="margin-top: 5px;" placeholder="Search..."
                            id="templateSearchInput11" (mouseup)="clearSearch($event)" (keyup)="SearchTemplateData($event)">
                        </div>
                      </div>
                    </div>
                    <div style="height:500px;overflow-y:scroll">
                      <table class="table table-responsive-sm table-hover sequence-grid mb-0" id="templateTable">

                        <tr *ngFor="let template of templates">
                          <td (click)="SelectTemplate(manualTemplateModal,template.TemplateId)">
                            <h6 class="seq-title pointer">{{template.TemplateName}}</h6>
                          </td>

                          <td>
                            <p class="color-999">{{template.Subject}}</p>
                          </td>

                        </tr>
                      </table>
                    </div>
                  </div>
                  <ng-template class="row" #nodata>
                    <div class="col-12 text-center p-5">
                      <h4>No templates available..!</h4>

                    </div>
                  </ng-template>
                </div>
              </form>
            </ng-template>
            <!-- selected template Modal ends here -->

            
            <!-- Create new notes Modal starts here -->
            <div class="modal fade" id="addNotesModal" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered modal-scrollable">
                <div class="modal-content">
                <form [formGroup]="notesForm" (ngSubmit)="addNotes()">
                  <div class="modal-header">
                    <h4 class="modal-title">Add Notes</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Description</label>
                          <textarea rows="3" class="form-control" formControlName="Description"
                            [ngClass]="{ 'is-invalid': submitted && nf.Description.errors }"></textarea>								
                            <div *ngIf="submitted && nf.Description.errors" class="invalid-feedback">
                              <div *ngIf="nf.Description.errors.required">Enter description</div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                    <button type="submit" class="btn btn-theme btn-check"><span>Add Notes</span></button>
                    <a class="btn btn-grey" data-dismiss="modal" #closeAddNotesModal>Cancel</a>
                  </div>
                </form>
                </div>
              </div>
            </div>

            <!-- Create new calls Modal starts here -->
            <div class="modal fade" id="addCallsModal" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered modal-scrollable">
                <div class="modal-content">
                  <form [formGroup]="callsForm" (ngSubmit)="addCalls()">
                    <div class="modal-header">
                      <h4 class="modal-title">Add Calls</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            
                            <label class="control-label">Contact Name:</label>
                            <select *ngIf="accountContactsList" class="form-control" name="contactslist" formControlName="ObjectId"
                              (change)="selectContactChangeHandler($event)">
                              <ng-container *ngIf="contactInfo == undefined; else clickedContact">
                                <option value="">Select contact</option>
                                <option *ngFor="let contact of accountContactsList" [value]="contact.id">
                                  {{contact.name}}
                                </option>
                              </ng-container>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="Title"
                              [ngClass]="{ 'is-invalid': submitted && cf.Title.errors }">
                              <div *ngIf="submitted && cf.Title.errors" class="invalid-feedback">
                                <div *ngIf="cf.Title.errors.required">Enter title</div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Description</label>
                              <textarea rows="3" class="form-control" formControlName="Description"></textarea>								
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                      <button type="submit" [disabled]="!callsForm.valid" class="btn btn-theme btn-check"><span>Add Call</span></button>
                      <a class="btn btn-grey" data-dismiss="modal" #closeAddCallsModal>Cancel</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- Create new task Modal starts here -->
            <app-addtask [accountClickedFrom]='clickedId'></app-addtask>

            <!-- Create new meeting Modal starts here -->
            <div class="modal fade" id="createMeetingModal" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-dialog-centered modal-scrollable">
                <div class="modal-content">
                  <form [formGroup]="MeetingsForm" (ngSubmit)="addMeeting()">
                    <div class="modal-header">
                      <h4 class="modal-title">Add Meetings</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group required">
                            <label class="control-label">Contact Name:</label>
                            <select *ngIf="accountContactsList" class="form-control" name="contactslist" formControlName="ObjectIntId"
                              (change)="selectContactChangeHandler($event)" [ngClass]="{ 'is-invalid': submitted && mf.ObjectIntId.errors }">
                              <ng-container *ngIf="contactInfo == undefined; else clickedContact">
                                <option value="">Select contact</option>
                                <option *ngFor="let contact of accountContactsList" [value]="contact.id">
                                  {{contact.name}}
                                </option>
                              </ng-container>
                            </select>
                            <div *ngIf="submitted && mf.ObjectIntId.errors" class="invalid-feedback">
                              <div *ngIf="mf.ObjectIntId.errors.required">select Contact</div>
                            </div>

                            <label class="control-label">Title</label>
                            <input type="text" class="form-control" formControlName="Title"
                              [ngClass]="{ 'is-invalid': submitted && mf.Title.errors }">							
                              <div *ngIf="submitted && mf.Title.errors" class="invalid-feedback">
                                <div *ngIf="mf.Title.errors.required">Enter title</div>
                              </div>
                          </div>
                          <div class="form-group">
                            <label>Description</label>
                            <textarea rows="2" class="form-control" formControlName="Description"></textarea>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-12 col-sm-6">
                                <label>Due Date:</label>
                                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                  [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                                  [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

                              </div>
                              <div class="col-12 col-sm-6">
                                <label>Due Time:</label>
                                <ng-template #meetingPopTemplate>
                                  <timepicker [(ngModel)]="meetingtime" [showMeridian]="false"
                                    formControlName="Hours"></timepicker>
                                </ng-template>
                                <input class="form-control" value="{{meetingtime | date: 'HH:mm' }}"
                                  [popover]="meetingPopTemplate" [outsideClick]="true" placement="bottom" />
                              </div>
                            </div>
                          </div>
                          <div id="setTimeIntervalFields">
                            <label>Remainder before meeting</label>
                            <div class="row">
                              <div class="col-4">
                                <div class="form-group d-flex">
                                  <select class="form-control mr-2" formControlName="Days"
                                    (change)="onselecteddays($event)">
                                    <option *ngFor="let number of monthDays" [ngValue]="number+1">{{number+1}}</option>
                                  </select>
                                  <label class="my-auto">Days</label>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="form-group d-flex">
                                  <select class="form-control mr-2" formControlName="Hours"
                                    (change)="onselectedhours($event)">
                                    <option *ngFor="let hour of dayHours" [ngValue]="hour+1">{{hour+1}}</option>
                                  </select>
                                  <label class="my-auto">Hours</label>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="form-group d-flex">
                                  <select class="form-control mr-2" formControlName="Mins"
                                    (change)="onselectedmins($event)">
                                    <option *ngFor="let minits of hourMins" [ngValue]="minits+1">{{minits+1}}</option>
                                  </select>
                                  <label class="my-auto">Mins</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group required">
                            <div class="row">
                              <div class="col-12">
                                <label class="control-label">Invitees</label>
                              
                                <ng-select required formControlName="Invitees" placeholder="Select user" multiple="true" 
                                  [ngClass]="{ 'is-invalid': submitted && mf.Invitees.errors }"
                                  [searchable]="true" [clearable]="true" [(ngModel)]="selectedUser" 
                                  (click)="inviteesClick()">
                                  <ng-option *ngFor="let user of invitiesusersData" [value]="user.IntUserId">
                                    {{user.Name}}
                                  </ng-option>
                                </ng-select>										
                                <!-- div *ngIf="submitted && mf.Invitees.errors" class="invalid-feedback">
                                  <div *ngIf="mf.Invitees.errors.required">select Invitees</div>
                                  </div -->
                                <div class="text-danger" style="font-size:80% !important" *ngIf="NoInvitees">Select Invitees</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <a class="button [disabled]="!MeetingsForm.valid" btn-theme btn-check"><span>Add Contact</span></a> -->
                      <button type="submit" class="btn btn-theme btn-check"><span>Add Meeting</span></button>
                      <a class="btn btn-grey cursor-pointer" data-dismiss="modal" (click)="onMeetingReset()" #closeMeetingsModal>Cancel</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
