
<app-header></app-header>
<div class="container p-3">
  <h2>Company Profile</h2> 
  <div class="row">
      <table class="table">          
          <tbody>
            <tr>
              
              <td>Company Name</td>
              <td class="text-center text-capitalize">{{companyInfo?.CompanyTitle}}</td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="openModal(updateCompanyInfoPopUp,companyInfo.CompanyTitle)">
               Update</button></td>
               <!-- <td><button type="button" class="btn btn-primary btn-sm" [title]="disableButton?'EmailConfigured':'Configure Email'" [disabled]="disableButton" (click)="ConfigureEmail()">
                SetUpEmail</button></td>  -->
                <a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:4200/oauth-email&response_type=code&client_id=724400070494-a8t7vdojq9iis8efugmr5t3ga3ejmo9h.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/gmail.readonly&approval_prompt=force&access_type=offline"
                 >Connect With Gmail</a>
            </tr>
            <tr>
             
              <td>Company Code</td>
              <td class="text-center">{{companyInfo?.CompanyCode}}</td> 
              <td></td>
            </tr>
            <tr>           
              <td>Company Icon</td>
              <td>
                  <div class="text-center">
                      <img width="15%" src="https://res.cloudinary.com/dd6qjvp5s/image/upload/v1536229190/Outwork%20Site%20Images/sea-3652697_640.jpg" class="rounded" alt="Company Icon">
                    </div>
              </td>   
              <td></td>          
            </tr>
            <tr>           
                <td>Company Image</td>
                <td>
                    <div class="text-center">
                        <img width="15%" src="https://res.cloudinary.com/dd6qjvp5s/image/upload/v1536229190/Outwork%20Site%20Images/sea-3652697_640.jpg" class="rounded" alt="Company Image">
                      </div>
                </td>  
                <td></td>           
              </tr>
          </tbody>
        </table>
  </div>
  </div>

  <ng-template #updateCompanyInfoPopUp let-c="close" let-d="dismiss">
     
    <form [formGroup]="updateCompanyNameForm" (ngSubmit)="updatecompanyname()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-primary-title">Update Company Info</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!-- <div class="form-group">
            <label>Password:</label>
            <input type="text" class="form-control" formControlName="companyId" id="companyId" value="{{companyInfo.CompanyId}}"/>
        </div> -->
      <div class="form-group">
        <label>Compnay Name</label>
        <input type="text" class="form-control" formControlName="companyTitle" placeholder="Company name" value="{{companyInfo.CompanyTitle}}"
        [ngClass]="{ 'is-invalid': submitted && f.companyTitle.errors }"/>
        <div *ngIf="submitted && f.companyTitle.errors" class="invalid-feedback">
            <div *ngIf="f.companyTitle.errors.required">Company Name is required</div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="d('Cross click')">Cancel</button>
      <button class="btn btn-sm btn-success">Update</button>
    </div>
  </form>
  </ng-template>


