<app-headerwithoutmenu></app-headerwithoutmenu>

<div class="text-center cmt-15">
    <div *ngIf="!isUnsubscribed" class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card alert-primary p-5">
                <h3>Are you sure..!</h3>
                <p>Do you want to unsubscribe mails from outreach.</p>
                <div class="mt-5">
                    <button class="btn btn-sm btn-rounded btn-danger mr-3" (click)="UnSubscribeEmails()">Un
                        subscribe</button>                       
                    <button class="btn btn-sm btn-rounded btn-secondary" (click)="goBackToHome()"
                    >Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isUnsubscribed" class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card alert-success p-5">
                <h3>You are successfully unsubscribed..</h3>
                <p>You will never receive any kind of emails from Outreach</p>
                <div class="mt-3">
                    <button class="btn btn-sm btn-rounded btn-primary w-25" (click)="goBackToHome()">Done</button>

                </div>


            </div>
        </div>

    </div>
</div>

  

 