<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">Contacts</h2>
            </div>            
            <div class="col-md-6">
                <div class="f-right">
      
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                      <a href="/contacts">Contacts</a>
                    </li>
                    <li class="breadcrumb-item">
                      Create Contact
                    </li>
                  </ol>
                </div>
            </div>
        </div>
            <div>
            </div>
            <div class="body-content">
              <div class="row">
                <div class="col-sm-2"></div>
                 <!-- Response Info popupu -->
                <ng-template #responseInfoModal>                   
                    <div class="modal-body">     
                      <div [innerHTML] = "responseInfo"></div>     
                    </div>     
                </ng-template>
                <div class="col-sm-8">
                  <div id="createContactModal">
                  <form [formGroup]="contactForm" (ngSubmit)="addContact(responseInfoModal)">
                    <div class="modal-header">
                      <h4 class="modal-title">Create Contact</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group required">
                            <label class="control-label">First Name:</label>
                            <input type="text" class="form-control" formControlName="firstname" appTitleCase
                              [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                              <div *ngIf="f.firstname.errors.required">Enter first name</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" formControlName="lastname" appTitleCase
                              [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                              <div *ngIf="f.lastname.errors.required">Enter last name</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group required">
                            <label class="control-label">Email:</label>
                            <input type="email" class="form-control" formControlName="email"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" on-focusout="focusOutEmailTxt($event,responseInfoModal)">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Contact No:</label>
                            <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                              class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                              <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                                <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Designation:</label>
                            <div class="form-check d-inline float-right">
                              <input class="form-check-input" type="checkbox" (change)="checkDesignValue($event)" value="">
                              <label class="form-check-label" for="newaccountCheck">
                                New designation
                              </label>
                            </div>
                            <input *ngIf="IsNewDesignChecked; else existingDesignations" class="form-control" type="text"
                            autocomplete="off" placeholder="Enter designation" on-focusout="focusOutDesignTxt($event,responseInfoModal)"
                            formControlName="designation">
                            <ng-template #existingDesignations>
                            <ng-select dropdownPosition="top" [items]="designationsList12" bindLabel="name" placeholder="Type for designation"
                            [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                            (search)="desigSelectHandler($event)"  (clear)="resetdesigs()" (change)="selectDesignation()"></ng-select>
                            </ng-template> 
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Personal LinkedIn Url:</label>
                            <input type="text"
                              class="form-control" formControlName="personallinkedinurl">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group required">
                            <label class="control-label">Owner:</label>
                            <select class="form-control" formControlName="assignedtointid"
                              [ngClass]="{ 'is-invalid': submitted && f.assignedtointid.errors }">
                              <option value="">Select owner</option>
                              <ng-container *ngIf="IsMember; else userList">
                                <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                              </ng-container>
                              <ng-template #userList>
                                <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                                </option>
                              </ng-template>
                            </select>
                            <div *ngIf="submitted && f.assignedtointid.errors" class="invalid-feedback">
                              <div *ngIf="f.assignedtointid.errors.required">select owner</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group required">
                            <label class="control-label">Prospect Stage:</label>
                            <select class="form-control" formControlName="stage"
                              [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                              (change)="selectStageChangeHandler($event.target.value)">
                              <option value="not started">Not Started</option>
                              <option value="cold">Cold</option>
                              <option value="replied">Replied</option>
                              <option value="unresponsive">Unresponsive</option>
                              <option value="do not contact">Do Not Contact</option>
                              <option value="bad contact info">Bad Contact Info</option>
                              <option value="interested">Interested</option>
                              <option value="not interested">Not Interested</option>
                            </select>
                            <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                              <div *ngIf="f.stage.errors.required">select stage</div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Designation Category:</label>
                            <select class="form-control" formControlName="designation_category"                        
                            (change)="sctDesCatChangeHandler($event.target.value)">       
                            <option value="">Select designation category</option>                  
                            <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                               {{desigCat.labeltitle | titlecase}}
                            </option>
                          </select>                     
                                             
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group required">
                            <label class="control-label">Account:</label>
                            <div class="form-check d-inline float-right">
                              <input class="form-check-input" type="checkbox" (change)="checkValue($event)" value=""
                                id="newaccountCheck">
                              <label class="form-check-label" for="newaccountCheck">
                                New account
                              </label>
                            </div>
                            <input *ngIf="IsChecked; else existingAccounts" class="form-control" type="text"
                              autocomplete="off" placeholder="Enter account name" id="accountName" (keyup)="onAccountKeyup($event.target.value)"
                              formControlName="accountname" [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }" on-focusout="focusOutAccountTxt($event,responseInfoModal)">
                              <div *ngIf="accountnameerror" class="text-danger">Enter account name</div>
                            <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                              <div *ngIf="f.accountname.errors.required">Enter account name</div>
                            </div>
                            <ng-template #existingAccounts>
                              <ng-select dropdownPosition="top" required [items]="accountsList" bindLabel="name" placeholder="Type for account"
                              [(ngModel)]="selAccountInfo" [ngModelOptions]="{standalone: true}"
                               (search)="accountChangeHandler($event)" (clear)="resetaccounts()" (change)="selectAccount()">
                              </ng-select>
                              <!-- <select class="form-control" formControlName="accountintid" (change)="accountChangeHandler($event.target.value)"
                                [ngClass]="{ 'is-invalid': submitted && f.accountintid.errors }">
                                <option *ngFor="let singleAccount of Accounts" [value]="singleAccount.Id">
                                  {{singleAccount.AccountName}}</option>
                              </select> -->
                              <div *ngIf="accountintiderror" class="text-danger" style="font-size:80% !important">select account name</div>
                              <div *ngIf="submitted && f.accountintid.errors" class="invalid-feedback">
                                <div *ngIf="f.accountintid.errors.required" style="font-size:80% !important">select account name</div>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Campaign Type:</label>
                            <select class="form-control" formControlName="campaigntype"                        
                            (change)="compTypeChangeHandler($event.target.value)">       
                            <option value="">Select campaign type</option>                  
                            <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                               {{camptype.labeltitle | titlecase}}
                            </option>
                          </select>        
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="modal-footer">
                      <button type="submit" [disabled]="loading" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                      <a class="btn btn-grey" (click)="previousPage()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
                    </div>
                  </form>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
        </div>
    </div>
</div>