<div class="wrapper">
    <app-adminheader></app-adminheader>
  
    <div class="page-wrapper">
        <div class="container-fluid">
            <div>
                <h2 class="page-title">Sequence Report</h2>
            </div>
        </div>

        <div class="body-content">
            <div class="page-header">
                <div class="btn-group row mb-3">
                    <select class="form-control" [(ngModel)]='reportPeriodSelect'  (change)="PeriodChangedHandler($event.target.value)">
                        <option value="today">Today  &nbsp; {{todayDate}}</option>
                        <option value="thisweek">This Week &nbsp; {{currentWeekfromto}} </option>
                        <option value="lastweek">Last Week  &nbsp; {{lastWeekfromto}}</option>
                        <option value="thismonth">This Month  &nbsp; {{thisMonthfromto}}</option> 
                        <option value="all"> All </option>                     
                      </select>
                </div>
                <div class="row">               
                    <ag-grid-angular #myGrid style="width: 100%;" class="ag-theme-balham" 
                    [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs" [rowData]="sequenceReportList"
                    (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"    
                    [animateRows]="true"></ag-grid-angular>
                 </div>
            </div>

            <!-- sequence step wise details Modal -->
            <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="viewDetails">
                <div class="modal-dialog modal-xl modal-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{reportSequenceName}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="sequence-steps">
                                <div class="seq-step mb-4">
                                  <div *ngIf="sequenceReportDetails?.length > 0" class="seq-step-det">
                                    <table class="table table-wrap table-responsive-sm sequence-step-details mb-0">
                                      <tbody>
                                        <tr>
                                            <td>Template </td>
                                            <td>Step </td>
                                            <td># Accounts </td>
                                            <td># Contacts </td>
                                            <td>Emails </td>
                                            <td>R/B/O/C </td>
                                            <td>Open rate(%)</td>
                                            <td>Clickthrough Rate(%) </td>
                                        </tr>
                                      <tr class="sequence-steps" *ngFor="let sequenceReportSteps of sequenceReportDetails">
                                        <td>
                                            <h6 class="seq-title cursor-pointer fs-14">{{sequenceReportSteps.TemplateName}}</h6>
                                          </td>
                                        <td>
                                          <h6 class="seq-title cursor-pointer fs-14">{{sequenceReportSteps.Step}}</h6>
                                        </td>
                                        <td>
                                            <div class="count px-3 text-center">
                                                <h6 class="mb-0">{{sequenceReportSteps.Accounts}}</h6>
                                              </div>
                                        </td>
                                        <td>
                                            <div class="count px-3 text-center">
                                                <h6 class="mb-0">{{sequenceReportSteps.Contacts}}</h6>
                                              </div>
                                        </td>
                                         <td>
                                              <div class="count px-3 text-center">
                                                <h6 class="mb-0"><span title="Emails Delivered">{{sequenceReportSteps.Delivered}}</span>/<span title="Emails Sent">{{sequenceReportSteps.Sent}}</span></h6>
                                              </div>
                                        </td>
                                        <td>
                                              <div class="count px-3 text-center">
                                                <h6 class="mb-0"><span title="Replies">{{sequenceReportSteps.Replied}}</span>/<span title="Bounced">{{sequenceReportSteps.Bounced}}</span>/<span title="Opened">{{sequenceReportSteps.Opened}}</span>/<span title="Clicks">{{sequenceReportSteps.Clicks}}</span></h6>
                                                <span class="color-999"></span>
                                              </div>
                                        </td>
                                        <td>
                                              <div class="count px-3 text-center">
                                                <h6 class="mb-0">{{sequenceReportSteps.OpenRate}}</h6>
                                              </div>
                                        </td>
                                        <td>
                                              <div class="count px-3 text-center">
                                                <h6 class="mb-0">{{sequenceReportSteps.ClickRate}}</h6>
                                              </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>  
    