<div class="wrapper">
    <app-header></app-header>
    
    <div class="page-wrapper">
        <div class="container-fluid">
                 
    
              <div class="row">
                <div class="col-md-12">
                    
                    <div class="card top-account-info">
                      <div class="title-info">
                          <div class="row">
                               <div class="col-md-6">
                                 
                                <div class="account-title">
                                   <p> <span class="btn btn-default btn-sm" (click)="previousPage()"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Tasks</span>
                                  </p>
                                  <h6>{{taskdata?.TaskTitle}}</h6>
                               </div>
                            
                               </div>
                              <div class="col-md-6">
                                  <div class="pull-right pt-15">  
                                    <ng-container *ngIf="taskdata?.TaskStatus != 'completed'; else completedLbl">
                                        <div class="dropdown ddmenu">
                                          <button class="btn  btn-default btn-sm   dropdown-toggle task-ddmenu" type="button" id="dropdownMenu"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Status</button>
                                      
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                              <button class="dropdown-item" type="button"
                                              (click)="rescheduleTaskBtnClick(rescheduleTaskModal,taskdata?.TaskId)">Reschedule</button>
                                              <!-- <button class="dropdown-item" type="button">Send an email</button> -->
                                              <button class="dropdown-item" type="button"
                                              (click)="markAsCompleted(taskdata?.SequenceDetailId,taskdata?.TaskIntId)">Mark as completed</button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #completedLbl>
                                        <div style="background-color: #d4ffde!important;color: #0dc136;padding: 5px;min-width:85px;max-width: 85px;text-align:center;"><span>Completed</span></div>
                                      </ng-template>
                                  
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="details">
                          <div class="row">
                              <div class="col-md-2">
                                <h4 class="details-title">Assignee Name</h4>
                                <p class="details-info">
                                   {{taskdata?.AssigneeName}}
                                  </p>
                              </div>
                              <div class="col-md-2">
                                <h4 class="details-title">Due Date</h4>
                                <p class="details-info">		 
                                  {{taskdata?.FormatedDueDate}}
                                </p>
                                 
                              </div>
                              <div class="col-md-2">
                                <h4 class="details-title">Status</h4>
                                <!-- <p class="details-info">{{activityresponse?.ContactInfo?.designation?activityresponse?.ContactInfo?.designation:'NA'}}</p> -->
                                <p class="details-info">
                                  {{taskdata?.TaskStatus}}
                                    </p>
                              </div>
                              <div class="col-md-2">
                                <h4 class="details-title">Related to</h4>
                                <p class="details-info ">
                                {{taskdata?.AccountName}}
                                </p>	
                              </div>
                             
                          </div>
                        
                      </div>
                    </div>
                </div>
                 
              </div>
    
              
        
          <div class="">
    <div class="page-header">
        <div class="row">
            <!-- <div class="col-6 my-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/contacts">Contacts</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)" class="active">Contact Name</a>
                        </li>
                    </ol>
                </nav>
            </div> -->
            <!-- <div class="col-6 text-right">
                <div class="page-header-links">
                    <ul class="d-flex float-right">
                        <li>
                            <a class="header-btn" data-toggle="modal" data-target="#createContactModal">
                                <i class="fa fa-plus mr-2"></i>Contact
                            </a>
                        </li>
                        <li>
                            <a class="header-btn no-border">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="contact-information left-info">
                <div class="card">
             
                <div class="contact-det">
                    <h6>Task Info</h6>
                    <div class="row">
                       
                        <div class="col-md-12">
                            <h4>Subject</h4>
                            <p>{{taskdata?.TaskTitle}}</p>
                        </div>
    
                        <div class="col-md-12">
                            <h4>Task Type</h4>
                            <p>{{taskdata?.TaskType}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Status</h4>
                            <p>{{taskdata?.TaskStatus}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Priority</h4>
                            <p>{{taskdata?.Priority}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Created By</h4>
                            <p>{{taskdata?.CreatedBy}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Last Modified by</h4>
                            <p>{{taskdata?.ModifiedBy}}</p>
                        </div>
                        <div class="col-md-12">
                            <h4>Assignee Name</h4>
                        <p>
                            {{taskdata?.AssigneeName}}          
                            </p>			
                        </div>
                        <div class="col-md-12">
                            <h4>Related To</h4>
                            <p>
                                {{taskdata?.AccountName}}
                            </p>
                        </div>

                        <div class="col-md-12">
                            <h4>Due Date</h4>
                            <p> {{taskdata?.FormatedDueDate}}</p>
                        </div>
    
                       
                    </div>
                
                </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9">
            <div class="contact-details">
                <div class="card">
                <ul class="grid-settings d-flex border-btm">
                    <li class="pos-rel">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="email-tab-list" data-toggle="tab" href="#email-tab-list"
                                role="tab">Emails</a>
                                <a class="nav-item nav-link" id="attachment-tab-list" data-toggle="tab" href="#attachment-tab-list"
                                  role="tab">Attachments</a>
                            
                            </div>
                        </nav>
                    </li>
                </ul>
                <div class="tab-content bg-variant-1">
                    <div class="tab-pane fade show active" id="email-tab-list" role="tabpanel" aria-labelledby="contact-act-tab">
                        
                        <div class="contact-notes">
                            <div class="header">
                                <h4 class="fs-16">Emails</h4>
                            </div>
                            <div class="notes-list">
                                 <p>No data Available</p>
                            </div>
                        </div>
                    </div>
             
                    <div class="tab-pane fade" id="attachment-tab-list" role="tabpanel" aria-labelledby="contact-notes">
                        <div class="contact-notes">
                            <div class="header">
                                <h4 class="fs-16">Attachments </h4>
                            </div>
                            <div class="notes-list">
                                 <p>No data Available</p>
                            </div>
                        </div>
                    </div>
              
                 
                </div>
            </div>
            </div>
        </div>
    </div>
    
   <!-- Reschedule task Modal -->
   <ng-template #rescheduleTaskModal>
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="confirmation-content">
          <h4>Provide reschedule date</h4>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label>Due Date:</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                  [(bsValue)]="bsValue" value="{{ taskdata?.FormatedDueDate | date:'dd/MM/yyyy' }}">

              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="rescheduleConfirmClick()">Reschedule Task</button>
        <button class="btn btn-danger" (click)="rescheduleTaskmodalRef.hide()">Cancel</button>
      </div>
    </div>
  </ng-template>
  <!-- Reschedule task Modal ends here -->
  
    </div>
    </div>
    </div>
    </div>
