.create-template .form-group {
  border-bottom: 1px solid #ccc;
  margin: 0 !important;
}

.fr-toolbar {
  border: none;
}

.fr-box.fr-basic>div {
  border: none !important;
}

ul.template-custom>li {
  font-weight: 600;
  color: #3c415e;
}

ul.template-custom>li:hover {
  text-decoration: underline;
}

.txt-custom-format {
  border: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 5px 0;
  font-size: 1rem !important;
  line-height: 1.5;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-bottom: 1px solid #dc3545 !important;
}

.activityBlock {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(44, 62, 80, 0.33);
  position: relative;
}

.iconBlock {
  vertical-align: unset !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff !important;
}

.stage-badge:before {
  display: none
}
.alert-msg{
  color: #fd7f25;
    font-size: 12px;
    display: block;
}

.task-badge-normal{background-color: #d4ffde!important;color:#0dc136;font-weight: 500;padding:5px 10px;display: block;
  max-width: 70px;
  min-width: 70px;
  text-align: center;text-transform: capitalize;}
.task-badge-high{background-color: #ffd5d5!important;color:#ef0000;font-weight: 500;padding:5px 10px;display: block;
  max-width: 70px;
  min-width: 70px;
  text-align: center;text-transform: capitalize;}
.contacts-grid p{margin-bottom: 0px;}