@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  overflow-x: hidden;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 14px;
}

a {
  color: #5951ff;
  text-decoration: none;
}

a:hover {
  color: #e55300;
  text-decoration: none;
}

.text-blue {
  color: #5951ff;
}

.text-blue:hover {
  color: #e55300;
}

.logo_img {
  height: 45px;
}

.form-control {
  height: 2.5em !important;
  box-shadow: none;
  font-size: 13px !important;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #5951ff !important;
}

.theme-btn,
.btn-theme {
  background-color: #5951ff !important;
  color: #fff !important;
}

.theme-btn:focus,
.btn-theme:focus {
  box-shadow: none !important;
}

.theme-btn:hover,
.btn-theme:hover {
  background-color: #453dec !important;
  color: #fff !important;
}

.inline-block {
  display: inline-block !important;
}
.fw-500{font-weight: 500;}
.w-10 {
  width: 10%;
}

.pr-10 {
  padding-right: 10px;
}
.ml-10{margin-left: 10px;}
.f-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-16{font-size:16px;}
.fs-80{font-size:80%;}
.ml-20{margin-left:20px;}
.float-right {
  text-align: right;
}

.pos-rel {
  position: relative;
}

.pull-right {
  float: right;
}

.btn:focus {
  box-shadow: none !important;
}

.cursor-none {
  cursor: unset !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.custom-select {
  font-size: 14px;
}

.custom-select:focus {
  box-shadow: none;
}

table {
  border: 1px solid #eee;
}
.breadcrumb{background-color: transparent !important;}
/* Login Page, Forgot Password Page, Sign Up Pages Styles*/

.login_sidenav {
  height: 100%;
  background-color: #5951ff;
}

.login_main {
  padding: 0px 10px;
}

.login-form,
.register-form,
.forgotpassword-form {
  box-shadow: 0px 0px 10px 2px #e5e4ff;
  padding: 20px;
}

.has-icon i {
  color: #4f67b0;
  cursor: pointer;
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  right: 10px;
  z-index: 2;
}

.signup_text a {
  color: #5951ff;
  text-decoration: none;
}

.signup_text a:hover {
  color: #e55300
}

.forgot_pass_text a {
  color: #000;
  text-decoration: none;
}

.forgot_pass_text a:hover {
  color: #e55300
}

.back-link {
  display: block;
}

/* Ends Login Page Styles */

/* navbar */
.navbar {
  padding: 0px 10px !important;
  background-color: #566FC9;
  height: 50px;
}

.navbar-brand {
  width: 125px;
}

.top-ddmenu.dropdown-toggle::after {
  display: none;
}

.top-dropdown-menu {
  right: 0px !important;
  left: unset !important;
  padding-bottom: 0px;
  min-width: 180px;
  box-shadow: 1px 1px 1px 1px #cad6ff;
  border-radius: 0px;
}

.top-dropdown-menu:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 15px;
  border-color: transparent transparent #fff transparent;
  border-width: 10px;
  display: block;
  border-style: solid;
}

.top-dropdown-menu a:hover {
  color: #566FC9;
}

.top-dropdown-menu a:focus {
  background-color: #fff !important;
}

.top-dropdown-menu .dropdown-item {
  padding: 5px 10px
}

.top-dropdown-menu .dropdown-item i {
  margin-right: 5px;
}

.top-dropdown-menu .dropdown-item:hover:last-child {
  color: #566fc9;
}

.top-dropdown-menu .dropdown-item:last-child,
.top-dropdown-menu .dropdown-item:focus:last-child,
.top-dropdown-menu .dropdown-item:visited:last-child {
  background-color: #fff !important;
}

/* left sidebar menu */


.fixed-sidebar-left {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 70px;
  margin-left: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.expand.fixed-sidebar-left {
  margin-left: 0px;
  width: 225px;
}

.expand.fixed-sidebar-left .menu-title {
  width: 100% !important;
  margin-top: 12px;
}

.expand.fixed-sidebar-left .menu-title {
  display: block;
  background-color: #f7f7f9;
  color: #000;
  min-width: unset;
  top: 5px;
  max-width: 100px;

  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}
.expand.fixed-sidebar-left .menu-title:before {
  display: none;
}

.expand.fixed-sidebar-left .side-nav li a.active {
  background-color: #e0e7ff;
}

.expand.fixed-sidebar-left .side-nav li a.active .menu-title {
  background-color: #e0e7ff;
}


.expand.fixed-sidebar-left .pull-right {
  display: block;
}

.expand.page-wrapper {
  margin-left: 225px;
}

span.toggle-left-nav-btn {
  color: #5c5c5c;
  position: relative;
  line-height: 59px;
  margin-right: 30px;
  margin-left: 15px;
}

span.toggle-left-nav-btn i {
  font-size: 18px;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
}

.menu-title,
.fixed-sidebar-left {
  align-self: center;
}

.menu-title {
  padding: 6px 10px;
  background-color: #566fc9;
  min-width: 110px;
  margin-left: 0px;
  color: #fff;
  display: none;
  position: absolute;
  left: 70px;
  top: 15px;

  -webkit-animation: fadeOutFromBlock 0.5s ease-out;
  -moz-animation: fadeOutFromBlock 0.5s ease-out;
  -o-animation: fadeOutFromBlock 0.5s ease-out;
  animation: fadeOutFromBlock 0.5s ease-out;
}

.menu-title:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #566fc9;
  border-left: 8px solid transparent;
  position: absolute;
  display: inline-block;
  left: -15px;
}

.side-nav li a:hover .menu-title {
  display: block;
  /* top: 15px; */
  transition: top 400ms ease 0s;
}
.side-nav {
  border: none;
  height: 100%;
  min-height: 500px;
  width: 100%;
  position: relative;
  border-radius: 0;
  margin: 0;
  border-right: 1px solid #e5e5e5;
  background-color: #f7f7f9;
  min-height: 500px;
}

.side-nav li a {
  color: #212121;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  position: relative;
}

.side-nav li a:hover {
  /* background-color: #e0e7ff; */
  color: #566fc9;
}

.side-nav li a:hover i {
  color: #566fc9;
}

.side-nav li a i {
  font-size: 22px;
  color: #777;
  padding: 20px;
  width: 70px;
  text-align: center;
}

.side-nav li a i:hover {
  color: #566fc9;
}

.side-nav li a.active i {
  background-color: #e0e7ff;
  color: #566fc9;
}

.side-nav li:first-child a.active {
  border-right: 0px;
}

.side-nav li a.active i {
  color: #566fc9;
}

.side-nav li:hover a {
  color: #566FC9;
}

.side-nav li.active a {
  color: #f174bf;

}

.side-nav li ul li a {
  color: #212121 !important;
}

.side-nav li ul li a i {
  font-size: 18px !important;
  padding-top: 0px;
}

.side-nav li ul li:hover a,
.side-nav li ul li a:hover {
  color: #566FC9 !important;
}

/* page wrapper */

.page-wrapper {
  margin-left: 70px;
  padding: 70px 15px 15px 15px;
  background: #f4f5f7; 
  /* background:#f5f6fa; */
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  min-height: calc(100vh);
}

.body-content {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);
  min-height: calc(100vh - 150px);
  margin-bottom: 30px
}

.page-header {
  margin-bottom: 10px;
}

.page-title {
  /* color: #566fc9 !important; */
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.add-btn-icon,
.add-btn-icon:hover {
  background-color: #566fc9;
  border: 1px solid #566fc9;
  color: #fff;
}

.add-btn {
  background-color: #566fc9d9;
  min-width: 80px;
  text-align: left;
  border: 1px solid #566fc9;
  color: #fff;
  font-size: 14px;
}

.add-btn:hover {
  background-color: #566fc9;
  border: 1px solid #566fc9;
  color: #fff;
}

.badge-rounded {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 50% !important;
  color: #989898;
  border-radius: 50%;
  padding: 2px !important;
  letter-spacing: 0 !important;
}

.owner-badge {
  background-color: #eee !important;
  color: #444 !important;
  font-weight: 600 !important;
}

.owner-badge:hover {
  background-color: #ffb42b !important;
  color: #000 !important;
  cursor: default;
}

.table-wrap{border:1px solid #f3f3f3;}

.table-wrap thead {
  /* background-color: #fff; */
  background-color: #fafafe;
  color: #000;
  
}

.table-wrap thead th {
  font-weight: 500;
  border-bottom: 0px;
  border-top:0px !important;
  height: 52px;
  vertical-align: middle;
}
.table-wrap tbody tr:nth-child(even){
  background-color: #fafafe;
}
/* .table-wrap tbody tr:hover {
  /* background-color: #f5f5f5; 
} */

.table-wrap tbody tr:hover .owner-badge {
  background-color: #ffb42b !important;
}

.table-wrap tbody td {
  border-top:0px;
  color: #676B79;
  font-size: 14px;
  height: 50px;
  /* padding: 0 10px; */
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}

.table-wrap h4 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 400;
}

/* .table-wrap h4 a {
  color: #0a39e2;
} */

.filters-settings {
  display: flex;

}

.filters-settings a {
  color: #000;
  position: relative;
  padding: 0 20px;
}

.filters-settings a:first-child {
  padding-left: 0px;
}

.filters-settings a:after {
  content: '';
  width: 1px;
  height: 10px;
  background: #000;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
}

.filters-settings a:last-child:after {
  display: none;
}

.filters-settings a.active {
  color: #566fc9;
  font-weight: 600;
}

.filters-settings .nav-tabs {
  border-bottom: 0px !important;

}

.filters-settings ul .nav-item a {
  display: flex;
}

.filters-settings ul .nav-item a {
  color: #000;
  padding: 0rem 1rem !important;
  position: relative;
}


.filters-settings ul .nav-item a:after {
  content: '';
  width: 1px;
  height: 10px;
  background: #000;
  display: block;
  position: absolute;
  top: 5px;
  right: 2px;
}

.filters-settings ul .nav-item:first-child a {
  padding-left: 0px !important;
}

.filters-settings ul .nav-item:last-child a:after {
  display: none;
}

.filters-settings ul .nav-item a:hover {
  border: 1px solid transparent !important;
}

.filters-settings ul .nav-item a.active {
  color: #566fc9;
  font-weight: 600;
  border-bottom: 0px !important;
  border-color: transparent !important;
}

.filters-settings ul .nav-item-custom{
  display: inline-block;
  border: 1px solid #ced4da;
  cursor: pointer !important;
  padding: 10px !important;
  text-transform: uppercase;
  color: #666;  
}

.filters-settings ul .nav-item-custom:hover{
  display: inline-block;
  border: 1px solid #ced4da;
  cursor: pointer !important;
  padding: 10px !important;
  color: #fd7f25 !important;
  border-bottom: 1px solid #fd7f25 !important;
}


.filters-settings ul .nav-item-custom a.active {
  color: #fd7f25 !important;
  font-weight: 600; 
  border-bottom: 0px !important;
  border-color: transparent !important; 
}
/* .filters-settings ul .nav-item-custom a.active .nav-item-custom{
  border-bottom: 1px solid #fd7f25 !important;
} */

.filters-settings ul .nav-item-custom a:after {
  content: '';
  width: 1px;
  height: 10px;
  background: #000;
  display: none;
  position: absolute;
  top: 5px;
  right: 2px;
}


.pagination {
  margin-bottom: 10px;
}

.pagination-overflow {
  max-width: 80%;
  overflow: auto;
  /* margin-top: 10px; */
}

.pagination .page-item {
  margin: 0px 3px !important;
}

 
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0px;
}

.page-item:first-child .page-link span,
.page-item:last-child .page-link span {
  font-size: 22px;
    line-height: 15px;
}


.page-item .page-link {
   color:#676B79;
   border-radius: 0px;
   min-height: 35px;
   min-width: 35px;
   font-size: 15px;
   text-align: center;
   border: 1px solid #f1f1f1;
}

.page-item.active .page-link {
  background: #fff;
  color: #566fc9 !important;
  border-color: #566fc9 !important;
  font-weight: 600;
   
}

.page-item .page-link:focus {
  box-shadow: none !important;
}

.modal-content {
  /* box-shadow: 2px 0px 6px 2px #a3acd8; */
  padding: 10px;
}

.modal-header {
  border-bottom: 0px;
  padding: 6px 16px;
}

.modal-title {
  font-weight: 500;
    color: #000;
    font-size: 18px;
}

.modal-body label {
  font-weight: 500;
}

.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  box-shadow: none;
}

.modal-footer {
  border-top: 0px;
}

.bs-datepicker-container {
  padding: 0px;
}

.btn-grey {
  background-color: #69655d !important;
  color: #fff !important;
}

.btn-grey:hover {
  background-color: #69655d !important;
  color: #fff !important;
}


/* opportunities page css*/
.stage-badge {
  display: inline-flex;
  text-transform: capitalize;
}

.stage-badge:before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-top: 4px;
}

.stage-badge.open {
  color: #fd7f25;
}

.stage-badge.open:before {
  background-color: #fd7f25;
}

.stage-badge.cool {
  color: #9e00ef;
}

.stage-badge.cool:before {
  background-color: #9e00ef;
}

.stage-badge.idle {
  color: #939c05;
}

.stage-badge.idle:before {
  background-color: #939c05;
}

.stage-badge.happy {
  color: #0085ca;
}

.stage-badge.happy:before {
  background-color: #0085ca;
}

.stage-badge.busy {
  color: #479604;
}

.stage-badge.busy:before {
  background-color: #479604;
}

.stage-badge.overload {
  color: #ce2029;
}

.stage-badge.overload:before {
  background-color: #ce2029;
}

.opp-tabs {
  padding-left: 0px;
  margin-bottom: 0px;
}

.opp-tabs li {
  display: inline-block;

  border: 1px solid #ced4da;
  cursor: pointer;
}

.opp-tabs li div {
  display: flex;
  padding: 10px 10px;
}

.opp-tabs li div h4 {
  padding-right: 25px;
  font-size: 14px;
  margin-bottom: 0px;
}

.opp-tabs li div span {
  line-height: 14px;
  margin-top: 2px;
}

.opp-tabs li div h4 a {
  color: #000;
  text-decoration: none;
}

.opp-tabs li div:hover h4,
.opp-tabs li div:hover h4 a {
  color: #fd7f25;
}

.opp-tabs li div h4.class1 {
  color: #fd7f25;
}

.opp-tabs li div h4.class2 {
  color: #939c05;
}

.opp-tabs li div h4.class3 {
  color: #9e00ef;
}

.opp-tabs li div h4.class4 {
  color: #0085ca;
}

.opp-tabs li div h4.class5 {
  color: #ce2029;
}

.opp-tabs li div h4.class6 {
  color: #479604;
}

/* tasks page */
.task-ddmenu {
  background-color: #f7f7f9;
  color: #000 !important;
  min-width: 85px;
}

.ddmenu .dropdown-menu {
  padding: 0px !important;
  margin-top: 0px !important;
  /* min-width:85px;max-width: 85px; */
}

.ddmenu .dropdown-item {
  padding: 0.5rem 1rem !important;
  border-bottom: 1px solid #f3f3f3;
  font-size: 13px;
}

.ddmenu .dropdown-item:hover {
  background-color: #566fc9;
  color: #fff;
}

.bgc-default {
  background-color: #fff !important;
  color: #000 !important;
}

.bgc-primary {
  border: 1px solid #566fc9 !important;
  color: #566fc9 !important;
  font-weight: 600;
  background-color: #bdcbff;
}

.bgc-info {
  border: 1px solid #ea65a2 !important;
  color: #ea65a2 !important;
  font-weight: 600;
  background-color: #ffcae2;
}

.bgc-danger {
  border: 1px solid #f15b26 !important;
  color: #f15b26 !important;
  font-weight: 600;
  background-color: #ffbda5;
}

.bgc-success {
  border: 1px solid #3cb878 !important;
  color: #008a43 !important;
  font-weight: 600;
  background-color: #8deaba;
}

.bgc-warning {
  border: 1px solid #fcb03b !important;
  color: #d27f00 !important;
  font-weight: 600;
  background-color: #fff0d9;
}



.tasks-table .c-name a {
  font-weight: 600;
  text-decoration: none;
}

.tasks-table .tbtn {
  min-width: 65px;
  display: inline-block;
  text-align: center;
  padding: 2px;
  text-transform: capitalize;
}

.tasks-tooltip {
  background-color: #fff;
  color: #000;
}

.fa-phone {
  transform: rotate(90deg);
}

.ShowLess {
  display: block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ShowLessForDesc {
  display: inline-block;
  width: 278px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.tooltip-inner {
  background-color: #ffb42b !important;
  color: #000;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #ffb42b !important;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #ffb42b !important;
}


.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #ffb42b !important;
}


.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #ffb42b !important;
}

/*Ag-grid styles */
.ag-theme-balham {
  font-size: 13px;
}

.ag-theme-balham .ag-root {
  border: 1px solid #f3f3f3 !important;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: 100%;

}

.ag-body-viewport.ag-layout-normal {
  min-height: 200px;
  overflow-y: hidden !important;
  color: #676B79;
  /* border-left: 1px solid #eee; */
}

.ag-theme-balham .ag-pinned-right-header {
  padding-left: 20px !important;
}
.ag-theme-balham .ag-pinned-right-header,
.ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-first-right-pinned:not(.ag-cell-range-left),
.ag-theme-balham .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {

  border-left: 0px !important;
}

.ag-row {
  padding: 10px 0px !important;
}

.ag-row-hover {
  background-color: #fff !important;
}

.ag-theme-balham .ag-row {
  /* border-color: #eee !important; */
  border-color: transparent !important;
}

.ag-column-hover {
  background-color: none;
}

.ag-theme-balham .ag-header {
  background-color: #fafafe !important;
  font-size: 13px;
  font-weight: 500;
  color: #000 !important;
  border-bottom: 0px !important;

}

.ag-theme-balham .ag-header-cell::after,
.ag-theme-balham .ag-header-group-cell::after {
  display: none;
}

.ag-theme-balham .ag-row-odd {
  background-color: #fafafe !important
}

 
.ag-theme-balham .ag-ltr .ag-cell:first-child {
  font-weight: 400;

  text-transform: capitalize;
}

/* .ag-theme-balham .ag-ltr .ag-cell:first-child a {
  color: #0a39e2 !important;
} */
.ag-cell-focus {
  border: 0px !important;
}

.ag-theme-balham .ag-paging-panel {
  color: #000;
  border-top: 0px !important;
}

.ag-theme-balham .ag-paging-page-summary-panel .ag-paging-button.ag-disabled .ag-icon {
  color: #888;
  opacity: 1;
}

.ag-theme-balham .ag-status-bar,
.ag-theme-balham .ag-side-bar {
  border: 1px solid #eee !important;
}

.ag-theme-balham .ag-overlay-loading-center{border:0px !important;}
/* contact page*/
.cinfo-badge {
  color: #444;
}

.cinfo-badge:hover {
  background-color: #ffb42b !important;
  color: #000 !important;
  cursor: pointer;

}

.cinfo-badge1 {
  color: #ffb42b !important;
  background-color: #fff !important;
  border: 1px solid #ffb42b;
  cursor: pointer;
  padding: 0px !important;

}

.cinfo-badge1:hover {
  background-color: #ffb42b !important;
  color: #fff !important;
}

.cinfo-badge2 {
  color: #ef4646 !important;
  background-color: #fff !important;
  border: 1px solid #e27171;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge2:hover {
  background-color: #ef4646 !important;
  color: #fff !important;
}

.cinfo-badge3 {
  color: #0593bd !important;
  background-color: #fff !important;
  border: 1px solid #62c5e2;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge3:hover {
  background-color: #0593bd !important;
  color: #fff !important;
}

.cinfo-badge4 {
  color: #cc48c7 !important;
  background-color: #fff !important;
  border: 1px solid #ec8ae9;
  cursor: pointer;
  padding: 0px !important;
}

.cinfo-badge4:hover {
  background-color: #cc48c7 !important;
  color: #fff !important;
}

.ag-theme-balham .ag-column-drop-horizontal.ag-column-drop {
  border: none !important;
  background-color: #fff !important;
}

.ag-theme-balham .ag-column-drop-horizontal {
  background-color: #eeeeee !important;
}

/* dashbaord page */
.count-tabs {
  padding: 0 15px;
  border-bottom: 1px solid #eee;
  overflow-x: auto;
  margin-bottom: 10px !important;
  list-style: none;

}

.count-tabs li {
  border: 1px solid #eee;
  min-width: 100px;
  background-color: #f9f9f9;
}

.count-tabs .count {
  padding: 10px;
  /*  border-right: 1px dashed #ccc;*/

  word-break: break-word;
  margin: 2px 0;
  cursor: pointer;
  position: relative;
}

.count-tabs li:last-child .count {
  border-right: 0;
}

.count-tabs .count h4 {
  font-size: 14px;
}


.view-badge {
  background-color: #eee !important;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  text-align: center;
  border-radius: 50% !important;
  color: #444;
  border-radius: 50%;
  padding: 2px !important;
  letter-spacing: 0 !important;
  margin: 0px 5px;

}

.view-badge:hover {
  background-color: #ffb42b !important;
  color: #000 !important;
  cursor: pointer !important;
}

.grid-settings {
  list-style: none;
  padding-left: 0px;
}

.grid-settings .nav-tabs {
  border-bottom: 1px solid #e0e7ff;
}

.grid-settings .nav-tabs .nav-item.show .nav-link,
.grid-settings .nav-tabs .nav-link.active {
  color: #566fc9;
  background-color: #e6e7ff;
  border-color: #dee2e6 #dee2e6 #e0e7ff;
  font-weight: 500;
}

.contact-det ul {
  list-style: none;
}

.contact-det ul li {
  padding: 10px 0px;
}

.ac-badge {
  font-size: 36px;
  background-color: #eee;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 2.2em;
  display: inline-block;
}

.contact-activities,
.notes-list {
  max-height: 500px;
  overflow-y: auto;
  /* padding: 0px 10px; */
}

.sequence-step-details tr td{color:#676B79}
.bg-white{background-color: #fff;}
.contact-information{padding:20px 15px;height:100%;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/**********
  iPad 3
  **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  body {
    font-size: 13px;
  }

  .btn {
    padding: .2rem .5rem;
  }

  /* Styles */
  .login_sidenav {
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .logo_wrapper {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
  }

  .login_main {
    margin-left: 50%;
  }

  .login-form {
    margin-top: 25%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .register-form {
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .forgotpassword-form {
    margin-top: 30%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  body {
    font-size: 16px;
  }

  .btn {
    padding: .375rem .75rem;
  }

  .logo_img {
    height: 58px;
  }

  .form-control {
    height: 3em !important;
  }

  .login-form {
    margin-top: 30%;
    width: 50%;
  }

  .register-form {
    margin-top: 20%;
  }

  .forgotpassword-form {
    margin-top: 35%;
    width: 50%;
  }

  .page-title {
    font-size: 1.5rem;
  }

  .stage-badge:before {
    margin-top: 7px;
  }

  .page-item .page-link {
    height: 35px;
    width: 35px;
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    height: 35px;
    width: 35px;
  }

  .page-item:first-child .page-link span,
  .page-item:last-child .page-link span {
    font-size: 30px;
  }

  .custom-select {
    font-size: 1em;
  }

}

/* Khaleel CSS */
.nonactive {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #ffb42b;
  opacity: 0.85;
}

.highlightedIcon{
  background-color: #ffb42b;
  color: #fff;
}

.form-group.required .control-label:after {
  content:"*";color:red;
}
.error-message {
  color: red;
}

.txtSearch.ng-select>.ng-select-container .ng-arrow{
  display: none !important;
}
.custom-circle{
  font-size: 22px;
  margin-top:10px;
  color:#fff;
}

.profile-circle{
  font-size: 18px;
  background-color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  /* padding-left: 4px; */
  text-align: center;
}
.profile-title{
  font-weight: 600;
}

/* khaleel css end here */
.scrollable-container{
  max-height: 280px;
    overflow-y: auto;
}
.ag-row{
  padding: 0px !important;
}
.ag-cell{
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
}
.lr-p10{
  padding: 0 10px;
}
.alert{
  padding: 5px 10px !important;
}

/* icon waves */
.dots { background:#eb3d3d !important; }
		.dots { height: 5px; width: 5px;margin-top: 8px; font-size: 0; text-align: center; padding: 0; position: absolute; animation: shadow-pulse-dots 1s infinite; border-radius: 50%; -webkit-border-radius: 50%; }
		@keyframes shadow-pulse-dots {
		  0% { box-shadow: 0 0 0 0px rgba(252, 251, 251, 0.2); }
		  100% { box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); }
		}
		@keyframes shadow-pulse {
		  0% { box-shadow: 0 0 0 0px rgba(241, 87, 115, 0.2); }
		  100% { box-shadow: 0 0 0 15px rgba(241, 87, 115, 0); }
		}

/* End here */




.contact-page .ag-theme-balham {
  font-family: 'Poppins', sans-serif!important;
}

.contact-page .ag-theme-balham .ag-header {
  background-color: #f8f9fa!important;
  
  border-bottom: 1px solid #eff2f7!important;
  font-family: 'Poppins', sans-serif!important;
}

.contact-page .ag-header-cell-label .ag-header-cell-text{ 
  color: #495057!important;
  font-weight:600!important;
  font-size: 13px!important;}

   .contact-page .ag-theme-balham .ag-row-odd {
    background-color: inherit !important;
  } 

  .contact-page .ag-row {
    /* padding: .75rem!important; */
    vertical-align: top!important;
    border-top: 1px solid #dee2e6!important;
  }
  
  .contact-page .ag-row-hover,   .contact-page .ag-theme-balham .ag-row-odd:hover{
    color: #495057 !important;
    background-color: #f8f9fa!important;
  }
 
  .contact-page .ag-theme-balham .ag-ltr .ag-cell:first-child span a{color: #556ee6!important;font-size: 14px!important;font-weight: 500!important;}
  .contact-page .ag-theme-balham .ag-ltr .ag-cell:first-child span a:hover{text-decoration: underline;color:#556ee6!important;}
.contact-page .ag-theme-balham .ag-root{border:0px!important}
.contact-page .view-badge, .contact-page .badge {
   background-color: transparent !important;  
    width: inherit!important;
   height:  inherit!important;
  line-height: 30px;
  font-size: 13px;
    text-align: center;  
   border-radius: inherit!important;
  color: #495057;
  border-radius: inherit!important;
    padding: inherit!important;
  letter-spacing: inherit!important;
  margin: 0px 10px;
}

.contact-page .view-badge:hover, .contact-page .badge:hover{color:#556ee6!important;}

 
.tasks-page{
  font-family: 'Poppins', sans-serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
}
 

.tasks-page .page-title-box {
  padding-bottom: 24px;
}
.tasks-page  .page-title-box .breadcrumb {
  background-color: transparent;
  padding: 0;
}

.tasks-page .breadcrumb-item>a {
  color: #495057;
}
.tasks-page .page-title-box h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px!important;
}
.tasks-page .font-size-14 {
  font-size: 14px!important;
}	
.tasks-page .card{border:0px !important;}

.tasks-page .table-wrap{border:0px !important}
.tasks-page .table-wrap tbody tr:nth-child(even) {
  background-color: transparent;
}
.tasks-page .table{color:#212529!important;}
.tasks-page .table .thead-light{background-color: transparent!important;}
.tasks-page .table .thead-light th {
  color: #495057!important;
  background-color: #f8f9fa!important;
  border-bottom:2px solid #eff2f7!important;
  height: 100%!important;
  font-weight: 600!important;
  border-top: 1px solid #eff2f7!important;
}
 
.tasks-page .table-wrap tbody tr:hover {
  color: #495057;
  background-color: #f8f9fa;
}

.tasks-page .table-wrap h4 a{color: #343a40!important;
  font-size: 14px!important;
  font-weight: 500;}
  .tasks-page .table-wrap h4 a:hover{text-decoration: underline;color: #556ee6!important;}

  .tasks-page .table-wrap td .d-block{color: #6c757d!important;}
.tasks-page .table-wrap tbody td{border-top:1px solid #dee2e6 !important}

.tasks-page .table-wrap tbody td {
  
  color: #212529;
  font-size: 13px;
  height: 100%;
  /* padding: 0 10px; */
  /* padding: 0.5rem 0.75rem; */
  vertical-align: middle;
}


.tasks-page .badge-soft-primary[href]:focus, .badge-soft-primary[href]:hover {
  color: #556ee6;
  text-decoration: none;
  background-color: rgba(85,110,230,.4);
}
.tasks-page .badge-soft-primary {
  color: #556ee6;
  background-color: rgba(85,110,230,.18);
  font-weight: 500;
  font-size:11px;
}

.tasks-page .badge-soft-success[href]:focus, .badge-soft-primary[href]:hover {
  color: #57c15a;
  text-decoration: none;
  background-color: rgb(212 255 222);
}
.tasks-page .badge-soft-success {
  color: #57c15a;
  background-color: rgb(212 255 222);
  font-weight: 500;
  font-size:11px;
}

.tasks-page .badge-soft-danger[href]:focus, .badge-soft-primary[href]:hover {
  color: #ef0c41;
  text-decoration: none;
  background-color: rgb(226 19 86 / 18%);
}
.tasks-page .badge-soft-danger {
  color: #ef0c41;
  background-color: rgb(226 19 86 / 18%);
  font-weight: 500;
  font-size:11px;
}
.tasks-page .font-size-11 {
  font-size: 11px!important;
}

.tasks-page .table-hover tbody tr:hover {
  color: #495057;
  background-color: #f8f9fa;
}
/* .tasks-page .avatar-title {
  align-items: center;
  background-color: #556ee6 !important;
  color: #fff !important;
  display: flex;
  font-weight: 500 !important;
  height: 100%;
  justify-content: center;
  width: 100%;
  height: 2rem;
  width: 2rem;
  font-size: 13px;
    text-transform: uppercase;
}

.tasks-page .owner-badge:hover {
    background-color: #556ee6 !important;
    color: #fff !important;
    cursor: default;
}

.tasks-page .table-wrap tbody tr:hover .owner-badge{background-color: #556ee6 !important;
  color: #fff !important;}

  .tasks-page .bs-tooltip-right .arrow::before{ border-right-color: #556ee6 !important;}
  .tasks-page .tooltip-inner {
    background-color: #556ee6 !important;
    color: #fff;
}
.tasks-page .rounded-circle {
  border-radius: 50%!important;
}
.tasks-page .avatar-xs {
  height: 2rem;
  width: 2rem;
} */

.pagination-rounded .page-link {
  border-radius: 30px!important;
  margin: 0 3px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  line-height: 32px;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #74788d;
  background-color: #fff;
  border: 1px solid #ced4da;
}
.tasks-page .page-item.active .page-link {
  z-index: 3;
  color: #fff!important;
  background-color: #556ee6;
  border-color: #556ee6;
  border-radius: 30px!important;
    margin: 0 3px;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    line-height: 32px;
    min-width: auto;
    min-height: auto;
    font-size: 13px;
    font-weight: 400;
}
.tasks-page .page-item.active .page-link:hover{color: #fff!important;
  background-color: #556ee6;}
.tasks-page .page-item .page-link{border:0px;}
.tasks-page .page-item .page-link {
  border-radius: 30px!important;
  margin: 0 3px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 35px;
}
.tasks-page .page-item .page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.top-account-info{border-radius: 10px;box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);border:0px;margin-bottom:10px;}

  .top-account-info .title-info{padding:10px 10px;border-bottom: 1px solid #f5f5f5;background: #e6e7ff!important;border-top-left-radius: 10px;border-top-right-radius: 10px;}
  .top-account-info .title-info h4{font-size:12px;}
  /* .top-account-info .title-info h6{margin-bottom: 0px;} */
  .top-account-info .title-info .badge-wrap{background-color: #566fc9;color: #fff;font-weight: 500;font-size: 16px;border-radius: 50%;
    height: 36px;width: 36px;line-height: 31px;display: inline-block;}
    .top-account-info .title-info .btn{border: 1px solid #ddd;
      color: #566fc9;
      font-size: 12px;
      margin-top: 5px;
      background: #fff;
      border-radius: 5px;
      font-weight: 500;}
     
    .top-account-info .title-info .account-title h4{color: #888;}
    .top-account-info .title-info .account-title span i:hover{color: #40008b;cursor: pointer;}
    .top-account-info .title-info .account-title p{margin-bottom: 5px!important;}
.top-account-info .details{padding: 15px 10px;}
.top-account-info .details-padding{padding-top: 10px!important;}
.top-account-info .details ul{list-style: none;padding-left:0px;margin-bottom:0px;}
.top-account-info .details li:first-child{margin-left:15px;}

.top-account-info .details li{display: inline-block;margin-right: 80px;}
.top-account-info .details  h4{font-size:12px;color:#888;}
.top-account-info .details  p {font-size:15px;margin-bottom: 0px;}

.top-account-info .details li  i{color:#566fc9;font-size: 14px;}
.top-ac-stage-info{margin-bottom: 0px;padding-left: 0px;}
.top-ac-stage-info li{display: inline-block;list-style: none;margin-right: 40px;}
.top-ac-stage-info li h4{color: #888;margin-bottom: 2px;font-size: 12px;}
.top-ac-stage-info li span{font-size: 14px;color: #222;}
.left-info{padding: 0px;}
.left-info .card{border-radius: 10px;box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);border:0px;padding: 10px;min-height: 575px;}
.left-info .card ul{padding-left:0px;}
.left-info .card .contact-det h6{/*color: #888;*/margin: 10px 0px 20px 0px;}
.left-info .card .contact-det h4{color: #888;list-style: none;font-size:12px;margin-bottom: 5px;}
.left-info .card .contact-det p{color: #222;font-size:14px;margin-bottom: 20px;}
.left-info .card-body label {font-weight: 600;}
.contact-details .card{border-radius: 10px;box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);border:0px;padding: 10px;min-height: 575px;}
.contact-details .card .header h5{font-size: 18px;    margin-bottom: 15px;}
.contact-details .card .nav-tabs .nav-link{color:#444;}
.contact-details .card a{color: #566fc9;}
.contact-details .card a:hover{color: #566fc9;text-decoration: underline;}
.ShowLessForDesc1 {
  display: inline-block;
  width: 130px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pt-20{padding-top:20px;}
.mr-10{margin-right:10px;}