<div class="d-flex">
  <span class="badge badge-rounded badge-outline cinfo-badge contact-info-badge check mr-2" data-toggle="tooltip"
    title="Log Call" data-placement="left">
    <i class="fa fa-phone fa-rotate-90"></i>
  </span>
  <span class="badge badge-rounded badge-outline cinfo-badge contact-info-badge check mr-2" data-toggle="tooltip"
    title="Email" data-placement="left" (click)="sendEmail()">
    <i class="fa fa-envelope"></i>
  </span>
  <span class="badge badge-rounded badge-outline cinfo-badge contact-info-badge mr-2" data-toggle="tooltip"
    title="Add Task" data-placement="left">
    <i class="fa fa-calendar-alt"></i>
  </span>
  <span class="badge badge-rounded badge-outline cinfo-badge contact-info-badge" data-toggle="modal"
    data-target="#assignSequenceModal">
    <i class="fa fa-location-arrow" data-placement="left" data-toggle="tooltip" title="Add Sequnece"></i>
  </span>
  <span class="view-badge" data-toggle="modal" data-target="#createContactModal">
    <i class="fas fa-id-badge" data-placement="left" data-toggle="tooltip" title="Add Contact"></i>
  </span>
</div>

 